// Slick Carousel
@import 'components/carousel.scss';
@import 'components/slick-theme.scss';
@import 'components/slick.scss';

// layout and styles
@import 'components/layout.scss';
@import 'components/buttons.scss';
@import 'components/nav.scss';
@import 'components/subnav.scss';
@import 'components/banner.scss';
@import 'components/headers.scss';
@import 'components/animations.scss';
@import 'components/overlay.scss';
@import 'components/fonts.scss';
@import 'components/photo-displays.scss';
@import 'components/sidebars.scss';
@import 'components/video.scss';
@import 'components/audio.scss';
@import 'components/article-list.scss';
@import 'components/pagination.scss';
@import 'components/forms.scss';
@import 'components/social-share.scss';
@import 'components/sections.scss';
@import 'components/events.scss';
@import 'components/focus.scss';
@import 'components/search.scss';


body, p, ul li, ol li {
	//font-size: 1.04rem;
	font-size: 1.125rem;
	line-height: 1.6;

	  	@include breakpoint(small down) {
				line-height: 1.3;
			}
}

body::after {
	content:url('../images/ajax-loader.gif');
	position:absolute;
	margin-left:-999px;
	margin-top: -999px;
}

a {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip: ink;
	-webkit-text-decoration-skip-ink: auto;
	text-decoration-skip-ink: auto;

	&:hover {
		color: $anchor-color-hover;
    }

	&.background-ease {

			&:hover {
				transition: background-color 0.5s ease;
				background-color: rgba(0, 0, 0, 0.1);
			}
	}

}


#main-content p a:not(.button-round) {
  text-decoration: underline;
}

img {
	position: relative;
}

/* style this to fit your needs */
/* and remove [alt] to apply to all images */
img[alt]:after {
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: #fff;
 font-family: $body-font-family;
 font-weight: 300;
 font-size: 1rem;
 line-height: 1.2;
 text-align: center;
 content: attr(alt);
}

button {
	line-height: inherit;
}

.clearboth {
	clear: both;
}

i.fa-external-link, span.fa-external-link {
	color: $medium-gray;
	font-size:  0.875rem;
	margin-left: 8px;
}

.border-btm {
	border-bottom: 3px solid $light-gray;
	padding-bottom: 15px;
}

.link-border {
	border-bottom: 2px solid $secondary-color;
	padding-bottom: 2px;
}

.left-align-inner {
	p {
	text-align: left !important;
  }
}

.caption-style {
	font-size: .9rem;
	color: $white;
	font-weight: 400;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,.2);
	padding: 5px 10px;
    @include breakpoint(medium) {
        background-color: rgba(0,0,0,.65);
        border-radius: 5px;
    }


	 a {
        color: $white !important;
        text-decoration: underline;
        text-decoration-color: $white !important;
        &:hover {
            color: #ddd !important;
        }
	 }

	 @include breakpoint(medium down) {
		 font-size: 0.6875rem;
	 }
}

.btns-in-content {
	clear: both;
	margin-top: 10px;

			.button-round {

					&.hollow {
						 color: $secondary-color !important;
						 background-color: $white;
						 border: 2px solid $secondary-color;
						 margin-left: 5px;

						 &:hover {
							 color: $white !important;
							 background-color: $secondary-color !important;
						 }
					}

				  @include breakpoint(small down) {
				    display: block !important;
				    width: 60% !important;
				    margin-top: 15px !important;
						text-align: center !important;
					}

			}

}

.photo-credits-section {
	@include grid-column(12);
	background-color: $background-lighter-gray;
	padding-top: 1%;
    padding-bottom: 1%;
    a {
        text-decoration: underline;
        &:hover {
            color: $link-hover;
        }
    }


	h1, h2, h3, h4, h5, h6, p, span, small {
			color: $dark-gray !important;
			text-align: left;
			margin: 0;
			padding: 0;
	 }

	 h5 {
		 padding-top: 0.088rem;
		 font-weight: 600;
		 font-family: $body-font-family;
		 display: inline-block;
		 margin: 0;
		 width: 5.313rem;
		 margin-right: 5px;
	 }

	 h5, small {
		 font-size: 0.75rem;
	 }

	 p, small {
		 line-height: 1.0;
	 }

	 p {
		 max-width: 100% !important;
		 line-height: 1.0 !important;
	 }

	 // medium only
	 @include breakpoint(medium only) {

			.credits {
				text-align: left !important;
			}
	}

	 // medium down
	 @include breakpoint(medium down) {
		h5, small {
			font-size: 0.625rem;
		 }

	 }

	 // small down
	 @include breakpoint(small down) {
		 @include grid-column(12, 60);

		 p {
			 line-height: 1.2;
		 }
	}

	&.in-page {
		background-color: transparent;
		margin-bottom: 2%;

		@include breakpoint(small down) {
			margin-bottom: 0;

			h5 {
				width: 100%;
			}

			h5, p, small {
				text-align: center !important;
			}

		}
	}

}//end photo-credits-section

#bp-article-content {

	  p, ul, ol {
			margin: 0;
			padding: 0;
			max-width: 640px;
			font-size: 1.125rem;
			font-weight: 400;
			color: $black;
			letter-spacing: 0;
			line-height: 1.6;
			margin-bottom: 20px;
		}

		p {
			&.intro, &.across {
				max-width: none;
			}



			&.article-excerpt {

				a {
                font-weight: 600;
                text-decoration: underline !important;

						 &:hover {
							 color: $link-hover;
						 }
		  	}
			}

		}

		.centered-col-6, .centered-col-8, .centered-col-10, .centered-col-12 {
			 p {
				 max-width: 100%;
				 width: 100% !important;
				 text-align: left !important;
				 float: none;
			 }

			 h3 {
				 	text-align: center;
			 }
		}

		.full-bleed.light {
			a {
				color: $secondary-color;
				text-decoration-color: $secondary-color;
				font-size: 1.5rem;

				 &:hover {
					 color: $secondary-darker;
					 text-decoration-color: $secondary-darker;
				 }

				 &.button-round {
					 color: $white;
					 margin-top: 20px;
					 text-shadow: none;

						 &.orange {
							 margin-top: 0;
							 background-color: $primary-color;
                         }
				 }

				 @include breakpoint(medium down) {
					 font-size: 1.2rem;
				 }

			}


			&.youtube-banner {

				 a {
					  @extend .hvr-fade;
						color: $white;
						font-size: 5.5rem;
						text-decoration: none;
						display: block;
						text-align: center;
					}
			}


			.caption {

				  a {
						font-size: .9rem;

						//styles for small breakpoints
						@include breakpoint(medium down) {
							font-size: .6875rem;
						}
					}

			}
		}

		a {
			color: $secondary-darker;
			text-decoration: underline;
			text-decoration-color: $secondary-darker;
            font-weight: 500;

					&.button-rectangle, &.button-round {
						color: $white;
						text-decoration: none;
						margin-top: .25rem;

						&.stand-alone {
							display: inline-block;
							margin: 0.75rem 0 1.25rem;
						}

						&:hover {
                            color: $white;
						}
					}

					&.banner_video_button {
					  color: rgba(255,255,255, 1);
					  font-size: 88px;
						line-height: 88px;
						padding: 5px;
						text-align: center;
						display: block;
						margin: 0 auto;


						 &:hover {
							 span {
						     transform: scale(1.1);
								 transition-timing-function: ease;
							 }
						 }

						 //styles for small breakpoints
						 @include breakpoint(medium down) {
								 font-size: 68px;
								 line-height: 68px;
								 padding: 0;
							}

					}

					&.btn-full {
						 display: block;
						 padding: 0.9375rem;
						 border-right: 1px solid $rule-gray;
						 @extend .primary;
						 background-color: $secondary-color !important;
						 color: $white !important;
						 text-align: center;


									 &:hover {
									 color: $light-gray !important;
									 transition: background-color 0.5s ease;
									 background-color: rgba(84, 127, 10, .8)!important;
									 border-bottom: none;
									 text-decoration: none!important;
									 }
					}

				 &:hover {
					 color: $link-hover;
				 }

		}

		.article-list {
			  ul {
				max-width: 100%;
				padding: 0;
				list-style: none;

				  li {
                        margin-bottom: 30px;
                        
                        a {
                            text-decoration: none;
                            &:hover {
                                h4.article-item-header {
                                    text-decoration: underline;
                                    text-decoration-color: $secondary-color;
                                    color: $secondary-darker;
                                }
                            }
                        }
						//min-height: 480px;
					}
				}
        &.simple-list {
          ul {
            li {
              a {
                text-decoration: underline;
              }
            }
          }
        }

				&.staff {
					padding: 0;

					  ul {
							li {
									//min-height: 320px;
									padding-right: 1px;

									h4 {
										a {
											font-size: 1.25rem;
											color: $black;
										}
									}

									.article-excerpt {
										font-size: 0.9375rem;
										color: $dark-gray;
										text-align: left;
										line-height: 1.2;
									}

									.attribution {
										font-size: 1rem;
										text-transform: unset;
										color: $black;
										line-height: 1.2;
										margin-top: 15px;
									}

									p {
										margin-bottom: .25rem !important;
									}
							 }
						}
				}
		}

		.jp-flat-audio {
			max-width: 47%;
		}

		.audio-caption  {
			max-width: 43%;
		}

		.offset-sidebar {

				.jp-flat-audio {
					max-width: 94%;
				}

				.audio-caption {
					max-width: 98%;
				}
		}

		h1, h2, h3,h4, h5, h6 {
		  text-align: left;
		}

		h1 {
			margin-bottom: .5em;
			font-size: 2.125rem;
			font-weight: 400;
		}

		h3 {
			margin-bottom: 1.5rem;
		}

		.youtube-banner {
			 @include breakpoint(medium) {

				 h1 {
					 text-align: center;
					 margin-bottom: .75rem;
				 }
			 }
		}

		section {

			&.text-center {

					h2, h3 {
						text-align: center;
						margin-bottom: 1.125rem;
						max-width: 100% !important;
					}


					h2 {
						max-width: 380px;

						 span {
							 text-align: center;
						 }

						 &.entry-title.summary {
							 text-align: left;
						 }
					}

					&.button-row {

						h4 {
							text-align: center;
						}

						p {
							margin-bottom: .75rem;
							line-height: 1.2;
						}

					}
			 }

			&.buttons-min-width {
				.button-round {
					width: 380px;
			    margin: 0 auto;
			    display: block;
					text-align: center;


						 @include breakpoint(medium down) {
					 		 	 margin: .5rem auto;
					 			 width: 260px;
					   }
				}
			}

		}

		.offset-sidebar.impact-side {

			 .article-list {
				 margin-top: 4%;

				 ul {

					 li {
				 	 	margin-bottom: 1.125rem;
				  	}

			   }

				 &.list-style ul li.article-item {
						min-height: unset;
				 }

			}

		  h3 {
				text-align: left;
				color: $primary-color;
				font-size: 1.18rem;
			}
		}

    ol {
      padding-left: 20px;
      li {
				margin-bottom: 10px;
        padding-left: 10px;
      }
    }

		ul {
			padding: 0 45px;

			&.link-list {
        padding: 0 0 0 30px;

           li {
             max-width: 300px;

								 @include breakpoint(small down) {
									 margin-left: 30px;
									 margin-right: 30px;
									 max-width: 94%;
									 padding: 0;
								 }
           }
      }

			&.styled-list {
				margin: 1rem 3.5rem 1rem .25rem;
				padding: 0;
				list-style: none;

				&.horizontal-list {
					max-width: 100%;
					margin: 0;

						li {
						 display: inline;
						 margin-left: 0.9375rem;
					  }
				}

				 h2, h3, h4, h5 {
					 margin-bottom: 0;
					 color: $black;
				 }

				 p {
					 line-height: 1.2;
					 color: $dark-gray;
				 }

				 @include breakpoint(medium only) {
					 &.styled-list.link-list {
						 margin: 0;
					 }
				 }

				 @include breakpoint(small down) {
					 margin: .5rem auto 0;
					 display: block;
					 padding: 0 .5rem;
					 text-align: center;

					 h5, p {
						 text-align: left !important;
					 }

				 }
			}

			&.tribe-events-sub-nav {
				max-width: 100%;
        width: 100%;
			}

			&.accordion {
				padding: 0;
				width: 60%;

				 br {
					 display: none;
				 }

				 .accordion-title {
					 border: none;
					 font-size: 1.25rem;
					 color: $black;
					 background-color: $light-gray;
					 padding-right: 40px;
					 line-height: 1.2;

					    &:before {
								font-weight: 700;
							}

					    &:hover {
										color: $anchor-color-hover;
							}
				 }

				 .accordion-content {
					 border-bottom: 1px solid #f2f2f2;
				 }

				 @include breakpoint(small down) {
					 width: 100%;
				 }
			}//end .accordion

			&.slick-dots {
				max-width: 100%;
				bottom: unset;
				top: 100%;

			}

			li {
				margin-bottom: 10px;
			}

		}//end ul

		.with-wide-accordion {

			.accordion {
				width: 100%;
				max-width: 100%;
			}

		}

		.partner-cards {
			margin: 0 auto;
			width:  88%;

			 .article-list {
				 margin-bottom: 1rem;

					.article-item {
						height: auto !important;

					   .article-item-media {
						    height: auto !important;
						    margin: 0 auto;
								max-width: 65%;
		            width: 65%;
						 }

						 .article-item-body {
							 padding: 0;

							 h5 {
								 font-size: .9rem;
							 }
						 }
					}

			 }

				p.intro {
					margin: 0 auto;
			    width: 90%;
				}

				p.across {
					margin: 0 auto;
					width: 100%;
					text-align: center;
				}

				.title {
					text-align: center;
				}


			 @include breakpoint(small down) {

				 h2 {
					 margin-bottom: 0;
				 }

				 p.across {
					 text-align: left;
					 padding: 0;
				 }

				 .article-list {

				     .article-item {

								 .article-item-media {
									 max-width: 88%;
    					 		 width: 88%;
									 text-align: center;
								 }

								 .article-item-body {
								   width: 100%;
								 }

						}

					}

			 }
		}//end partner-cards

		.nested-col {
				ul {
					padding: 0;
				}
		}

	  blockquote {
			margin: 0;
			padding: 0;
			display: block;
			max-width: 20%;
			border-left: none;
			margin-bottom: 15px;
			line-height: 1.2;
			float: left;
			margin-left: -60px;
			margin-right: 30px;

			&.right {
				float: right;
				margin-left: 30px;
				margin-right: 300px;
			}

			&.full-width {
				float: none;
				margin: 0 auto;
				max-width: 84%;
				text-align: center;

				  span {
						display: block;
						font-size: 1.125rem;
						margin: .75rem auto;
					}

					@include breakpoint(medium down) {
						max-width: 100%;
					}

					@include breakpoint(small down) {

							span {
								  font-size: .9rem;
							    padding: 0;
							    text-align: center;
							}
					}
			}

			p {
		 	 margin: 0;
			 padding: 0;
		 	 font-family: $header-font-family;
			 font-size: 20px;
			 font-style: normal;
			 font-weight: 600;
			 line-height: 1.5;
			 color: $black;
			}

 }//end blockquote



 		.full-bleed.top-banner {
 			   .text-overlay {

 					 h2 {
 						 font-size: 1.5rem;
						 color: $background-gray;
 						 text-align: left;
						 letter-spacing: normal;
 					 }

					 .styled-banner {

						 span {
							 display: block;
					     font-size: 1.125rem;
					     margin-bottom: .5rem;
						  }
					 }
 				 }

				 &.dark {
					 h1,h2, h3, h4, h5, p, span {
						 color: #f2f2f2;

						 @include breakpoint(small down) {
							 color:#f2f2f2;
						 }
					 }
				 }
 		}

	@include breakpoint(medium down) {

		blockquote {
	 			 margin-left: 0;
	 			 margin-right: 25px;
	 			 max-width: 60%;
	 			 padding: 0 15px;
		 }

		 p {
			line-height: 1.4;
		 	margin-bottom: 0.9375rem;

			 &.article-excerpt {
				 text-align: left;
			 }
		 }

		 .article-list {

		   ul li {
        margin-bottom: 0;
        //min-height: 410px;
		   }

			 &.staff.card-display {
				 ul {
				 	 .article-item {
						 padding-left: 0;
						 min-height: inherit;
						 padding-top: 1.5rem;

						 &:first-child {
							 padding-top: .5rem;
						 }

						 .article-item-media {
							 padding: 0 0 25%;
						 }
					 }
           li {
            &:after {
              clear: both;
              content: " ";
              display: table;
            }
           }
				 }
			 }
		 }//end article-list medium viewport

		  .jp-jplayer {
				clear: left;
			}

			 .jp-flat-audio {
				 max-width: 50%;
				 margin-top: 	2.5rem;
			 }

			 .audio-caption  {
				 max-width: 48%;
			 }

			.offset-sidebar {

				  .jp-flat-audio {
						max-width: 94%;
					}

					.audio-caption {
						max-width: 68%;
					}
			}

	}//end medium breakpoint

	@include breakpoint(small down) {

			h1, h2, h3, h4, h5, h6, p, span, .full-bleed.top-banner .text-overlay h2 {
				text-align: left;
			}

			.text-article-display *, .text-center.three *, .text-right *, .text-center.button-row * {
				text-align: center !important;
			}

			.text-center.button-row {

					.green-style {
						 p {
							 margin-bottom: 0;
							 padding-bottom: .5rem;
						 }
					}
			}

		  p, h3, .video-player {
				max-width: 100%;
				padding: 0 0.9375rem 0.9375rem;
				margin: 0 auto;

				 &.accordion-content {
					 padding: 0;
				 }

				 @include breakpoint(small down) {
						 &.left-align {
							 text-align: left !important;
						 }
				  }
			}

			.video-player {
				padding: 0;

				   small {
						 margin-left: 15px;

							 &.caption-center {

								 @include breakpoint(small down) {
										 margin: .5rem auto;
										 padding: 0 .75rem;
								 }

							 }
					 }
			}

			ul {
				display: inline-block;
				list-style-position: inside;

				 &.slick-dots {
					 display: inherit;
				 }
			}

			.article-list {

			  ul li {
						min-height: inherit;

						 .article-excerpt {
							 padding: 0 0.9375rem;
							 text-align: left;
						 }

						 h4 {
							 padding: 0 .9375rem;
						 }
				}

				&.staff.card-display {
					 ul {
							.article-item {
								border: none;
								border-bottom: 1px solid $light-gray;

								 &:last-child {
									 border-bottom: none;
								 }
							}
					 }
				}

			}

			.video-player {
				margin: 0.5rem auto;
			}

			.zero-padding-top-mobile .video-player {
				@include breakpoint(small down) {
					margin: 0 auto;
				}
			}

			h1, h2, h3, h4, h5, h6, {
				margin: 0 auto 0.3125rem;
				padding: 0 0.9375rem;
			}

			h1 {
				font-weight: 100;
				line-height: 1.3;
				margin: 0.9375rem 0 0.4375rem;
			}

			.full-bleed.top-banner .text-overlay {

				h2 {
				 font-size: 1.125rem;
				 line-height: 1.4;
			  }

			}

			h3 {
				margin: 10px 0;
			}

			h4 {
				padding-bottom: 0.625rem;
			}

			.jp-flat-audio, .audio-caption {
				max-width: 94%;
				margin: 10px auto;
			}

		 .article-list ul {
				margin: 0 0.9375rem;

					.article-excerpt {
						padding: 0;
					}
			}

			blockquote {
				margin: 10px 0;
			}

			.photo {

					small {
								padding: .625rem;
								padding-top: 0;
				  }

			}

			section  {

				&.text-center {

					&.button-row {

								h4 {
									margin:0;
									padding: 0;
								}

								p {
									margin-bottom: 0.375rem;
									line-height: 1.2;

									&.reduced-height {
										@include breakpoint(small down) {
											padding-bottom: .375rem;
											margin-bottom: 0;
										}
									}
								}
						}
					}
			}

	}//end small breakpoint


}//end bp-article-content


.page-template-full-width-template {

		.subnav-wrapper {
			 @include grid-column-row();
			 @include grid-column-position(center);
		}

    #bp-article-content {
			padding: 0;
			max-width: 100%;

			   .full-bleed.top-banner, .full-bleed .article-banner-wrapper {
					 margin-bottom: 0;



								 &.light {

										p {
											color: $white;
											}
								}

								&.youtube-banner {

									  .article-banner-wrapper {
									   background-position: 50% 50%!important;
									 }
								}

								 //styles for small breakpoints
								 @include breakpoint(small down) {
										background-position: 100% 0 !important;
										height: 350px !important;
								 }

				 }//end full-bleed

				 section.text-right h2 {
					 text-align: right;
				 }
		}
}

//Styles for Home Page template
.home {

	.full-bleed.top-banner {
		margin-bottom: 0;

		  .text-overlay-wrapper .text-overlay-middle .text-article-display {
				float: left;
				position: relative;
				left: 8.33333%;
				max-width: 540px;
			}

			&.youtube-banner .video-banner-wrapper {
				margin-left: 0 !important;

									 @include breakpoint(small down) {
										 height: auto !important;
									}
			}

			&.youtube-banner {
				.article-banner-wrapper {
					background-position: 100% 0 !important;
				}
			}
	}


    h1 {
        position: absolute;
        top:-99999px;
        left:-99999px;
    }

    h2 {
        font-family: $header-font-family !important;
        font-size: 1.8rem;
        text-align: center;

        span {
            font-size: 1.25rem;
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;

                &.sans-style {
                    font-family: $body-font-family;
                }
        }
    }

    .banner_video_button {
        color: rgba(255,255,255, 1);
        font-size: 88px !important;
        line-height: 88px !important;
        padding: 5px;
        text-align: center;
        display: block !important;
        margin: 0 auto;


        &:hover {
            span {
                //transform: scale(1.1);
                //transition-timing-function: ease;
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);

                -webkit-transition: all .2s ease-in-out;;
                -moz-transition: all .2s ease-in-out;;
                -ms-transition: all .2s ease-in-out;
            }
        }

  }//end banner video button

   //styles for medium and down breakpoints
   @include breakpoint(medium down) {

        .full-bleed.top-banner {

            .text-overlay-wrapper .text-overlay-middle .text-article-display {
                left: 4%;
                max-width: 420px;
            }
        }

        .banner_video_button {
            font-size: 68px !important;
            line-height: 68px !important;
            padding: 0;
        }

        h2 {
            font-size: 1.375rem;
        }
    }

		//styles for medium and down breakpoints
		@include breakpoint(small down) {
         .full-bleed.top-banner {

					    .text-overlay-wrapper .text-overlay-middle .text-article-display {
								float: none;
								position: static;
							}
					}

					.annotation-txt .article-item-label {
								padding: 0 .625rem !important;
					}
		 }


}//end home


//Staff Styling

.staff {
	padding-bottom: 2%;

	 span.header {
		 text-transform: uppercase;
		 display: block;
		 color: $medium-gray;
		 font-weight: bold;
		 font-size: 0.75rem;
		 letter-spacing: .0125rem;
	 }

	 .staff-title {
		 font-style: italic;
		 margin-bottom: 1.25rem !important;
	 }

	 .staff-progproj {
		 margin-bottom: 0 !important;
	 }

	 .staff-card {

        background-color: $background-gray;
        padding: 1.5rem 0;

		    >div {
					margin: 0;
					max-width: 100%;
					list-style: none;
					padding: 0 .9375rem .5rem;

						 &:first-child {
								// padding-top: 1.5rem;
						 }

						 &:last-child {
								//  padding-bottom: 1.5rem;
							}

					   &.two-span {
							 @include clearfix;

							 >div {
								  width: 50%;
									float: left;
							 }
						 }

				}
	 }

	 .social-row {
		 margin: .75rem 0;
		 vertical-align: middle;

	 		 ul {
				 padding: 0 !important;
				 margin: 0 !important;

				 li {
					 display: inline;

	 					a  {
	 						color: $dark-gray !important;
	 						text-decoration: none !important;
	 						font-size: 1.75rem;
	 						padding-right: .25rem;
							opacity: 0.9;
							filter: alpha(opacity=90); /* For IE8 and earlier */

							  &:hover {
									opacity: 1;
									filter: alpha(opacity=100); /* For IE8 and earlier */
								}
	 					}
					}
	 		 }

	 	 }

		.sidebar-col {
			margin-top: 2.125rem;
		}

}

 .eight-col-center {
	 @include grid-column(8);
	 @include grid-column-position(center);
	 margin-top: 2%;

	 h2 {
		 text-align: left;
	 }

 }

//end staff styles


//Browse Page Toggle
.browse-group-results {


				    .group-instruction {
				    	display: none;
				    }


	/* small down */
    @include breakpoint(small down) {

		    .browse-group-container {

			    .group-list {
			         @include grid-column(12, 0);
			    }

			    .group-results {
           @include grid-column(12, 0);

			    }

					.group-list {
						display: none;
				   }

			    .group-results {
						display: block;
						@include mui-animation(slide(in,left));
						animation-duration: 0.5s;
			    }

		    }

		    .btn-list {

							display:none;
							@include mui-animation(slide(in,left));
							animation-duration: 0.6s;
						i {
							margin-left: 6px;
						}
				}

				.btn-groups {
						display:block;
				}


		    &.hide-it {

			    .group-results {
						display: none;

				    /*.group-instruction {
				    	display: block;
				    }*/
			    }

			    .group-list {
				    display: block;
				    @include mui-animation(slide(in,right));
				   	animation-duration: 0.5s;
			    }


			    .btn-list  {
				    display: block;
						@include mui-animation(slide(in,right));
					  animation-duration: 0.6s;

						  i {
								margin-right: 6px;
							}
			    }

			    .btn-groups {
				    display: none;

			    }

			    /*.group-instruction {
				    display: block;
				    text-align: center;
				    margin: 0;
			    }*/


			}



			/*.group-instruction {
				display: none;
			}*/


    }
}

// Toggle switcher
.toggle-switcher {

	.back-bar.toggle {
		display: none;

		.toggle-switch {

			i.icon-chevron-right {
				margin-right: 6px;
			}
		}

	}


	// small and down
	@include breakpoint(small down) {
		.back-bar.toggle {
			display: block;

		    .toggle-switch {
			    color: $primary-color;
			    background: none;
					vertical-align: middle;;
			    margin: 0;
			    padding: 0;

			    &:hover {
				    color: $primary-darker;
			    }

					i, span {
						position: relative;
            display: inline;

						  &.icon-chevron-left {
								margin-right: 6px;
							}

							&.icon-chevron-right {
								margin-left: 6px;
							}

								&:before {
									position: relative;
									top: 2px;
								}
					}


					&.btn-shapes {
						float: left;
					}

					&.btn-list {
						float: right;
					}

		    }
		}
	}

}//end Toggle switch


//Styles for 2 col displays with article list
 .right-side {
   @include grid-column(2, 0);
   @include grid-col-pos(10);
   text-align: left;
   font-size: 1.125rem;
   line-height: 1.4;

		 @include breakpoint(medium down) {
				 @include grid-column-row(12);
				 @include grid-col-pos(0);
				 padding: 0;
				 margin:.25rem 0;
			}

 }

 .left-side {
	 @include grid-column(2, 0);
	 @include grid-col-pos(0);
	 text-align: left;
	 font-size: 1.125rem;
	 line-height: 1.4;

		@include breakpoint(medium down) {
				@include grid-column-row(12);
				@include grid-col-pos(0);
		 }

 }

//Column styles
.six-col-text-container {
	width: grid-column(6 of 12);


	 .video-player {
		 margin: 0;
		 margin: 1rem 0 1.25rem;
	 }

	 h3 {
		 margin:15px 0;
		 padding: 0;
		 text-align: center;
	 }

		@include breakpoint(medium down) {
				width: grid-column(12 of 12);
				@include grid-col-pos(0);
				@include grid-column-position(center);
				text-align: left;

				.video-player {
					 margin: 1rem 0 .25rem;

					 iframe, .player {
						 max-width: 100% !important;
					 }

					 small {
						color: $light-gray;
						margin-top: 0.25rem;
						padding: 0 0.9375rem 0.3125rem;

						  a {
								color: $rule-gray;

								 &:hover {
									 text-decoration: underline;
								 }
							}

					 }
				}

			 }//end medium breakpoint

			@include breakpoint(small down) {
				.video-player {
					small {
						color: $black;
					}
				}
			}
}

.eight-col-text-container {
	@extend .six-col-text-container;
	@include grid-column(8, 0);

			@include breakpoint(medium only) {
				@include grid-column(12);
			 }//end medium breakpoint


			@include breakpoint(small down) {
				@include grid-column(12,0);
			}//end small and down breakpoints
}

.ten-col-text-container {
  @include grid-row;
  @include grid-column(10,0);
  @include grid-column-position(center);

         @include breakpoint(medium down) {
           @include grid-column(12, 0);
          }//end medium breakpoint


}//end ten-col-text-container

//Left or Right side blocked areas
.background-image-left-side {
  @include grid-column-position(0);
  text-align: left;
}

.background-image-right-side {
  @include grid-column-position(6);
  text-align: right;
}

.background-image-left-side, .background-image-right-side {
  margin-top: 3%;

		@include breakpoint(medium down) {
					@include grid-column(12);
					@include grid-column-position(0);
					font-size: .9rem;
					text-align: left;
					margin-top: 0;
		}
}

//Button Styles
.button-white {
	background-color: transparent;
	color: $white;
	border: 1px solid $white;
	font-size: 1.375rem;
	@extend .background-ease;

		@include breakpoint(medium down) {
			font-size: 1.125rem;
	    padding: .25rem 1.25rem;
		}

}

.button-round {
  background-color: $secondary-color;
  color: $white;
  font-size: 1.5rem;
	font-weight: normal;
  padding:0.5rem 2.75rem;
  border-radius: 3.25rem;
	display: inline-block;

    &:hover, &:focus  {
        @include button-hover-secondary;
        border-bottom: none;
    }

  &.orange {
    background-color: $primary-color;

		&:hover, &:focus{ 
            @include button-hover;
		}
  }
  &.border {
      border: 1px solid rgba($white, .5);
  }


	&.margin-top {
		margin-top:  0.625rem;
	}

	&.donate {
	margin: .75rem 0;
  }

	@include breakpoint(medium down) {
		font-size: 1.125rem;
	}

}//end button-round

.col-two {
    p > a.button-round {
        margin-top: 1.25rem !important;
    }
}

.button-rect {
		color: $secondary-color;
		font-size: 1.5rem;
		padding:0.5rem 1.125rem;
		border: 1px solid $secondary-color;
		display: block;
        max-width: 50%;
        transition: all .3s ease-in-out;
        &:hover, &:focus {
            background-color: $secondary-color;
            color: $white;
            outline: none;
        }
}//end button-rectangle

.primary {
    background-color: $primary-color;

    p {
        color: $white;
        padding-top: 1%;

        > a {
            @extend .button-white;
        }
    }

    > a {
        @extend .button-white;

        &:hover, &:focus {
            @include button-hover;
        }
    }

    @include breakpoint(small down) {
        @include grid-column(6, 0);

        p {

            &:first-child {
                    padding-top: 4%;
                    padding-bottom: 0;
                }
        }

        a {
            font-size: 1rem;
        }
    }//end small breakpoint

}//end primary


.btn {
    @include grid-column(4, 0);
    padding: 0.9375rem;

    &:nth-child(2) {
        border-right: 1px solid $tranparent-gray;
    }

	&:nth-child(2), &:nth-child(3) {
		@extend .primary;

		&.green-style {
			background-color: $background-gray !important;
			border-right: 1px solid $rule-gray;

				 &:last-child {
					 border-right: none;
				 }

				 p, h2, h3, h4, h5, h6, span {
					 color: $black !important;
				 }

				 a {
					 background-color: $secondary-color !important;

						&:hover {
							background-color: $secondary-darker !important;
						}
				 }

				 @include breakpoint(small down) {
					 width: 100%;
					 border-top: 1px solid $rule-gray;
					 border-right: none;
					 height: auto;
				 }
		}

		h4, p {
			color: $white !important;
		}

		a.button-round:hover, a.button-round:focus {
            @include button-hover;
        }
        a.button-round:focus {
            outline-color: rgba($white,.7);
        }


	}

	 @include breakpoint(small down) {
			@include grid-column(12, 0);
		}//end small breakpoint

}//end btn

//style annotations
.annotation {
		background-color: $light-gray;
		padding: 1rem 1.5rem 1.5rem;
  	font-family: $body-font-family;

			p {
				text-align: left;
				margin-top: 0;
				padding:0 .25rem .5rem;
				line-height: 1.4;
				color: $black;
			}


				.article-item-header {
					margin-bottom: 0;

								a, > div {
									text-align: left;
								}

								a {
									display: inline;
									color: $black;
									text-decoration: underline;
									text-decoration-color: $secondary-tint;

									  &:hover {
											text-decoration: underline;
											text-decoration-color: $secondary-color;
											color: $secondary-darker;
										}
								}

								> div {
									color: $medium-gray;
								}
				}

				.article-item-label {
					font-size: 0.875rem;
                    color: $medium-gray;
                    text-align: left;

					  @include breakpoint(small down) {
							padding: 0 .975rem;
						}
				}

}

//styles for photowall
#my_nanogallery2 {

	.nGY2GThumbnail {
    cursor: pointer !important;
    &:focus {
      @include outline-focus;
      outline-offset: 0px;
      .nGY2GThumbnailLabel {
        filter: opacity(100%) !important;
      }
    }
	}

	.nGY2GThumbnailLabel {
		background-color: rgba(0,0,0,.8);
		top: initial;
		line-height: 1.0;
  }

  .nGY2GThumbnailImageTitle {
	  text-shadow: none;
		padding: .15rem 0;
   }

	 .nGY2GalleryBottom {
		 display: none;
	 }

}

//auto-complete styles
 .ui-widget.ui-autocomplete {
 position: absolute!important;
 max-height: 280px;
 overflow-y: auto;
 overflow-x: hidden;
 z-index: 1500 !important;
 background-color: $white;
 border-color:rgba(0,0,0,0.15);
 border-width: 1px;
 border-style: solid;
 //box-shadow: 0 6px 12px rgba(0,0,0,0.175);
 min-width: 160px;
 max-width: 430px;
 padding: 5px 0;
 margin: 2px 0 0;
 font-size: 16px;
 //list-style: none;
 text-align: left;

    .ui-menu-item {
      cursor: pointer;

	    div {
			display: block;
		    padding: 3px 20px;
		    clear: both;
		    font-weight: normal;
		    line-height: 1.42857143;
		    color: #333;
		    white-space: nowrap;

		    &:active, &:hover, &:focus {
		        color: $white;
			    text-decoration: none;
			    outline: 0;
			    background-color: $secondary-color;
			}
	    }

		 .ui-state-active {
			color: $white;
		    text-decoration: none;
		    outline: 0;
		    background-color: $secondary-color;
		}

    }


}//end ul

//Zotpress styles
.zp-Zotpress {
    color:#000;
    div {
      color: inherit;
    }
	  .csl-bib-body {
			 text-indent: -1rem !important;
			 margin-bottom: 1rem;
			 padding-left: 1rem !important;
		}



		//styles for small breakpoints
		@include breakpoint(small down) {
			padding: 0 15px;
		}
}

//accessibility classes
.ui-helper-hidden-accessible {
	position: absolute;
	top: -9999px !important;
	left: -9999px !important;
}

//no-js styles
.no-js {
    .dropdown.menu {
      display: none;
    }
}

//404 page template
#post-404 {
	margin: 1.875rem 0 3.125rem;
}

//sr-only
.sr-only {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			white-space: nowrap; /* added line */
			border: 0;
}

//Accessibility adjustments
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  transition: left .2s ease-out;
  z-index: -999;
}
body:not(.mouse-user) {
  a.skip-main {
    &:focus, &:active {
      background: $dark-gray;
      color: #fff;
      left: 0;
      top: auto;
      width: auto;
      height: auto;
      overflow: auto;
      padding: 2px 10px;
      font-size: 1em;
      z-index: 999;
    }
  }
}

// Photo caption fix
.photo.medium small {
	max-width: 700px;
}

//video transcript
#main-content {
  .accordion.transcript {
    background: none;
    clear: both;
    cursor: pointer;
    display: block;
    margin-bottom: 20px;
    max-width: none;
    width: auto;
    p {
      max-width: none !important;
    }
    .accordion-title {
      background: none;
      border: none;
      border-radius: 0;
      color: $dark-gray;
      font-size: 16px !important;
      margin: 0;
      padding: 5px 25px 5px 5px;
      text-align: right !important;
      text-decoration: none;
      &:before {
        color: $primary-color;
        right: .5rem;
        top: 48%;
      }
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
    .accordion-content {
      background: none;
      border: none;
      padding: 1rem;
      p {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .end-transcript {
      border-bottom: 1px solid $rule-gray;
      color: $gray;
      font-size: 14px !important;
      margin-bottom: 20px;
      padding-bottom: .5rem;
      text-align: center !important;
    }
    &.alignright {
      clear: right;
      float: right;
      width: 55.65%;
      margin-left: 30px;
      position: relative;
      top: -15px;
      .accordion-content {
        padding: 0 10px;
      }
      p {
        font-size: 15px;
        line-height: 1.5;
      }
      @include breakpoint(small down) {
        float: none;
        margin-left: 0;
        width: auto;
      }
    }
    &#hero-transcript {
      margin: -2rem 0 2rem;
      .accordion-content {
        padding: 1rem;
      }
      @include breakpoint(medium down) {
        margin: -2rem 1rem 0;
      }
    }
  }
}
.home {
  #main-content #hero-transcript.accordion.transcript {
    margin: 0;
    .accordion-title {
      background-color: $dark-gray;
      color: $rule-gray;
      &:before {
        color: inherit;
      }
      &:hover, &:focus {
        color: $white;
        text-decoration: underline;
      }
    }
    .accordion-content {
      max-width: $global-width;
      margin: auto;
      width: 83%;
      @include breakpoint(medium down) {
        width: 100%;
      }
    }
  }
}
p.transcript-margin {
  clear: both;
  position: relative;
  top: -10px;
}