//styles for article-item
.article-item {
	overflow: hidden;

	    .article-item-body {

			   h4 {
				 font-family: $header-font-family;
				 margin:5px 0;

				     &.article-item-header a {
								color: $black !important;

								&:hover {
								text-decoration: underline !important;
								text-decoration-color: $secondary-color !important;
								color: $secondary-darker !important;
							  }

						 }

						 i, span {
							 font-size: 1.08rem;
						 }

  					 @include breakpoint(small down) {
  						margin: 0;
  					 }
			   }

			   span.attribution {
				   color: $gray;
				   font-weight: 400;
					 font-size: .9375rem;

					 @include breakpoint(small down) {
						 padding: 0 .9375rem;
					 }
			   }

		}//article-item-body

		.article-item-media {
		  margin-bottom: 10px;
		  overflow: hidden;

		  img {
        height: auto;
			  width: 100%;
		  }

			a:hover {
				border-bottom: none;
			}

		}


		.content-video, .content-download {
		  position: relative;

		   span {
		    z-index: 100;
		    padding: 0;
            position: absolute;

			    &::before {
			    font-family: FontAwesome;
			    text-rendering: optimizeLegibility;
			    position:absolute;
			    font-weight: 100;
			    color: rgba(255,255,255,.9);
			    background-color: rgba(0,0,0,.5);
			    }

		   }

		}


		.content-video {

		    span {
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    margin: 0 auto;
		    text-align: center;

			    &::before {
			    @extend .hvr-grow;
			    font-family: FontAwesome;
			    font-size: 22px;
			    border: 2px solid rgba(255,255,255,0.9);
			    border-radius: 40px;
			    padding: 4px 14px 14px 15px;
			    content: "\f04b";
			    height: 48px;
			    width: 48px;
			    left: 50%;
			    top: 50%;
			    margin-top: -24px;
			    margin-left: -24px;



			    	&:hover {

			    	}
			    }

			}
		}

		.content-download {

		    span {
			   bottom: 0;
		     right: 0;

			    &::before {
				  @extend .hvr-bob;
				  font-size: 19px;
			    padding: 2px 7px;
			    content: "\f019";
			    margin-top: -31px;
			    margin-left: -32px;
			    }
			}
		}
                
        a {

            h4.article-item-header {
                color: $black;
                text-decoration: underline;
                text-decoration-color: $secondary-tint;
                &:hover {
                    color: $secondary-color;
                    text-decoration-color: $secondary-color;;
                }
            }
        }

}//end article-item

//styles for article-list
.article-list {
	//@include grid-column-row();
	@extend .clearfix;
	padding: 0;
	margin: 0;

	ul {
		margin: 0;
		padding: 0;
	}

	&.intro ul, &.full ul {
		max-width: 100% !important;
	}

	&.card-five, &.card-four {
		&.center {
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
		}
	}

	&.staff {
    ul {
      display: flex;
      flex-wrap: wrap;
      .article-item {
        flex-basis: 25%;
        float: none !important;
        height: auto !important;
      }
      .article-item-media {
        padding-bottom: 75%;
        position: relative;
        height: 0 !important;
        img {
          position: absolute;
        }
      }
    }
		.article-excerpt {
			font-style: italic;
		}
    @include breakpoint(medium down) {
      ul {
        .article-item {
          flex-basis: 100%;
        }
      }
    }
	}

	&.simple-list {
		ul {
			max-width: 100%;
		}

		&.no-thumb {
			.article-item-media {
				display: none;
			}
		}
	}

  &.list-style, &.list-style.simple-list {
		padding: 0;

		ul {
				margin: 0;
				padding: 0;
				max-width: 100%;


				li.article-item {
          @include grid-column(12, 0);
					border-bottom: 1px solid $light-gray;
					margin-bottom: 1.75em;
					margin-right: 20px;
					padding-bottom: 1em;
					text-align: left;

  					&:last-child {
  						border-bottom: 1px solid transparent;
  					}

					 .article-item-media {
						   @include grid-column(3, 0);
 							 padding: 0;
 							 margin: 0;

						    img {
							    float: none;
						    }

						}//end article-item-media

							.article-item-body {
							 @include grid-column(9,0);
							 padding: 0;
							 margin: 0;
							 padding-left: 0.9375rem;

							  h4  {
                  margin: 0 0 5px;
                  padding: 0;

								  a {
									  font-size: 	1.125rem;
										color: black;
										text-decoration: underline;
										text-decoration-color: $secondary-tint;

										&:hover {
											text-decoration: underline;
											text-decoration-color: $secondary-color;
										}
								  }
							  }

							  p.article-excerpt {
								  max-width: 100%;
								  font-size: 14px;

								  // a {
									// display: block;
							    // }

							  }


							  .no-offset-sidebar, .offset-sidebar  {
								  ul, ol {
									  padding: 5px 20px;
								  }
							  }

							}//end article-item-body


	            @include breakpoint(medium down) {
								@include grid-column(12, 0);

										&:last-child:not(:first-child) {
											float: none;
										}

							     .article-item-media {
							      @include grid-column(5, 0);
							     }

							     .article-item-body {
							      @include grid-column(7, 0);
							      padding-left: 0.9375rem;

							          h4 {
								          a {
									          font-size: 16px;
								          }
							          }
							     }
					    }


							@include breakpoint(small down) {
  								border-bottom: 1px solid $light-gray;

										.article-item-media {
										@include grid-column(4);

										    img {
											    float: none;
										    }

										}

										.article-item-body {
										 @include grid-column(8);
										 padding: 0;
										 margin: 0;
										 padding-left: 1.25rem;
										}
						    }
				}
		}

	}


    &.card-display {

	    ul {
		    padding: 0;
		    margin: 0;
	    }

	    .article-item {
                margin-bottom: 20px;

			   .article-item-media {
				   max-width: 100%;
				   width: 100%;
			   }

			   .article-item-body {
				   width: 100%;
				   padding: 0 15px;
				   text-align: left;

				   .attribution {
					   font-size:  0.9375rem;
				   }

				   .article-excerpt {
					   font-size: 1rem;
				   }

		      }

  			 @include breakpoint(medium down) {
  				min-height: initial;
  				max-height: initial;
          overflow: visible;
          border: none;
          border-bottom: 1px solid $light-gray;
          max-width: 100%;
          height: auto;
          margin-bottom: 15px;
          padding-bottom: 15px;


  		        &:last-child {
  			        border: none;
  		        }

  				.content-download span {
  					right: 0;
  				}

  			    .article-logo {
  				    display: none;
  			    }
  		    }//end medium breakpoint


		}

		&.no-excerpt {
		  .article-item {
			height: 220px;

  			 @include breakpoint(medium down) {
  				 height: auto;
  			 }


		   }

		}//end no-excerpt

		&.card-two {

	    		padding: 0;
	    		margin: 0;
	    		float: left;
	    		clear: left;
	    		width: 100%;

			    ul {

						   .article-item {
							   @include grid-column(6, 0);

                 @include breakpoint(medium only) {
								      border-bottom: none;

											p {
												text-align: left;
											}
								 }

								  @include breakpoint(small down) {
										@include grid-column(12);
									}
							 }
					}


		}

    &.card-three {
    		padding: 0;
    		margin: 0;
    		float: left;
    		clear: left;
    		width: 100%;

		    ul {

					   .article-item {
						   @include grid-column(4, 0);
							 padding-right: 1px;

						   &:nth-child(3), &:last-child {
							   margin-right: 0;
								 padding-right: 0;
						   }

						}
			}

			&.narrower-width {
			    @include grid-column(10, 0);
			    @include grid-column-position(-2);
			    padding-left: 30px;
			    padding-right: 30px;
					clear: none;

					.article-item .article-item-media, .article-item .article-item-media img {
						margin-bottom: 0;
					}

					.article-item-body {
						background-color: #f2f2f2;
    				padding: 1rem 1.5rem 1.5rem;
    				font-family: Source Sans Pro,sans-serif;

						.article-excerpt {
							text-align: left;
						}
					}

					&.article-list.card-display.card-three ul .article-item:nth-child(3) {
						padding-right: 1px;
					}
			}

			@include breakpoint(medium only) {

				.article-item {
					border: none;
					margin-bottom: 0;

				    .article-item-body {
              padding: 0 0.625rem;

							h4 {
								font-size: 100%;
							}
						}
				}

			}//end medium only

        @include breakpoint(small down) {

		      ul {
			    .article-item {
				  @include grid-column(12, 0);
					padding-top: 4%;

					    .article-item-media {
						    @include grid-column(4, 0);
					    }

							.article-item-body {
								@include grid-column(8);
								text-align: left;
							}

						}

			   }
       }//end small breakpoint

       @include breakpoint(extra-small down) {

            ul {
                .article-item {

                    .article-item-body {
                        &:nth-child(3) {
                            padding: 0;
                            width: 100%;
                        }
                        * {
                            padding-left: 0 !important;
                            padding-right: 0 !important;
                        }
                    }

                }

            }
        }//end small breakpoint

		}//end &.card-three

    &.card-five {
				padding: 0;
				margin: 0;
				float: left;
				clear: left;
				width: 100%;

  					ul {
  							max-width: 100%;

  						 .article-item {
  							 	float: left;
  						    display: block;
  						    margin-right: 3%;
  						    width: 17.6%;
  						    padding: 0;

  							 &:nth-child(5) {
  								 margin-right: 0;
  							 }

  						}
  					}

  					@include breakpoint(medium down) {

  							ul {
  							.article-item {
  								@include grid-column(12);
    								/*&:nth-child(4) {
    									@include shift(0);
    								}*/
  							}

								.article-item-media {
									@include grid-column(4);
								}

  							.article-item-body {
  								@include grid-column(8);
  								text-align: left;
  							}

  						}

  				 }
		}//end &.card-five


		&.card-four {
  		@include grid-column-row();
  		padding: 0;
  		margin: 0;
  		float: left;
  		clear: left;
  		width: 100%;

		    ul {
			    max-width: 100%;
			    padding: 0;
			    padding-right: 15px;

    			   .article-item {
    				   @include grid-column(3,0);

      				   &:nth-child(4n + 0) {
      					   margin-right: 0;
      				   }
    				  }
		     }


      		@include breakpoint(medium down) {
      	     ul {
      		    .article-item {
      			     @include grid-column(12);

        			    .article-item-media {
        				   @include grid-column(4);
        			    }

        			    .article-logo {
        				    display: none;
        			    }
        				.article-item-body {
        					@include grid-column(8);
        					text-align: left;
        				}
        			}
            }//end ul
           }//end medium breakpoint

		}//end &.card-four

}//end &.card-display

	&.no-image {
	  ul {
		  max-width:100%;
  		  li.article-item {
  		  padding-bottom: 0;
  		    .article-item-body {
  			   width:100%;
  			  }
  		  }
	  }
  }//end &.no-image


	&.no-border {
		.article-item {
			border: none;
		}
	}


			&.borderless-cards {
					@include grid-column-row();
					padding: 0;
					margin: 0;
					float: left;
					clear: left;
					width: 100%;

				  ul {
						list-style: none;

						  &#staffList {
                display: flex;
                flex-wrap: wrap;
                .article-item {
                  flex-basis: 25%;
                  float: none !important;
                  height: auto !important;
                }
                .article-item-media {
                  padding-bottom: 75%;
                  position: relative;
                  height: 0 !important;
                  img {
                    height: auto;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%; 
                  }
                }
                .article-item-body {
                  padding-bottom: 1rem;
                }
                @include breakpoint(medium down) {
                  .article-item {
                    flex-basis: 50%;
                  }
                }
                @include breakpoint(small down) {
                  .article-item-media {
                    padding-bottom: 32%;
                  }
                  .article-item {
                    flex-basis: 100%;
                  }
                  .article-item-body {
                    padding-left: 1rem;
                  }
                }
								 h4 {
                    padding: 0;
                    font-size: 1.125rem;
                    line-height: 1.3;
                    color: $black;
                    text-decoration: underline;
                    text-decoration-color: $secondary-tint;
                    -webkit-text-decoration-color: $secondary-tint;
                    text-decoration-color: $secondary-tint;
								 }//end h4

								 .article-excerpt {
									 font-size:  .8rem;
									 padding: 0;
									 color: $dark-gray;
                                 }
                                 a:hover {
                                     h4 {
                                        text-decoration: underline;
                                        text-decoration-color: $secondary-color;
                                        color: $secondary-darker;
                                    }
                                 }
							}

	    			   .article-item {
	    				   @include grid-column(3,0);
								 height: 250px;
								 border: none;
								 border-right: 1px solid $white;

	      				   &:nth-child(4n + 0) {
	      					   margin-right: 0;
	      				   }

									 .article-item-body {
										 	text-align: left;
										 	padding: 0 1.25rem 0 0;

										 .article-item-header {
											 font-family: $header-font-family;
											 line-height: 1.0;
										 }

										 .article-excerpt {
											 font-family: $body-font-family;
											 line-height: 1.2;
											 padding: 0;
										 }


										 h4 a {
											 font-size: 1rem;
											 line-height: 1.0;
										 }
									 }


				 						@include breakpoint(medium down) {
											@include grid-column(4, 0);

											&:nth-child(3) {
												margin-right: 0;
											}

				 					  }

										@include breakpoint(small down) {
											@include grid-column(12);
											height: auto;

													.article-item-media {
													 @include grid-column(5, 0);
													 padding-right: 15px;
													}

												.article-item-body {
													@include grid-column(7, 0);
													text-align: left;

													 .article-item-header {
														 margin-bottom: 0.5rem;
													 }

													 p {
														 padding: 0;
													 }
												}

										}

	    				  }

					}//end ul

			}//end borderless

			.see_more_articles {
				@extend .button-round;
			}

}//end article-list


//styles for program-list
ul.program-list {
			@extend .menu;
			@extend .vertical;
			line-height: 2.0;

			 lh {
				 text-transform: uppercase;
				 font-weight: bold;
				 font-size: 1.125rem;
				 margin: .75rem 0;
				 display: block;
			 }

			 li {
                color: $black;
                display: block;
                margin: 0.3125rem 0;
                padding: .25rem 0 .25rem .5rem;
                font-size: 1rem;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }

                &.is-active {
                    background-color: $secondary-color;
                    color: $white;
                }

                &.emphasized {
                    text-transform: uppercase;
                    font-weight: bold;
                    margin: 0;

                    &.first {
                        margin-top: 1.25rem;
                    }
                }
                &:first-of-type {
                  margin: 0;
                  padding: 0;
                  position: relative;
                }
            }
            a.skip-nav {
              left: -999px;
              position: absolute;
              top: auto;
              width: 1px;
              height: 1px;
              overflow: hidden;
              transition: left .2s ease-out;
              z-index: -999;
              &:focus, &:active {
                  background: $dark-gray;
                  color: #fff;
                  left:  auto;
                  right: 0;
                  top: -3em;
                  width: auto;
                  height: auto;
                  line-height: 2;
                  overflow: auto;
                  padding: .25rem .5rem;
                  font-size: 1em;
                  z-index: 999; 
              }
            }
}//end program-list
