.section-rule {
	border-top: 1px solid $gray;
    padding-top: 30px;
	padding-bottom: 30px;
}

.border-right {
	border-right: 1px solid $white;
}

.annotations * {
	  font-size: 100%;
	  margin: 0;
	  padding:0;
}

.annotations {
		text-align: center;
		padding: 0 1.5em;



		h5 {
			color: black;
			text-transform: none;
			font-size: 1.3rem;
			margin-bottom: .30rem;
			font-weight: 500;
		}

		a, span {
			font-size: .9rem;
			line-height: 1.6;
		}

		a {
			display: block;

			span {
				color: $primary-color;

				&:hover {
					color: $anchor-color-hover;
				}
			}
		}

		span {
			color: $medium-gray;
		}

		p {
			font-size: 1.05rem;
			line-height: 1.5;
			color: $dark-gray;
			margin-bottom: .50rem;
		}


		.secondary-color {
			color: $medium-gray;
			margin-top: .15em;
			font-size: .9rem;
			display: block;
		}


}


.video-icon	{
    position: relative;
	height: 100%;
    left: 0;
    top: 0;
    width: 100%;

		span {
	    position: absolute;
	    font-weight: 100;
	    display: inline-block;
	    z-index: 100;
		background-size: 48px 48px;
	    bottom: 0;
	    color: #fff;
	    left: 0;
	    height: 48px;
	    margin: auto;
	    opacity: 0.8;
	    right: 0;
	    top: 0;
	    width: 48px;
	    -webkit-transition: 0.4s ease-in-out;
		transition: 0.4s ease-in-out;

			    &:before {
				 font-family: 'icomoon';
				 line-height: 48px;
				 font-size: 24px;
				 color: rgba(255,255,255,0.9);
				 background-color: rgba(0,0,0,0.3);
				 border: 2px solid rgba(255,255,255,0.9);
				 border-radius: 50%;
				 padding: 12px 12px 12px 17px;
				 content: "\e903";
				 text-rendering: optimizeLegibility;
				 text-shadow: none;
			    }


			&:hover {
				transform: scale(1.2);
				-webkit-transition: 0.4s ease-in-out;
				transition: 0.4s ease-in-out;
			}

	    }

}

// Gallery slideshow styles
/* carousel-------------------------- */
.carousel.large, .carousel.medium, .carousel.small {
    margin: 0 auto 30px;
    width: 100%;
   	background-color: transparent;
	  position: relative;

	img {
		padding-bottom: 5px;
	}


	.item, .item.action {
    background: none;
    }


    .right, .left {
    background: none;
    }


    .carousel-indicators {
	    margin-left:-50%!important;
	    margin-bottom: 5px !important;
	    height:20px;
	    max-width: 100% !important;
	    width:100%;
	    bottom: 0 !important;
	    overflow:hidden;
	    position:absolute;

	    li {
		border: 1px solid $secondary-color;
		background-color: $secondary-tint;
		margin-right: 2px;
		line-height:10px;
		height:10px;
		font-weight:normal;

		 &:last-child {
			 margin-right: 0;
		 }

		 &.active {
			 background-color: $secondary-color;
			 width: 14px;
			 height: 14px;
		 }

	    }

    }

    .carousel-control {
	    position: absolute;
        color: $secondary-color;
        text-shadow: none;
        width:10%;


	    .glyphicon-chevron-right, .glyphicon-chevron-left {
	        bottom: 20px;
	        top:auto;
	        color: $secondary-color;
	    }


        .glyphicon-chevron-left {
            left:15px;
        }

        .glyphicon-chevron-right {
            right:15px;
        }
    }

    .carousel-caption {
	   position: static;
		 margin: 0 auto 15px;
		 padding: 0;
		 text-shadow: none;
		 display: block;
		 line-height: 1.2;



	    small {
		font-size: 14px;
		margin:0;
		padding: 0;
		font-weight: 400;
		line-height: 1.4;
		font-family: $body-font-family;
		color: black;
		text-shadow: none;

		   em {
			 color: #222;
             font-size: 12px;
             font-style: italic;
		   }
	    }
    }



}

.carousel.medium, .carousel.small {
    margin-left: 30px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    float: right !important;
    clear: right;
}

.carousel.large {

	.slick-prev,
	.slick-next {
		top:41%;

			@include breakpoint(medium down) {
				top: 44%;
			}

			@include breakpoint(small down) {
				top: 37%;
			}

	}

}

.carousel.medium {
		width: 540px;

		.slick-prev,
		.slick-next {
			top:42%;

					@include breakpoint(medium down) {
						top: 44%;
					}

					@include breakpoint(small down) {
						top: 37%;
					}

		}


		a.carousel-control.left, a.carousel-control.right {
		  width: 8%;
	    }

		@include breakpoint(832 down) {
			float: none !important;
			width: 100%;
			margin-left: 0;
		}

}

.carousel.small {
	width: 360px;
}


.carousel.large, .carousel.medium, .carousel.small {



	@include breakpoint(small down) {
		width: 100%;
		margin-bottom: 0;

		.carousel-caption {
			margin: 0 auto;
			padding: 0 15px;
		}
	}
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   /* IE10+ specific styles go here */
  .carousel-inner > .item { transition:none;}
}

@-moz-document url-prefix() {
	  .carousel-inner > .item { transition:none;}
}
