// ** Overrides for the Events Caneldar plugin ** //

// Updated Calendar v2 styles
.tribe-common { 
  h2, h3, h4, h5 {
    font-family: $header-font-family;
  }
  p {
    font: {
      family: $body-font-family;
      size: 1rem;
    }
    line-height: 1.4;
  }
  h3 {
    font-size: 1.125rem;
    line-height: 1.4;
    text-align: left;
  }
}
#bp-article-content {
  .tribe-events-page-title {
    margin-bottom: 1em !important;
    font-size: 2.125rem;
    font-weight: 400;
  }
  .tribe-events-c-top-bar__nav-list {
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 0;
    }
  }
  .tribe-events {
    font-family: $body-font-family;
    .tribe-events-l-container {
      padding: 1rem 0 4rem !important;
    }
    @include breakpoint(small down) {
      .tribe-events-l-container {
        padding: 0 1rem 4rem !important;
      }
    }
    .tribe-events-header {
      margin: 0;
      .tribe-common-h3 {
        font-size: 1.5rem;
      }
      .tribe-events-c-top-bar__today-button {
        padding: 4px 10px;
      }
    }
    .tribe-events-header__top-bar {
      margin: 0;
    }
    .tribe-events-calendar-month__header-row {
      background: $medium-gray;
      color: $white;
      .tribe-events-calendar-month__header-column {
        padding: 10px;
        h3 {
          color: inherit;
          font: {
            family: $body-font-family;
            size: 1rem;
          }
          margin: 0 !important;
          padding: 0;
          text-align: left;
        }
      }
    }
    .tribe-events-calendar-month__day {
      border-radius: 0;
    }
    .tribe-events-calendar-month__day-date.tribe-common-h4, .tribe-events-calendar-month__day-date {
      background-color: $background-gray;
      color: $dark-gray;
      font: {
        family: $body-font-family;
        size: .75rem;
        weight: bold;
      }
      margin: 0 !important;
      padding: 5px 10px;
    }
    .tribe-events-calendar-month__calendar-event-title {
      font: {
        family: $body-font-family;
        size: .875rem;
      }
    }
    .tribe-events-calendar-month__day-cell--mobile {
      &:hover {
        background-color: rgba($secondary-color, .1);
        .tribe-events-calendar-month__day-date {
          background-color: $secondary-color;
          color: $white;
        }
      }
    }
    .tribe-events-calendar-month__day-date {
      margin-bottom: .5rem !important;
      width: 100%;
    }
    .tribe-events-calendar-month__day-cell--selected {
      background-color: rgba($secondary-color, .1);
      .tribe-events-calendar-month__mobile-events-icon--event {
        background-color: $secondary-color;
      }
    }
    .tribe-events-calendar-month__day--past {
      .tribe-events-calendar-month__day-date.tribe-common-h4, .tribe-events-calendar-month__day-date {
        background-color: $light-gray;
        color: $medium-gray;
      }
      .tribe-events-calendar-month__calendar-event {
        opacity: 1;
        a {
          color: $secondary-color;
        }
      }
    }
    .tribe-events-calendar-month__day--current, .tribe-events-calendar-month__day-cell--selected {
      .tribe-events-calendar-month__day-date.tribe-common-h4, .tribe-events-calendar-month__day-date {
        background-color: $secondary-color;
        color: $white;
      }
    }
    .tribe-events-calendar-month__calendar-event {
      padding: 10px;
    }
    .tribe-events-c-nav__list {
      display: flex;
    }
    .tribe-events-c-ical {
      display: none;
    }
    .datepicker .day.active, .datepicker .day.active.focused, .datepicker .day.active:focus, .datepicker .day.active:hover, .datepicker .month.active, .datepicker .month.active.focused, .datepicker .month.active:focus, .datepicker .month.active:hover, .datepicker .year.active, .datepicker .year.active.focused, .datepicker .year.active:focus, .datepicker .year.active:hover {
      background-color: $secondary-color;
    }
    .tribe-common-anchor-thin {
      border-bottom: none !important;
      &:active, &:focus, &:hover {
        color: $secondary-darker;
        text-decoration-color: $dark-gray;
      }
    }
  }
  // List View
  .tribe-events-calendar-list__event-row {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px 0;
    &:not(:last-child) {
      border-bottom: 1px solid $rule-gray;
    }
  }
  .tribe-events-calendar-list__event-details {
    h3, p {
      text-align: left !important;
    }
  }
}

// Single
#tribe-events-content {
  div.tribe-events-notices {
    color: #000;
    padding: .5rem 1rem;
    >ul {
      margin: 0;
      padding: 0;
      >li {
        list-style-type: none;
        margin: 0;
      }
    }
  }

  .tribe-events-event-meta {
    background-color: $background-gray;
    .tribe-events-meta-group {
      padding: 1rem;
      h2 {
        margin-top: 0;
        font: { 
          family: $header-font-family;
          size: 1.25rem
        }
      }
    }
    .tribe-events-date-container, .tribe-events-time-container {
      flex-basis: 50%;
    }
    dt, dd {
      font-size: 1rem;
    }
    .tribe-events-categories-container {
      a {
        color: $black;
        cursor: default;
        pointer-events: none;
        text-decoration: none;
      }
    }
  }
}
#tribe-events-footer {
  .tribe-events-sub-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      font-size: .9rem;
      width: 48%;
    }
    .tribe-events-nav-next , .tribe-events-nav-next, 
    .tribe-events-nav-previous, .tribe-events-nav-previous {
      a:after, a:before {
        content: "";
        display: inline-block;
        height: 20px;
        vertical-align: middle;
        width: 11px;
      }
    }
    .tribe-events-nav-next {
      text-align: right;
      a:after {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.084 2.159L2 .243l9.9 9.9L2 20.041.084 18.126l7.983-7.984z' fill='%235d5d5d'/%3E%3C/svg%3E") 100%/7px no-repeat;
      }
    }
    .tribe-events-nav-previous {
      a:before {
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.916 17.841L10 19.757l-9.9-9.9L10-.041l1.916 1.916-7.983 7.984z' fill='%235d5d5d'/%3E%3C/svg%3E") 0/7px no-repeat;
      }
    }
  }
}

// Legacy styles (some are still being used)
#bp-article-content {
    .tribe-events-calendar {
        td.tribe-events-present {
            div[id*=tribe-events-daynum-] {
                background-color: $secondary-color;
                a {
                    background: none;
                    color: $white;
                }
            }
        }
        td.tribe-events-future {
            div[id*=tribe-events-daynum-] {
                color: $medium-gray;
                background-color: #ddd;
                a {
                    background: none;
                    color: $secondary-darker;
                }
            }
        }
        .type-tribe_events.tribe-event-featured {
            background-color: $secondary-color !important;
        }
    }
}

// events widget styles
#tribe-this-week-events-widget-1001 {
	 .tribe-events-viewmore {
		 margin-left: 5%;

			 a {
				 font-size: .65rem;
				 font-weight: bold;
			 }
	 }

	 .tribe-events-sub-nav {
		 display: none;
	 }

	 .tribe-this-week-event {
		 border-left: 2px solid $secondary-color;
	 }

	 .this-week-today .tribe-this-week-widget-header-date {
		 background-color: $secondary-color;
	 }

	 .tribe-this-week-widget-day {
		 color: $dark-gray;
	 }

   .this-week-past .tribe-this-week-widget-header-date span {
     color: #454545;
   }

	 @include breakpoint(small down) {

	 	 .tribe-this-week-widget-day-wrap {
	 		 padding: 5px 15px;


	 			 .tribe-this-week-event {
	 				 margin-bottom: 15px;

	 				  .duration {
	 						margin-left: 15px;
	 					}

	 			 }

				 .tribe-this-week-widget-day {

 	 					.this-week-no-events-msg {
 	 						margin-bottom: 5px;
 	 					}
				 }

				 h2.tribe-events-page-title {
					 text-align: left;
				 }
	 	 }

		 .this-week-past {
			 display: none;
		 }

	 }

}

 /*.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present.mobile-active, #tribe-events .tribe-events-button {
	 background-color: $secondary-color;
 }*/

 // event overrides
#tribe-events {
    #tribe-events-content.tribe-events-list {
        overflow: visible;
        .type-tribe_events:not(.tribe-event-featured) {
            padding: 0 1rem !important;
        }
        .tribe-events-list-separator-month {
            span {
                background-color: transparent;
                padding: 0;
            }
            &:after {
                content: none;
            }
        }
        p {
            max-width: 900px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        h2, h3, p {
            padding: 0 !important;
        }
    }
 }
 #tribe-events .tribe-events-list .tribe-events-loop {
     max-width: none;
 }

 .tribe-events-notices {
	 background: $secondary-tint;
	 color: $secondary-darker;
	 border: 1px solid $secondary-color;
 }

 .tribe-events-widget-link {
	 display: none;
 }

 .tribe-events-schedule {

	 h2 span {
		 display: inline-block;
	 }

	 .recurringinfo {
	 display: none;
   }
 }

.single-tribe_events .tribe-events-cal-links, .tribe-events-related-events-title, .tribe-related-events, #tribe-events .tribe-events-button, .tribe-this-week-widget-wrapper .tribe-this-week-widget-day .tribe-venue {
	 display: none;
 }

/*.tribe-events-button {
	 background-color: $secondary-color;

		 &:hover {
			 background-color: $secondary-darker;
		 }
}*/

.tribe-mini-calendar-event {
	border-bottom: none !important;
}

.tribe-events-notices {
    border-color: rgba($secondary-color, .3) !important;
    background-color: rgba($secondary-color, .1) !important;
}

// featured event with thumbnail - single page
.tribe_events {
    &.has-post-thumbnail {
        .tribe-events-single-event-description {
            margin-bottom: 0 !important;
            // p:last-child {
            //     margin-bottom: 0 !important;
            // }
        }
        @include breakpoint(small) {
            .tribe-events-event-meta {
                flex: 0 0 60%;
                order: 2;
                margin: 0 0 2rem;
                .tribe-events-meta-group {
                    &.tribe-events-meta-group-details {
                        dl {
                            display: flex;
                            flex-wrap: wrap;
                        }
                        .flex-third {
                            flex: 0 0 33%;
                        }
                        .flex-full{
                            flex: 0 0 100%;
                        }
                    }
                }
            }
        }
        @include breakpoint(medium) {
            display: flex;
            flex-wrap: wrap;
            .event-content-column {
                flex: 0 0 60%;
            }
            .event-sidebar-column {
                flex: 0 0 40%;
                padding-left: 4vw;
            }
            .tribe-events-event-image {
                margin: 0;
                overflow: hidden;
                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                }
            }
            .tribe-events-single-event-description {
                flex: 0 0 100%;
                order: 0;
                p {
                    margin-bottom: 2rem !important;
                }
            }
            .eventbrite-ticket-embed {
                flex: 0 0 100%;
                order: 3;
            }
            .tribe-events-event-meta {
                .tribe-events-meta-group {
                    float: none;
                    margin-bottom: 0;
                    width: 100%;
                    h2 {
                        margin: 1rem 0 .5rem;
                    }
                }
            }
        }
    }
}

// featured event - events page
#bp-article-content section {
    #tribe-events {
        margin: auto;
        max-width: $global-width;
        padding: 0 $global-padding;
        width: 100%;
    }
}
.tribe-events-list {
    margin-bottom: 0 !important;
    .tribe-events-loop {
        .tribe-events-event-meta {
            background: none !important;
            border: none !important;
            margin: 0 !important;
            div {
                border: none !important;
                padding: 0 !important;
            }
        }
        .tribe-event-featured {
            background-color: $white !important;
            border: 1px solid #ccc !important;
            margin: 0 !important;
            padding: 0 !important;
            .tribe-events-event-image {
                flex: 0 0 40%;
                margin: 0 !important;
                overflow: hidden;
                img {
                    height: 100%;
                    max-height: none;
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                }
            }
            .tribe-events-content-container {
                align-self: center;
                flex: 0 0 60%;
                padding: 1rem 2rem;
                div, span, p {
                    color: $black;
                    float: none;
                    font-size: 1.125rem;
                    text-align: left;
                }
                h3 {
                    color: $secondary-color;
                    font-size: 1.8rem;
                    margin: 0 0 1rem !important;
                    text-align: left !important;
                }
                div, h3, p {
                    padding: 0 !important;
                }
                .tribe-address, p {
                    line-height: 1.5em !important;
                }
                .tribe-events-venue-details {
                    * {
                        font-style: normal;
                    }
                }
                .tribe-events-read-more {
                    font-size: 1.3rem;
                    font-weight: 600 !important;
                }
                .ticket-cost {
                    background-color: rgba($secondary-color, .4) !important;
                    color: $black !important;
                }
            }
        }
        a.tribe-events-gmap {
            display: inline !important;
        }
    }
    @include breakpoint(medium) {
        .tribe-event-featured {
            display: flex !important;
            .tribe-events-content-container {
                padding: 1rem;
            }
        }
    }
    @include breakpoint(small down) {
        .tribe-event-featured {
                margin-top: 1rem !important;
            .tribe-events-content-container {
                padding: 1rem !important;
            }
        }
    }
    .tribe-events-ical {
        display: none !important;
    }
}

.slick-events {
    margin: 1rem 0;
    padding: 0 45px;
    &:not(.slick-initialized) {
        .slick-slide, .type-tribe_events {
            &:first-of-type {
                display: block;
            }
            &:not(:first-of-type) {
                display: none !important;
            }
        }
    }
    a {
        display: inline;
    }
    .slick-prev, .slick-next {
        top: 50%;
        &:before {
            font-weight: 100;
            font-size: 30px;
            line-height: 30px;
        }
    }
    .slick-prev {
        left: -10px;
    }
    .slick-next { 
        right: -10px;
    }
    @include breakpoint(large) {
        .slick-events {
            .slick-prev {
                left: -10px;
            }
            .slick-next {
                right: -10px;
            }
        }
    }
    @include breakpoint(small down) {
        padding: 0 25px;
        .slick-prev, .slick-next {
            &:before {
                font-size: 25px;
                line-height: 25px;
            }
        }
    }
}

.eventbrite-ticket-embed {
    clear: both;
    padding: .5rem;
}



@include breakpoint(medium) {
    .tribe-events-schedule {
        .tribe-events-cost {
            margin-left: 2rem;
        }
    }
}
@include breakpoint(medium down) {

  .tribe-this-week-widget-wrapper {
		max-width: 100% !important;
    }
    .single-tribe_events .tribe-events-schedule {
        background: none;
        border: none;
        padding: 0;
    }
}

@include breakpoint(small down) {
    .tribe-events-schedule {
        .tribe-events-cost {
            display: block;
            padding: 0 .9375rem;
        }
    }
	.tribe-mini-calendar-event {

			.list-date {
			margin: 0 0 0 15px !important;
			width: 11%;
		  }

			.list-info {
				margin: 0 !important;
			}
	}

	.tribe-events-duration {
		margin-left: 15px;
	}

	.single-tribe_events {
		.tribe-events-schedule {
			 .recurringinfo {
				 	display: none;
				}
		 }

	}//end single-tribe_events


	 #tribe-events {
		  .tribe-events-sub-nav {
				a {
					color: $white;
					text-decoration-color: $white;
				}
			}

			h1.tribe-events-page-title {
                font-weight: normal;
			}

			h2.tribe-events-page-title {
                margin-bottom: 0 !important;
			}

			.tribe-events-single-section {
                margin-top: 0;
				width: 100%;

				h2.tribe-events-single-section-title {
					padding: 0;
				}
			}

			h3.tribe-mobile-day-heading {
				font-size: 26px;
        margin-bottom: 0;

					span {
						display: inline-block;
					}
			}

		  .tribe-related-events, ~a.tribe-events-ical.tribe-events-button  {
				display: none;
			}

			.tribe-events-event-schedule-details, .tribe-event-description {
				margin-left: 15px;
			}

			.tribe-event-description {
				p {
					padding: .9375rem .9375rem .9375rem 0;
				}
			}


	 }

		#tribe-events-footer~a.tribe-events-ical.tribe-events-button {
			display: none;
		}

		#tribe-mobile-container {
      .type-tribe_events {
        padding: 10px 0;

        .tribe-events-read-more {
		  	margin-left: 15px;
        }

      }
		}
}//end small media query

@media only screen and (max-width: 768px) {

	//Override tribe theme - show header pagination, hide footer pagination
	#tribe-events-header .tribe-events-sub-nav li a {
		background: none;
		color: $secondary-darker;
		display: block;
		padding: 10px 10px 0 10px;
	}
	#tribe-events-footer .tribe-events-nav-pagination {
		display: none;
	}

}//end custom 768px breakpoint for calendar

// Accessibility overrides
.tribe-common--breakpoint-medium.tribe-events {
  .tribe-events-c-nav__next-label-plural, .tribe-events-c-nav__prev-label-plural {
    overflow: visible;
  }
}