body.mouse-user {

  li:focus,
  a:focus,
  button:focus {
    outline: none;
  }
}

body:not(.mouse-user) {

  // _custom.scss
  li:focus,
  a:focus,
  button:focus,
  input[type=submit]:focus {
    @include outline-focus;
  }

  .article-list {
    ul {
      li {
        a:focus {
          outline-color: transparent;

          .article-item-body {
            @include outline-focus;
            outline-offset: -2px;
          }
        }
      }
    }

    &.simple-list {
      ul {
        li {
          a:focus {
            @include outline-focus;
          }
        }
      }
    }

    p.article-excerpt {
      a:focus {
        @include outline-focus;
      }
    }
  }

  // _forms.scss
  input[type=checkbox],
  input[type=radio] {
    &:focus {
      @include outline-focus;
    }
  }

  .hbspt-form {
    .hs-button:focus {
      @include outline-focus;
    }
  }

  .hustle-ui {
    &.hustle-slidein {
      .hustle-button-close:focus {
        @include outline-focus;
      }
    }

    &.hustle-popup {
      .hustle-button-close:focus {
        background-color: rgba(#000, .8) !important;
        @include outline-focus;
      }
    }

    .hustle-layout {
      .button:focus {
        @include outline-focus;
      }
    }

    .hustle-info {
      .hustle-group-content:not([class*=forminator-]) {
        a {
          display: inline-block;

          &:focus {
            @include outline-focus;
          }
        }
      }
    }
  }

  // _nav.scss
  .tiny-bar {
    ul {
      li {
        a.join:focus {
          @include outline-focus;
        }
      }
    }
  }

  .main-nav {
    .website-nav-container {
      .website-nav {
        .menu {
          li {
            .modal-search:focus {
              @include outline-focus;
              text-decoration: none;
            }
          }
          &.dropdown {
            >li {
              >a,
              button {
                &:focus {
                  background-color: $light-gray;
                }
              }
            }
          }
        }
      }
    }
  }

  // _slick.scss
  // .slick-prev, .slick-next {
  //     &:focus {
  //         &:before {
  //             @include outline-focus;
  //         }
  //     }
  // }
  .slick-slider {
    .slick-slide {
      a {
        &:focus {
          outline-offset: -2px;
        }
      }
    }

    .slick-dots li button:focus {
      @include outline-focus;
    }
  }
}