@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bl3v30');
  src:  url('../fonts/icomoon.eot?bl3v30#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bl3v30') format('truetype'),
    url('../fonts/icomoon.woff?bl3v30') format('woff'),
    url('../fonts/icomoon.svg?bl3v30#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram1:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-share:before {
  content: "\e904";
}
.icon-twitter1:before {
  content: "\e905";
}
.icon-facebook1:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e907";
}
.icon-volume-up:before {
  content: "\e908";
}
.icon-volume-off:before {
  content: "\e909";
}
.icon-gift:before {
  content: "\e90a";
}
.icon-question-circle:before {
  content: "\e90b";
}
.icon-question:before {
  content: "\e90c";
}
.icon-book:before {
  content: "\e90d";
}
.icon-star:before {
  content: "\e90e";
}
.icon-angle-right:before {
  content: "\e90f";
}
.icon-chevron-right:before {
  content: "\e910";
}
.icon-chevron-left:before {
  content: "\e911";
}
.icon-chevron-down:before {
  content: "\e912";
}
.icon-chevron-up:before {
  content: "\e913";
}
.icon-pause:before {
  content: "\e914";
}
.icon-globe:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e916";
}
.icon-binoculars:before {
  content: "\e917";
}
.icon-external-link:before {
  content: "\e918";
}
.icon-bars:before {
  content: "\e919";
}
.icon-rotate:before {
  content: "\e91a";
}
.icon-commenting:before {
  content: "\e91b";
}
.icon-comments:before {
  content: "\e91c";
}
.icon-merlin-flight:before {
  content: "\e91d";
}
.icon-thin-pause:before {
  content: "\e999";
}
.icon-facebook-square:before {
  content: "\e91e";
}
.icon-twitter-square:before {
  content: "\e91f";
}
.icon-linkedin-square:before {
  content: "\e920";
}
.icon-instagram:before {
  content: "\e921";
}
