//enews signup form
form {
  width: 100%;
  @include clearfix;

    p {
	    line-height: 1.1;
    }

	input {
		padding: .5em .75em;
		margin-bottom: 1em;
		border-radius: 4px;
		border: none;
		border: 2px solid $gray;

		&[type="email"] {
		width: 60%;
		float:left;
    border-radius: 4px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
    border: 1px solid $gray;
		margin-top: 11px;
    height: 2.198rem;

            &:focus {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
    }

	    &.incsub-mailchimp-submit {
			background: darken($primary-color, 1%);
			border: none;
			padding: .5rem 1rem;
			color: white;
			width: 40%;
			float: left;
			font-size: 14px;
			border-radius: 4px;
			border-top-left-radius: 0;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 0;
			background: darken($primary-color, 1%);
			border: none;
			margin-left:-2px;
      margin-top: -5px;
    }
	}

	textarea {
			border: 2px solid $gray;
	}

	ul.incsub-mailchimp-error, ul.incsub-mailchimp-error li {
		color: $warning-color;
        border-color: $warning-color;
	}

	p.incsub-mailchimp-updated {
		color: $dark-gray;
		border-color: $gray;
	}


	.incsub-mailchimp-label-firstname, .incsub-mailchimp-label-lastname, [data-label="firstname"], [data-label="lastname"] {
		display: none;
		margin: 0;
		padding: 0;
		line-height: 0;
	}


  textarea {
      border: 1px solid $rule-gray;
  }


}

#mc_embed_signup {
  margin: auto;
  max-width: 100%;
  width: 560px;
  input {
    &[type="email"] {
      border: 1px solid #cccccc;
      border-radius: 4px;
      height: 2.198rem;
      margin: 0;
      width: 80%;
      max-width: 440px;
      min-width: 120px;
    }
    &#mc-embedded-subscribe {
      background: darken($secondary-color, 1%);
      border: none;
      border-radius: 4px;
      padding: .5rem 1rem;
      color: white;
      width: 20%;
      min-width: 100px;
      font-size: 14px;
      height: 2.198rem;
      &:hover {
        background-color: $secondary-darker;
      }
    }
  }
  @include breakpoint(small up) {
    input {
      &[type="email"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        float:left;
      }
      &#mc-embedded-subscribe {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        float: left;
        margin-left:-2px;
      }
    }
  }
  @include breakpoint(small down) {
    padding: 0 .9375rem;
    input {
      &[type="email"] {
        width: 70%;
      }
      &#mc-embedded-subscribe {
        width: 30%;
      }
    }
  }
  @include breakpoint(extra-small down) {
    padding: 0 1.2rem;
    input {
      &[type="email"] {
        width: 100%;
      }
      &#mc-embedded-subscribe {
        border-radius: 8px;
        margin: 1rem auto 0;
        width: 120px;
      }
    }
  }
}



//search styles for staff directory
.staff-search-form {
  @include grid-column-row();
  position: relative;


       i, span {
         display: inline-block;
         position: relative;
         top: 2.25rem;
         left: .75rem;
         color: $medium-gray;
       }


       input {
         border-radius: 4px;
         border: 1px solid #ccc;
         padding-left: 2.5rem;


            &:focus {
              border: 0.0625rem solid $secondary-color;
            }
       }

       // small down
       @include breakpoint(small down) {
          i, span {
            top: 2rem;
            left:.75rem;
          }

          input {
            padding-left: 2rem;
          }
       }


}


//Search form style
.search-form-style {
  padding: 0;
  margin: 2.8125rem auto;

    input {
      border: none;
      border-radius: 0;
      box-shadow: none;

      &[type=text] {
        border-bottom: 1px solid $gray;
        font-size: 2rem;
        padding:.5rem 0 1rem 2rem;
        width: 100%;
      }

      &::placeholder {
        font-weight: normal;
        color: $medium-gray;
      }
    }

    i, span {
      position: relative;
      top: 1.625rem;
      left: 0;
      display: block;
      color: #6d6d6d;
      font-size: 1.5rem;
      color: $black;
    }

    li, input {
     margin: 0;
     padding: 0;
   }

    .site-search-form {
      display: flex;
      position: relative;
      span {
        align-items: center;
        border-bottom: 1px solid $gray;
        display: flex;
        padding: .75rem .5rem;
        top: 0;
      }
      input {
        padding: .75rem .5rem;
        &[type=text] {
          flex-grow: 2;
          height: 56px;
        }
        &[type=submit] {
          font-size: 1.6rem;
          padding: .8rem 1.2rem;
        }
      }
    }


      // small down
      @include breakpoint(small down) {
        padding: 0 15px;
        margin: 0 auto;

         .staff-search-form {

           i, span {
             top: 1.5rem;
           }
         }

        .site-search-form {
          span {
            font-size: 1.125rem;
            padding: .75rem .5rem .5rem 0;
          }
          input {
            padding: .5rem;
            &[type=text] {
              font-size: 1.25rem;
              height: 40px;
            }
            &[type=submit] {
              font-size: 1rem;
            }
          }
        }
      }


}//end search-form-style

//contact page form
#cntctfrm_contact_form, .wpcf7-form {
   float: left;
   margin-top: 10px;

   input[type="text"], textarea {
     border-radius: 4px;
   }

   .cntctfrmpr_field_wrap {
     margin-bottom: 15px;
   }

   .cntctfrm_input input {
     padding-top: 4px;
     padding-bottom: 4px;
     border: 1px solid $rule-gray;

     &.cntctfrm_contact_submit {
       padding-bottom: 8px;
       padding-top: 8px;
     }
   }

   .cntctfrm_field_wrap  {
     margin-bottom: 1.5rem;
   }

   .cntctfrm_label {
     margin-bottom: .5rem;
     margin-top: 1.5rem;

      &:first-child {
        margin-top: 0;
      }

      label {
        font-size: 1.125rem;
        font-weight: 400;
      }
   }

   .required, .cntctfrm_error_text {
     color: $primary-darker;
   }

   .cntctfrm_error_text {
     margin-bottom: 4px;
     font-size: 12px;
   }

 .cntctfrm_contact_submit {
   background: darken($secondary-color, 1%);
   border: none;
   color: white;
   width: 40%;
   float: left;
   font-size: 16px;
   border-radius: 3.25rem;
 }

 @include breakpoint(small down) {
     margin-bottom: 15px;
     padding: 0 0.9375rem;
 }
}

//new enews signup hs-form
.mc4wp-form {

  label {
    font-size: 1.125rem;
    font-weight: 400;

     &.select {
       font-size: 1rem;
       line-height: 1.6;
     }

     span.required {
       color: $primary-darkest;
     }
  }

  input[type=text], input[type=email], textarea {
    border: 1px solid $rule-gray;
    border-radius: 4px;
    float: none;
    height: 2.55rem;
    margin: 0 0 0.75rem;
    padding-top: 4px;
    padding-bottom: 4px;
    &:focus {
      border-color: $primary-color;
    }
  }

  [type=submit] {
    background: $secondary-color;
    border: none;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    float: none;
    max-width: 130px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 40%;
    &:hover {
      background-color: $secondary-darker;
    }
  }
}

//new contact form
div.wpcf7 {
  float: left;
  margin-bottom: 30px;
  max-width: 340px;
  width: 100%;

  .wpcf7-submit {
    background: $secondary-color;
    border: none;
    border-radius: 16px;
    color: #fff;
    cursor: pointer; 
    float: left;
    font-size: 16px;
    float: none;
    max-width: 130px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 40%;
    &:hover {
      background-color: $secondary-darker;
    }
  }

  label {
    font-size: 1.125rem;
    font-weight: 400;

      span {
       display: block;

         &.wpcf7-not-valid-tip {
          color: $alert-color;
          display: block;
          font-size: 12px;
           top: -.8em;
           position: relative;
         }
       }
  }

  input[type=text], input[type=email], textarea {
    border: 1px solid $rule-gray;
    border-radius: 4px;
    float: none;
    height: 2.55rem;
    margin: 0 0 0.75rem;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    &:focus {
      border-color: $primary-color;
    }
  }

  textarea[rows] {
    height: 150px;
  }

  .wpcf7-validation-errors {
    border: none;
    color: $alert-color;
    display: block;
    font-size: .75em;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0 !important;
  }

  .wpcf7-checkbox {
    .wpcf7-list-item {
      margin: 0 0 1em;
    }
    input {
      margin: 0 .5rem 0 0;
      position: relative;
      top: -2px;
    }
  }

}


//Hubspot Enews Signup form
.hbspt-form {
    font-family: $body-font-family;
    text-align: center;

    .hs-form-required {
        color: $primary-darkest;
    }

    label {
        display: block;
        margin: 0 auto;
        text-align: left;
        width: 70%;
        span {
            font: {
                size: 1rem;
                weight: 400;
            }
        }
    }

    form input[type=email] {
        width: 70%;
        float: none;
        margin: .25rem auto 0.75rem;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border: 1px solid #ccc;
        &:focus {
            border-color: $primary-color;
            transition: border 0.5s ease;
        }
    }

    .hs-button {
        background-color: $primary-color;
        border: none;
        color: $white;
        cursor: pointer;
        font-family: $body-font-family;
        font-weight: 500;
        border-radius: 3.25rem;
        padding: .5rem 1.5rem;
        font-size: 1.25rem;

        &:hover, &:focus {
            @include button-hover;
        }

    }

    .hs-error-msgs  {
        margin-left: 0;
        list-style: none;

            label {
            color: $primary-darker;
            font-size: 1rem;
            }
    }

    //styles for medium breakpoints
    @include breakpoint(medium down) {

        .hs-button {
            float: none;
        }

        label span {
            font-size: 0.9375rem;
        }
    }

    @include breakpoint(small down) {
        form input[type=email], label {
            width: 100%;
        }
    }
}

//Hustle Pro

.hustle-ui {
  &.hustle-slidein {
		padding-left: 0 !important;
      .hustle-image {
        img {
          position: relative !important;
        }
      }
      .hustle-button-close {
        background-color: rgba(#000, .8) !important;
        border-radius: 50%;
      }
		@include breakpoint(large) {
			.hustle-image {
				img {
					width: 320px !important;
				}
			}
      &.hustle_module_id_15 {
        .hustle-image {
          img {
            width: 240px !important;
          }
        }
      }
		}
		@include breakpoint(medium down) {
			.hustle-image {
        height: auto !important;
				justify-content: flex-start;
				img {
					width: 100%;
				}
 			}
    }
		@media screen and (max-width: 782px) {
       &.hustle_module_id_15 {
         .hustle-image {
          height: 0 !important;
          overflow: hidden;
          padding-top: 20%;
           img {
            bottom: 0;
            object-position: bottom center !important;
            position: absolute !important;
            left: 0;
           }
         }
       }
		}
	}
	&.hustle-popup {
		.wph-modal-mask {
			background-color: rgba(12,12,12,0.9);
		}
		@include breakpoint(medium down) {
			.hustle-image {
				display: none;
			}
		}
    .hustle-button-close {
      margin-bottom: 2px;
    }
	}
    .hustle-button-close {
        color: $white !important;
        top: -32px !important;
        right: 2px !important;
    }
	.hustle-layout {
    background-color: $medium-gray !important;
		overflow: visible !important;
		padding: 0 !important;
		.hustle-layout-header {
			&+.hustle-layout-content {
				border-top: none !important;
			}
			.hustle-layout-title {
				font-family: $body-font-family !important;
			}
		}
		.hustle-content {
			* {
				font-family: $body-font-family !important;
				color: $white !important;
			}
			h2, h3 {
                font-size: 28px !important;
                text-align: left;
			}
			p {
				font-size: 16px !important;
				margin-bottom: 1em !important;
			}
        }
        .button {
            color: $white;
            font-size: 18px !important;
            padding: $button-padding !important;
            &.border {
                border: 1px solid rgba($white, .5) !important;
            }
        }
		@include breakpoint(medium) {
            .hustle-layout-message {
                .button {
                    font-size: 1.125rem;
                }
			}
		}
  }
}


//Hustle Pro slidein Styles
.hustle-modal {
  background-color: $primary-color; border: 4px solid #fff;


  .hustle-modal-article h2, .hustle-modal .hustle-modal-message h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
  }

  .hustle-modal-message {
    font-size:16px;
    text-align:center;
    margin:.5em 0;

         h2 {
           margin: 0 !important;
         }

        .submitted-message p {
          font-size:22px !important;
          text-align:center;
          margin-top:1.25rem !important;
        }
  }

  .hustle-modal-content {
    padding-bottom: 0;
  }

  .hustle-modal-wrap--content {
    padding: 0 !important;
  }

  .hustle-modal-message {
    font-size: 15px;
  }

  a.large-text {
    color: #ffffff;
    font-size: 18px;
    text-decoration: underline;
    display: block;
    text-decoration-color: $primary-tint;
  }


  form input[type=email] {
    width: 70%;
    float: none;
    margin: .75rem auto;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #ccc;
  }

  form input[type=submit] {
    background-color: $primary-darker;
    border: none;
    color: #fff;;
    font-family: Source Sans Pro,sans-serif;
    font-weight: 500;
    border-radius: 3.25rem;
    padding: .5rem 1.5rem;
    font-size: 1.25rem;
    float: none;

        &:hover {
            transition: background-color 0.5s ease;
            color: $light-gray;
            background-color: $primary-darkest;
        }
   }

   @include breakpoint(small down) {
      &.hustle-modal-minimal.hustle-animated.hustle-animate-slideInRight {
        width: 100% !important;
        height: auto !important;
        position: fixed;
        bottom: 0;
      }
   }
}

.wph-modal.inc_opt_slidein_se {padding-left: 0 !important;}


//Hustle Pop-up Styles
.hustle-ui {

 &.hustle-popup  {
   background: transparent;

   .hustle-button-close {
       color: $white !important;
       top: -32px !important;
       right: 2px !important;
   }

    section {
      padding: 0;
    }

    .hustle-modal {
      background-color: transparent;
      padding: 0 !important;
      border: none;
      width: auto;
      max-width: none;

      .hustle-modal-body {
        background-color: transparent !important;
        padding-bottom: .5rem;


          .hustle-modal-message {
            padding: 0;
            margin: 0;

              img {
                width: 100%;

                &.campaign {
                  text-align: center;
                  margin: 0 auto;
                }
              }
          }
      }

      .hustle-modal-close {
        background: transparent;
        width: 100%;
        position: relative;

          svg {
            position: absolute;
            right: 0;
          }
      }

    }
 }

}







//change address hs-form-required
.place-form {
  width: 54%;

      .hs-form * {
        font-family: $body-font-family;
      }

      .hs-form-required, .hs-error-msgs, .hs-error-msgs label  {
        color: $primary-darker !important;
      }

      .hs-error-msgs label  {
        font-size: 1rem;
        color: $dark-gray;
      }

      legend {
        font-size: 1rem;
        color: $black;
      }

      .hs-form {

        label {
          font-size: 1.125rem;
          font-weight:400;
         }

         input, input[type=email], select, textarea {
          padding-top: 4px;
          padding-bottom: 4px;
          border: 1px solid #d4d4d4;
          border-radius: 4px;
          display: block;
          width: 100%;
          &:focus {
            border-color: $primary-color;
          }
         }
      }

      .hs-button.primary.large {
        background-color: $secondary-color;
        border: none;
        color: #fff;
        cursor: pointer;
        font-family: Source Sans Pro,sans-serif;
        font-weight: 500;
        border-radius: 3.25rem;
        padding: .5rem 1.5rem;
        font-size: 1.25rem;
        float: none;
        width: 40%;
        &:hover {
            background-color: $secondary-darker;
        }
      }

      @include breakpoint(medium only) {
        width: 60%;
        padding: 0 0.9375rem;
      }

      @include breakpoint(small down) {
        width: 100%;
        padding: 0 0.9375rem;
      }

}//end place-form
