h1, h2, h3, h4, h5, h6 {
    line-height: $header-lineheight;
		margin-bottom: $header-margin-bottom;
}

h1.page-title {
  text-align: left;
}

h1, h2, h3 {
	text-align: center;
	margin-bottom: 0.5em !important;
	line-height: 1.2;

	span, i {
		display: block;
	}

}

h1 {
			span {
        position: absolute;
        top:-20px;
        font-family: $body-font-family;
        //background-color: rgba(0,0,0,.3);
        background-color: $primary-color;
        padding: .25rem .9rem;;
        text-shadow: none;
        text-transform: uppercase;
        font-size: .9rem;

          @include breakpoint(small down) {
            max-width: 150px;
            margin: 0 auto;
            position: static;
          }
			}
}

h4 {

   &#selected-program-header {
					margin-bottom: 1rem;
          margin-left: .975rem;

          @include breakpoint(small down) {
            margin-left: 0;
          }
   }
}

.comment-section, .comment-sidebar-section {

    h3 {
      text-align: left;
      margin: 0.625rem 0;
    }
}

.banner-wrap {
  h1 {
  	font-family: $body-font-family;
  	font-size: 	1.625rem;
  	line-height: 1.4;
	}
}


.detailed-style {
		font-family: $body-font-family;
		color: $primary-darker;
		font-size: 1.125rem;
    font-weight: bold;
		text-transform: uppercase;
		border-bottom: 2px solid #dadada;
		padding-bottom: 6px;
}
