header {

	.header-content {
     @include grid-column-row(30);
		 @include grid-column-position(center);


							.tiny-menu-container {
									@include grid-column(6,0);
								  @include grid-column-position(6);

									@include breakpoint(large down) {
										@include grid-column(7,0);
									  @include grid-column-position(5);
									}

									@include breakpoint(medium down) {
										@include grid-column(11,0);
									  @include grid-column-position(1);
									}


									@include breakpoint(small down) {
													 display: none;
									}
							}//end tiny-menu-container


							.logo {
								@include grid-column(4, 0);

								@include breakpoint(small down) {
									@include grid-column(5, 0);
									//@include grid-column-position(1)
									margin: .25rem auto;
								}
							}

             .website-nav-container {
							 @include grid-column(7, 0);
							 @include grid-column-position(1);

							   @include breakpoint(medium only) {
									 @include grid-column(8, 0);
									 @include grid-column-position(0);
								 }

								 @include breakpoint(small down) {
									 @include grid-column-unposition;
									 @include grid-column(12,0);
									 @include grid-column-position(center);

									  .website-nav {
											float: none !important;
                                            font-size: 0;

											li.is-dropdown-submenu-parent {
											 background-color: $light-gray;
										  }
										}
								 }

							}


			 @include breakpoint(small down) {
					 @include grid-column(12,0);
					 @include grid-column-position(center);
			 }

             @include breakpoint(small down) {
                 background-color: $light-gray;
             }
	}//end header-content defines the row size
}

//footer
footer {
		 background-color:  $light-gray;
		 padding: 20px  0;


   .container {
		 @include grid-row;
	 	 @include grid-column(12);
		 @include grid-column-position(center);
		 padding: .5rem 0;

	   .footer-brandbar {

        .icon-CULogo {
            @include grid-column(3);
            float: left;

            img {
                width: 250px;
                height: auto;
            }
        }

		   .contact-info {
			   @include grid-row;
			   @include grid-column(9);
			   padding: 0;
			   float: right;
			   text-align: right;

			    ul {
				 margin-bottom: 0;
				 list-style-type: none;

				       li {
					       display: inline;

					       a {
						     color: $dark-gray;

									 span {
									 font-size: 2.25rem;
									 margin-right: .075rem;

									    &:hover {
												color: $medium-gray;
											}
								   }

							     &:hover {
										 border-bottom: none;
							     }

							     &.icon-facebook-official svg {
								     border-radius: 7px;
							     }
					       }
				       }


		 											.footer-menu-header {
		 												font-size: 1rem;
		 											}

				  &.contact-list {
					  color: $dark-gray;
					  font-weight: 500;
                      line-height: 1.1;

					  li {
					   margin: 0 5px;

					    &:last-child {
						    margin: 0 0 0 10px;
					    }

							    a {

	 								 font-size: 0.9rem;

								  &:hover {
									  text-decoration: underline;
								  }
								}

					  }

				  }
			    }

			    small {
				font-size: 0.75rem;
				color: #555;
                margin-top: 5px;
                display: block;
			    }
		   }


		  @include breakpoint(medium down) {
				  padding: 0 15px;
				  margin-bottom: 200px;

					.icon-CULogo, .contact-info {
				     @include grid-column(12);
				     text-align: center;
				     float: none;

				    }

				    .icon-CULogo {
					 margin-bottom: 15px;
					 max-width: 250px;
					 margin: 0 auto;
					 padding: 0;

					  object {
						  margin-bottom: 15px;
					  }

					  img {
						  margin-bottom: 0;
					  }

					}

					.contact-list {
						font-size: .9rem;
						margin: 0 0 0 5px;
						padding: 0;
					}
	    }
		}


	   .footer-menu {
		   @include grid-row;
	     @include grid-column(12);
	     @include grid-column-position(center);
	     padding: 0 0 20px;


			   .contact-list {
         list-style-type: none;
				 margin: 0;
				 padding-right: 0;


				  &:first-child {
					  padding-left: 0;
				  }

				  > li {
					  @include grid-column(1.714285714285714);
						line-height: 1.1;
					  font-weight: normal;


					  a {

							&.footer-menu-header {
								 font-weight: bold;
								 font-size: 1rem;
								 margin-bottom: .25rem;
							}

						  &:hover {
							  text-decoration: underline;
								border-bottom: none;
						  }
					  }

						ul {
							list-style: none;
							margin-left: 0;
							margin-top: 0.5rem;


							> li {
								line-height: 1.0;
								margin-bottom: 0.75rem;
								font-size: .9rem;

								  .icon-external-link {
										font-size: .5rem;
										margin-left: .1rem;
									}
							}
						}
				  }

					  a {
							color: $dark-gray;
                      }
                      .sub-menu a {
                          color: #555;
                      }
			   }

	   }//end footer-menu


	}

			@include breakpoint(medium down) {

				.container {

					.footer-menu {

							.contact-list {
								text-align: center;

									&:first-child {
										padding-left: inherit;
									}

									> li {
										@include grid-column(4, 30px);
                    margin-bottom: 1rem;

										> ul {
											min-height: 14rem;
										}

									}

							}

					}

				}


			}//end medium breakpoint

			@include breakpoint(small down) {

				 .container {

					 .footer-menu {

						 .contact-list {
								 @include grid-column(10, 30px);
                 @include grid-column-position(center);
                 display: flex;
                 flex-wrap: wrap;

									> li {
                     @include grid-column(6);
                     float: none !important;
									}
							}
					 }

				 }
			}//end small breakpoint

}//end footer

//styles 1-column
.col-1 {

	.grid {
		@include grid-column(10);
		@include grid-column-position(center);
		max-width: 78.125rem;
		margin: auto;

		&.centered {
			padding: 2rem 0 4rem;
			text-align: center;
			h1 {
				text-align: center !important;
			}
			p {
				margin-left: auto !important;
				margin-right: auto !important;
				text-align: center !important;
			}
		}
		@include breakpoint(small down) {
			p {
				line-height: 1.3em !important;
				padding: 1rem !important;
			}
		}

	}// end grid

	@include breakpoint(medium only) {
	   .grid {
		 	@include grid-column(12);
		  }
	 }

	 @include breakpoint(small down) {
			.grid {
			 @include grid-column(12, 0);
		   }
		}

}//end col-1

//styles 2-column
.col-2 {
	@include grid-column-row();


	.grid {
		@include grid-column(9);
		margin-top: 1rem;

			@include breakpoint(medium down) {
				@include grid-column(8);
				padding-top: 0;
			}


			@include breakpoint(small down) {
				@include grid-column(12);
				padding-top: .75em;
			}

		.enews-widget {
		   width: 45%;
       float: left;
      clear: left;

           	@include breakpoint(small down) {
	           	width: 100%;
	           	float: none;
		        }
		}

	}

	.sidebar {
		@include grid-column(3);
		margin-top: 2.25rem;

            h4 { 
                font-size: 1.125rem;
            }
			a {
				text-decoration: underline;
			}

			@include breakpoint(medium down) {
				@include grid-column(4);
				margin-top: 0;
		  }

			@include breakpoint(small down) {
				@include grid-column(12);
				margin-top: 1.25rem;

				.widget {
					padding: 0 0.9375rem;

					.incsub-mailchimp-form {
						margin-bottom: 0;
					}

				}
			}
	}

	&.aside-right{

		  .grid {
				@include grid-column(12);

				 aside {
					 @include grid-column(3, 0);
				 }

				 main {
					 @include grid-column(9, 0);
					 margin-top:  0.625rem;
					 padding-left:  0.625rem;

				 }

			}//end grid

	}//end aside-right

}//end col-2

//styles for both 1 and 2 columns
.col-1, .col-2 {

	  .subnav-wrapper {
			 @include grid-column-row(30);
			 @include grid-column-position(center);
		}

	  .grid {

			.shaded {
					 background-color: $background-gray;
					 padding: 1em;
			}

			.col-nested {
				@include grid-column(12, 0);
				text-align: center;
				margin: 15px 0;
				padding: 0;

				h4 {
					@extend .detailed-style;
					text-align: left;
					padding: 0;
				}

				div {
					text-align: left;
					padding: .75em;
					font-family: $body-font-family;

								 ul  {
									 list-style: none;
									 margin: 0;
									 padding: 0;
									 line-height: 1.6;
								 }
				}

				@include breakpoint(small down) {

					div {
						padding-top: 0;
						padding-bottom: 0;

							&:first-child {
								padding-top: 0.9375rem;
							}

							&:last-child {
								padding-bottom: 0.9375rem;
							}
					}

				}

			}//end col-nested

			.col-2-nested {

						.nested-col {
								 @include grid-column(6, 0);
						}

			}//end col-2-nested

			.col-3-nested {

					.nested-col {
						 @include grid-column(4, 0);
					}

				}//end col-3-nested

			.col-4-nested {

			   .nested-col {
					 @include grid-column(3, 0);
			    }

			}//end col-4-nested

			.col-2-nested, .col-3-nested, .col-4-nested {

					div, p {
					    font-size: 1.05em;
					    font-weight: 300;
					    color: #222;
					    letter-spacing: 0;
					    line-height: 1.6;
					    font-family: $body-font-family;
					}

					@include breakpoint(small down) {

							.nested-col {
									@include grid-column(12, 0);
								}
					}

				}//end col-2-nested, col-3-nested, col-4-nested

				/*@include breakpoint(small down) {
					padding-top: 0;
					padding-left: 0;
					padding-right: 0;
				}*/

		}//end grid

		@include breakpoint(small down) {
				.subnav-wrapper {
					@include grid-column(12, 0);
					@include grid-column-position(center);

						h4 {
							margin-left:  0.625rem;
							margin-top:  0.625rem;
						}
				}
		}

}//end col-1, col-2

.col-two {
		>div {
			@include grid-column(6);
		}

		&.col-center {
			>div {
				@include grid-column-position(center);
			}
		}
}


//Styles for .page-template-full-width-template
.page-template-full-width-template {

	#bp-article-content {

    section {

			    &.centered-col-6 {
			      @include grid-column-unposition;
			      @include grid-column(6);
			      @include grid-column-position(center);

						&.col-two {
							 >div {
								 width: 100%;
							 }
						}
			    }

					&.centered-col-8 {
						@include grid-column-unposition;
						@include grid-column(8);
						@include grid-column-position(center);

						&.col-two {
							 >div {
								 width: 100%;
							 }
						}

					}

					&.centered-col-10 {
						@include grid-column-unposition;
						@include grid-column(10);
						@include grid-column-position(center);
					}

					&.pullquote {
						@include grid-column-unposition;
						@include grid-column(8);
						@include grid-column-position(center);

						  blockquote {
								margin: 0 0 2rem -5rem;
								padding: .58594rem 1.30208rem 0 1.23698rem;
								border-left: 1px solid #5f6368;
								max-width: 40%;
								font-size: 1.5rem;
							}

							p {
								max-width: 94%;
							}

					}

		}


		.full-bleed.top-banner {


                    .caption {
                        right: 4%;
                    }

                    .text-overlay-middle {
                      margin: auto;
                      max-width: 78.125rem;
                      padding: 0 1rem;
                      width: 83.3333%;
                    }
                    .text-article-display {
                      float: left;
                        // @include grid-column(4 of 10);
                        // @include grid-column-position(1);
                        // max-width: 480px;
                    } 
        }

	}

	   //styles for medium breakpoints
		 @include breakpoint(medium down) {
			 #bp-article-content {
				 .full-bleed.top-banner .text-overlay-wrapper .text-overlay-middle {
                width: 100%;

							 .text-article-display {
								//  @include grid-column(10 of 10);
								//  @include grid-column-position(1);
									 .text-overlay {
											h2 {
												font-size: 1.2rem;
											}

											h1 {
												font-size: 1.5rem;
											}
									 }
								}
						}

						section {

							&.pullquote {
							 @include grid-column(10);
							 @include grid-column-position(center);

								 &.text-left p {
									 text-align: left !important;
									 max-width: 100%;
								 }

								 blockquote {
									 margin-left: 0;
									 font-size: 1.25rem;
									 max-width: 54%;
								 }

							}

							&.centered-col-6 {
								@include grid-column(8);
								@include grid-column-position(center);
							}

							&.centered-col-8 {
								@include grid-column(10);
								@include grid-column-position(center);
							}

							&.text-left.centered-col-8 {
								@include grid-column(8);
								@include grid-column-position(center);
						  }

							&.text-right {
								h2, p {
									text-align: center !important;

									 &.article-excerpt {
										 text-align: left !important;
									 }
								}

								p, h2 {
									max-width: 100%;
									text-align: left !important;

											 @include breakpoint(small down) {
												 text-align: center !important;
											 }

								}
							}

							&.cta-style {

								>div {
								@include grid-column(10);
								@include grid-column-position(center);

								   h2 {
										 font-size: 2rem;
									 }
								}

							}

						}
				}

		 }//end medium Breakpoints

		 //styles for small breakpoints
		 @include breakpoint(small down) {

			 #bp-article-content {

				 		.full-bleed.top-banner {

						   .text-overlay-wrapper .text-overlay-middle {

									 .text-article-display {
										 @include grid-column(12);
										 @include grid-column-position(0);

											h1 {
												margin: 0 0 .5rem;
												text-shadow: none;
											}
								   }

							 }



							 &.youtube-banner {
								 .text-overlay-wrapper .text-overlay-middle .text-article-display {
									  h1 {
											margin-top: 1rem;
										}
								 }
							 }

						 }

						 section {

							 &.pullquote {
		 						@include grid-column(12);
		 						@include grid-column-position(center);

								 blockquote {
									 max-width: 100%;
									 margin: .75rem .75rem 2rem;
								 }
							 }

							 &.centered-col-6, &.centered-col-8, &.centered-col-10 {
								 @include grid-column(12);
								 @include grid-column-position(center);
							 }

						   &.text-left.centered-col-8, &.centered-col-8 {
							 width: 100%;
								}

								&.button-row {

								 &.three-green {
									 >div {
										 @include grid-column(12);
										 border-right: none;
										 border-bottom: 1px solid $secondary-tint;

										 &:last-child {
											 border-bottom: none;
										 }
									 }
								 }

								 &.cta-style {

									 >div {
									 @include grid-column(12);
									 @include grid-column-position(center);

									    h2 {
												font-size: 1.5rem;
												margin-bottom: .5rem;
											}
								   }

								 }

							  }
						 }
				}
		 }//end small breakpoint

}//end page-template-full-width-template

//styles for search page
.search {

	h3 {
		text-align: left;
		padding-left: 0.9375rem;
	}

	.carousel {
		padding: 0 0.9375rem;
		margin-bottom: 6%;

		.slick-5.slick-slider {
		  .slick-dots {
			 bottom: .25rem;
		  }

			.slick-prev, .slick-next {
				top: 44%;
			}

			.slick-prev {
				left: 0;
			}

		}
	}

	.search-form-style {
		margin: 0 auto;
    padding: 4rem 0;

		   @include breakpoint(small down) {

				 .staff-search-form  {


						  input {
								padding: .5rem 0 1rem 1.5rem;

									&[type=text] {
							     font-size: 1.25rem
								  }
						   }

							 i, span {
								 top: 1.5rem;
								 font-size: 1.125rem;
							 }
					}
			 }
	}

	.gsc-control-cse {
   	padding: 0;


			.gsc-above-wrapper-area {
				display: none;
			}

			.gsc-resultsRoot {
				padding: 0 0.5rem;
			}

			.gsc-control-wrapper-cse {

				table {
					margin-bottom: 0;

					tr, tr td {
						padding: 0;
					}
				}

			 .gs-title {
				 height: auto;
			 }

			}
		}

	}


//styles for comment section
#comment-area.container {
  @include grid-column-row();
	@include grid-column-position(center);
	margin-bottom: 10px;
	border-top: 2px solid #d0cece;
	clear: both;



	.comment-sidebar-section {
		@include grid-column(4, 0);
	 	@include grid-column-position(8);
		margin-top: .25rem;

	 	  h3 {
		 	@extend .detailed-style;
		 	display: block;
	 	  }


	 	  .article-list {

			  ul {
				  margin: 0;
				  padding: 0;

				   li {
				      max-width: 170px;
					  	margin-bottom: 15px;
	            list-style: none;
					  	float: left;
				    }
			   }
		  }

		  .article-list.list-style {

			   ul {
				  margin: 0;
				  padding: 0;

				   li {
				      max-width: 100%;
					    margin: 0;
	            list-style: none;
					    float: left;
							padding:0.75rem 0 .5rem;

						.article-item-media {
							@include grid-column(5, 0);
						}
						.article-item-body {
							@include grid-column(7, 0);
							padding-left: 10px;
					    }
				    }
			   }


		  }//end .article-list.list-style

	}//end comment-sidebar-section

	.comment-section {
		@include grid-column(8, 0);
		@include grid-column-position(-4);
	  padding-right: 45px;

			 h3 {
			  font-family: $header-font-family;
				padding-bottom: .25rem;
			  margin-bottom: 10px;
			  font-size: 28px;
		   }
	}//end comment-section


	@include breakpoint(small down) {
			padding: 0 15px;

	  	 .comment-sidebar-section, .comment-section {
           @include grid-column(12, 0);
					 @include grid-column-unposition;
        }

        .comment-sidebar-section {

		        .article-list {
				        ul li {
					        max-width: 100%;
				        }

								.content-download span {
									right: 0;
								}

				    }

						.incsub-mailchimp-form {
							margin-bottom: 0;
						}

        }

        .comment-section {
        	padding-right: 0;
        }

    }

}// end #comment-area.container

//styles for content with left sidebar
.content-left-sidebar {
    display: flex;
    flex-wrap: wrap;
	  @extend .clearfix;
	  margin-bottom: 20px;

	 		span {
		 		display: block;
	 		}

    @include breakpoint(medium up) {
			aside {
		     flex-basis: 33.3333%;
		 }

		.group-results {
        flex-basis: 66.6666%;
					 margin-top: 8px;
      }
    }


		// medium down
		@include breakpoint(medium down) {

	        @include grid-column(12, 30px);
		      @include grid-column-position(center);
		}

		// small down
		@include breakpoint(small down) {
		    aside {
					 @include grid-column-unposition;
			     @include grid-column(12);
			 	}

		    main {
				 @include grid-column-unposition;
		     @include grid-column(12);
		    }

		  }


	}//end content with left sidebar


//Styling a div if sidebar within article needs to stack under main content in mobile view
.main-area-left {
	  max-width: 60%;
		float: left;

		@include breakpoint(medium down) {
				max-width: 100%;
		}
}

//
.more-ways-to-give {

	.article-item-header {
		i.fa-external-link {
			display: none;
		}
	}
}

#bp-article-content .wide-section {
  margin: 0 auto;
  max-width: 800px;
  p, ul {
    max-width: none
  }
}

#bp-article-content .cta-section {
  background-color: $background-gray;
  padding: 20px;
  h2 {
    border-bottom: 2px solid #dadada; 
    color: #bb501b;
    font: {
      family: 'Source Sans Pro',sans-serif;  
      size: 1.125rem; 
      weight: bold; 
    }
    padding-bottom: 6px;
    text-transform: uppercase; 
  }
  p, ul {
    max-width: none;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Migration Celebration page
body.migration-celebration {
  .full-bleed.top-banner .text-overlay-wrapper .text-overlay-middle .text-article-display { 
    max-width: 510px; 
  }
  #bp-article-content {
    .article-list ul, ul.col-nested { 
      max-width: 800px; 
      margin-left: auto; 
      margin-right: auto; 
      float: none; 
    }
    .col-nested { 
      &:after 
      { 
        content: " "; display: table; clear: both; 
      }
      h3 {
        font-size: 1.55rem;
      }
      * { 
        text-align: center; 
      } 
      img { 
        max-width: 99%; 
      }
    }
  }
}


// Fitz pages
body[class*=fitz-farewell], body.thank-you-fitz, body[class*=quarter-century-of-leadership], body.fitz-tributes {
  #bp-article-content {
    margin: auto;
    max-width: 720px;
    h2 {
      margin-top: 3rem;
    }
    p {
      max-width: none;
    }
    .photo {
      &.large {
        margin-left: calc(50% - (512px));
        margin-right: calc(50% - (512px));
        max-width: none;
        width: 1024px;
        @media (max-width: 1100px) {
          margin-left: calc(50% - 48vw);
          margin-right: calc(50% - 48vw);
          width: 96vw;
        }
      }
    }
  }
  .carousel.medium {
    float: none !important;
    margin: 30px auto;
    width: 100%;
  }
  @media (min-width: 800px) {
    .carousel.medium {
      margin-left: -5%;
      width: 110%;
    }
  }
  @media (min-width: 1210px) {
    .full-bleed .text-overlay-wrapper {
      margin-left: -240px;
      width: 1200px;
    }
    .caption {
      margin-right: -240px;
    }
  }
  @media (max-width: 1209px) and (min-width: 720px) {
    .full-bleed .text-overlay-wrapper {
      margin-left: calc(50% - 48vw);
      margin-right: calc(50% - 48vw);
      width: 96vw;
    }
    .caption {
      margin-right: calc(50% - 48vw);
    }
  }
}

#bp-article-content {
  // Tributes Grid
  ul.masonry-grid {
    column-count: 3;
    column-gap: 16px;
    margin-left: 0;
    max-width: none;
    padding: 0;
    li {
      border: 1px solid rgba(0,0,0,.1);
      box-shadow: 0 3px 8px rgba(0,0,0,.1);
      display: grid;
      grid-template-rows: 1fr auto;
      break-inside: avoid;
      list-style-type: none;
      margin-bottom: 16px;
      padding: 1rem;
    }
    img {
      margin: -1rem -1rem 1rem -1rem;
      max-width: none;
      width: calc(100% + 2rem)
    }
    p {
      margin: 1rem 0 0 0;
    }
    &.two-col {
      column-count: 2;
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      column-count: 2;
    }
    @media only screen and (max-width: 767px) {
      column-count: 1;
      padding: 0 1rem;
    }
  }
  ul.row-style {
    clear: both;
    max-width: 880px;
    padding: 0;
    li {
      border-bottom: 1px solid $rule-gray;
      list-style-type: none;
      margin: 0;
      padding: 1.5rem 0;
      &:last-child {
        border-bottom: none;
      }
    }
    @include breakpoint(small down) {
      margin: 0 1.125rem 1rem;
    }
  }
  // Related Articles
  .article-list.card-display.card-three {
    &.related-articles {
      ul {
        margin: 3rem calc(50% - (512px)) 0 calc(50% - (512px));
        max-width: none !important;
        width: 1024px;
        @media (max-width: 1100px) {
          margin-left: calc(50% - 48vw);
          margin-right: calc(50% - 48vw);
          width: 96vw;
        }
        @include breakpoint(medium up) {
          li {
            background-color: #f3f7fb;
            margin-right: .2%;
            width: 33%;
          }
          .article-item-body {
            padding: .2rem 1rem 1rem;
          }
        }
      }
    }
  }
}