//Tiny Bar Nav
.tiny-bar {
  background-color: $light-gray;

  ul {
    @extend .float-right;

    li {

      a {
        color: $black;
        font-size: $font-small;
        padding: .5rem;

        &:hover:not(.join),
        &:focus:not(.join) {
          transition: background-color .5s ease;
          background-color: rgba(0, 0, 0, .1);
          text-decoration: underline;
        }

        &:focus:not(.join) {
          outline-offset: -2px;
        }

        &.current-menu-item {
          color: $secondary-darker;
        }

        &.join {
          @extend .button-style;
          color: $white;
          margin-left: .5rem;
          padding: 0.375rem 1rem;

          &:hover,
          &:focus {
            @include button-hover;
          }

        }

        //end join


        @include breakpoint(medium) {
          font-size: 0.9rem;
          padding: .75rem;
        }
      }

    }

    //end li
  }


}

//end tiny-bar

//Logo and Main Site Nav
.main-nav {
  transition: height .1s ease-in-out;

  .logo {

    .logo-bg {
      text-align: center;
      width: 350px;
      position: relative;


      a {
        display: block;
        width: 350px;
        height: 70px;
        z-index: 1;
        position: absolute;
        text-align: center;

        &:hover {
          border-bottom: none;
        }
      }

      .svg-logo {
        display: block;
        height: 70px;
        width: 350px;
        margin-left: -12px;
      }

      .logo-bg,
      .svg-logo,
      a {
        transition: all .1s ease-in-out;
      }

    }


  }

  //end logo

  .website-nav-container {

    .website-nav {
      @extend .float-right;

      .menu {
        margin-top: .75rem;

        a {
          color: $black;
          font-size: 1.25rem;
          padding: 0;

          &.search {
            @include show-for(medium);
          }

          &.external-link {
            color: $secondary-color;
          }

        }

        &.dropdown {

          >li {
            margin-right: 0.4rem;
            padding-right: 20px;
            position: relative;

            >a {
              padding: 1rem .5rem;
            }

            button {
              border-radius: 0;
              color: $black;
              cursor: pointer;
              font-size: 14px;
              height: 100%;
              line-height: 1em;
              position: absolute;
              right: 0;
              top: 0;
              width: 22px;
              -webkit-appearance: none;
              z-index: 1;
              span {
                color: inherit;
              }
            }

            >a,
            button {
              &:hover {
                background-color: $light-gray;
              }
            }

            >ul {
              display: none;
            }

            &.open {
              >a,
              button {
                background-color: $light-gray;
              }
              

              >ul {
                display: block;
              }

              button {
                span {
                  transform: rotate(180deg);
                }
              }
            }

            // &:focus-within:not(:last-child) {
            //   background-color: $light-gray;
            // }
          }

          .vertical.menu {
            border: none;
            background: none;
            background-color: $light-gray;
            left: 0;
            margin: 0;
            min-width: 200px;
            padding: 0;
            position: absolute;
            top: 100%;
            z-index: 1;

            >li {
              display: block;
              border-bottom: 1px solid $rule-gray;
              margin-right: 0;

              a {
                font-size: 1.125rem;
                line-height: 1.6;

                &:hover,
                &:focus {
                  background-color: $secondary-color;
                  color: $white;
                }
              }
            }
          }

          li.is-active {
            background-color: $light-gray;

            .vertical {
              border: none;
              background: none;
              background-color: $light-gray;
              margin-top: 0;

              .is-submenu-item {
                border-bottom: 1px solid $rule-gray;

                a {
                  font-size: 1.125rem;
                  line-height: 1.6;

                  &:hover,
                  &:focus {
                    background-color: $secondary-color;
                    color: $white;
                  }
                }

              }
            }
          }

        }

        //end dropdown

        li {
          display: inline-block;
          margin-right: .15rem;
          vertical-align: middle;

          a {
            padding: .5rem .75rem;
            vertical-align: text-bottom;

            i {
              display: inline-block;
              font-size: .88rem;
            }

            &:hover {
              border-bottom: none;
            }

          }

          &:last-child {
            margin-right: 0;
            padding-right: 0;
          }
        }

      }

      // end menu

    }

    // end website-nav


  }

  //end website-nav-container

  @include breakpoint(large) {
    height: 70px;
  }

  //end large up breakpoint

  @include breakpoint(medium down) {
    .logo .logo-bg {
      width: 248px;

      a,
      .svg-logo {
        width: 248px;
        height: 50px;
      }
    }

    .website-nav-container .website-nav .menu {
      margin-top: .75rem;

      li a {
        font-size: 1.125rem;
      }

      &.dropdown {

        >li>a {
          background: none;
        }

        >li {
          padding-right: 1rem;

          &:last-child {
            padding-right: 0;
          }
        }



        li:nth-child(4) {
          .vertical {
            left: auto !important;
            right: 0 !important;
          }
        }

        .vertical {
          .is-submenu-item {

            a,
            a.is-active {
              font-size: 1rem;
            }
          }
        }

      }
    }

  }

  //end medium breakpoint


  @include breakpoint(small down) {


    .button {
      padding: .25rem;
      margin: .25rem auto;
      display: inline-block;

      &.topics,
      &.search {
        background-color: transparent;
        color: $black;
        font-size: 1.25rem;

        a {
          background-color: $white;
          color: $black;
        }
      }

      &.topics {
        margin: .33rem .25rem 0 0.9375rem;
        padding-left: 0;
      }

      &.search {
        margin-right: .75rem;
      }

      &.join {
        padding: 0.25rem .75rem;
        margin-top: .5rem;
        margin-right: 0.9375rem;
        margin-bottom: 0;
        display: inline-block;
      }

    }

    .logo {

      .logo-bg {
        width: 100%;
        height: 32px;
        margin: 0;
        padding: 0;
        position: relative;

        a,
        .svg-logo {
          width: 160px;
          height: 32px;
          margin: 0;
          padding: 0;
          display: block;
        }


      }

    }

    //end logo


    .website-nav-container {
      background-color: $white;

      .website-nav .menu {
        margin-top: 40px;
        padding: 0 .5rem;
        line-height: 0;

        >li {
          // margin-right: 0;
          // text-align: center;

          a {
            padding: .5rem;
            white-space: nowrap;

            &:hover,
            &:focus {
              transition: background-color 0.5s ease;
              background-color: rgba(0, 0, 0, 0.1);

            }

          }
        }

        //end li


        &.dropdown {

          display: flex;
          justify-content: space-around;

          li {
            padding-right: 1.1rem;

            .menu-item-has-children {
              padding: .75rem .5rem;
            }

            button {
              font-size: 12px;
              right: -4px;
              width: 24px;
            }

            .vertical {
              li {
                padding-right: 0;
              }
            }

            &:nth-child(3),
            &:nth-child(4) {
              .vertical {
                left: auto !important;
                right: -.3rem !important;
              }
            }

            &.is-active {

              .vertical {
                min-width: 140px;

                li a {
                  font-size: 1rem;
                  padding: .5rem .75rem;
                  text-align: left !important;
                }
              }

            }
          }
        }

        //end dropdown for small breakpoint

      }

      //end .website-nav .menu

    }

    //end website-nav-container



  }

  //end small breakpoint

  @media screen and (max-width: 320px) {

    .website-nav-container {

      .website-nav .menu {

        &.dropdown {

          li {
            a {
              font-size: 1rem;
              padding: .75rem .3rem;
            }

          }
        }
      }
    }


  }

}

// end main-nav

//Sticky nav
body.scroll {

  @include breakpoint(medium) {
    padding-top: 50px;

    #main-header {
      background-color: $body-background;
      box-shadow: 0 -4px 5px 2px rgba(#000, .2);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1004;
    }

    .tiny-bar {
      display: none;
    }

    .main-nav {
      height: 50px;
    }

    .logo {
      .logo-bg {
        height: 50px;
        width: 255px;

        .svg-logo,
        a {
          height: 50px;
          margin-left: -8px;
          width: 250px;
        }
      }
    }

    .website-nav-container {
      .website-nav {
        .menu {
          margin-top: 0;
        }
      }
    }
  }

  //end medium up

}

//end sticky nav desktop

//Code for sticky nav on mobile
@include breakpoint(small down) {
  body {
    padding-top: 80px;
  }

  #main-header {
    background-color: $body-background;
    box-shadow: 0 -4px 5px 2px rgba(#000, .3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1004;
  }
}

//end sticky nav mobile

//Off-canvas Nav
.off-canvas {
  background-color: $white;

  a {
    display: block;
    color: #000;
    font-weight: 400;
    font-size: 1.125em;
    width: 100%;
    padding: .75em .5em;

    &:hover,
    &:focus {
      background: #608520;
      color: #fff;
      text-decoration: none;
    }

  }

  .close-button {
    text-decoration: none;
    margin: 0;
    padding: 0;
    position: static;
    font-size: 1.75em;
    font-weight: 500;
    top: 0;
    right: 0;
    text-align: right;
    background-color: #fbfafa;
    padding: 0 15px 5px 0;
    display: block;
    color: #3c3f40;

    &:hover,
    &:focus {
      color: #7e7d7d;
      background-color: $light-gray;
    }
  }
}