body.is-reveal-open {
overflow: visible;
}

.reveal-overlay {
	overflow-y: hidden;

	.reveal {
		@include reveal-modal-width();
		//@include mui-slide(in, down, 100%, $duration: 0.1s);
		//@include mui-slide(in, down, $duration: 0.25s);
		padding: 3rem;

		h1, h2, h3, h4, h5, h6 {
			font-family: $body-font-family;
		}

		h1, h2 {
			color: black;
			font-weight: 400;
			text-align: left;
			font-size: 2rem;
		}

		.close-button {
      align-items: center;
      display: flex;
			color: $gray;
			background-color: transparent;
			font-size: 3rem;
			font-weight: bold;
			line-height: .5;
			margin: 0;
			padding: 0;
			border-bottom: none;
			right:.5rem;

       .text {
        font-size: 1.3rem;
        line-height: 1;
        margin-right: .4rem;
       }

       &:hover {
         .text {
           text-decoration: underline;
         }
       }
		}




		div {
     float: none;

					.search-area {
           @extend .search-form-style;
					}//end search area


					.browse-link {
					margin-bottom: 45px;
						a {
							font-size: 1em;
							font-weight: 500;
						}

						span {
						color: $medium-gray;
						font-size: 0.875em;
						}
					}


					&.extras {
					 @include grid-row;
					 @include grid-column(12, 0);

						.bird-help-cta {
              @include grid-column(5, 0);
              text-align: left;
              padding-right: 5px;
              @extend .clearfix;

              .merlin-graphic {

									img {
										width: 70px;
										height: 117px;
									}
							}


							h3, span {
								margin: 0;
								padding: 0;
								text-align: left;
							}

							h3 {
								margin-bottom: 8px;
							}

							h3 a {
								@extend h3;
								font-weight: 500;
								font-size: 1.15rem;
								text-align: left;
								margin-bottom: 6px;
								color: $primary-color;
							}

							span, p {
								font-size: .9rem;
								line-height: 1.0;
							}

							.cta {
								background-color: transparent;

								  span {
										display: block;

										&.soon {
											font-size: .8em;
											margin-top: 10px;
										}
									}
							}



						}//end bird cta

						.recent-viewed {
							@include grid-column(7, 0);

											h5 {
												font-size: .9rem;
												margin-bottom: .35rem;
												display: block;
											}


			                ul {
				               @extend .menu;


				                li {
												@include grid-row;
	 											@include grid-column(12, 0);
												margin-bottom: .35rem;


												     img {
															 @include grid-column(4, 0);
															 margin-right: .5rem;
														 }


														a {
															line-height: 1.4;
															padding: 0;
														}
				                }

			                }


						}//end recently viewed
					}


		}//end section


		.slider.slick-slider.slick-dotted.slick-1 {

			.slick-slide {

			   a.button.see-more {
			    width: 48%;

				    &:hover {
					    color: $gray;
				    }
			   }
			}

			.annotation-txt {
			    padding: 0 75px;
			}


		}


    }//end reveal



	/* medium only */
    @include breakpoint(medium only) {
	    .reveal {

		    section {

		        .search-area {

			        input {
				        width: 430px;
			        }
		        }
	        }
	    }
    }

    /* small down */
    @include breakpoint(small down) {
	    .reveal {

		    &.three-views {
			padding: 35px 0 0 0;
		    position: relative;

			    .close-button {
				    position: absolute;
				    width: 20px;
				    height: 20px;
				    right:15px;
				    top: -4px;

				    span {
				    font-size: .75em;
				    }
			    }

			    .slick-next {
				    right: 6px;
			    }
		    }


		    section {

		        .search-area {

			        input {
				        width: 260px;
			        }
		        }
	        }


	        section.extras {

				.bird-help-cta, .recent-viewed {
	            @include grid-column(12, 15px);
	            }

	            .bird-help-cta {

		            .merlin-graphic {
			            float: left;
			            display: inline-block;
		            }

		            .cta {
			            float:right;
			            width: 60%;

			            h3 {
				            font-size: 1.25em;
				            margin-bottom: .25em;
			            }

			            a {
				            display: inline-block;
				            font-size: 1.08em;
			            }

			            span {
				            display: block;
				            margin-top: 10px;
			            }
		            }

	            }

	            .recent-viewed {
		            @include grid-column(12, 0);

		            a {
			            font-size: .9em;
		            }
	            }


			}//end extras section
	    }

    }



}//end-reveal-overlay

#ModalSearch {
	width: 100%;
	max-width:100%;
	top: 0 !important;
	border: none;

	&.reveal {
		border-radius: 0;
		padding: 0;
	}

	.links-container {
		@include flex-grid-size(12);
  }

	div {
		max-width: 100%;

		  .search-area {
				width: 83.333%;
        margin: 0 auto;
        padding: 4rem 0;
			}

	}

	.links-row {
		background-color: $light-gray;

		.two-span {
			@include clearfix;

			>div {
				 width: 50%;
				 float: left;
			}
		}

		.links-btn {
			@include grid-column(4, 0);
			margin: 1.5rem auto;

			* {
			 margin: 0 auto;
			 text-align: center;
			}

		 span {
			 display: block;
		 }

			.button-rect {
				display: block;
				max-width: 50%;
				padding: .5rem 1.5rem;
				margin-top: .5rem;
            }
            &.links-list {
                a {
                    text-decoration: underline;
                    &:hover {
                        color: $link-hover;
                    }
                }
            }


		}//end links-btn
	}

	@include breakpoint(medium down) {

			.links-row {

				.links-btn {

					span {
						font-size: 1rem;
						margin-bottom: .25rem;
					}

					.button-rect {
						max-width: 70%;
						padding: .5rem .75rem;
						font-size: 1.25rem;
					}

					&.link-list {
						a {
							font-size: 1.125rem;
						}
					}
				}//end link-btn
			}//end link-row

	}

	@include breakpoint(small down) {


		div .search-area {
			margin: 3rem auto 1.5rem;
      padding: 0 1rem !important;
      width: 100%;
		}

		.staff-search-form {

				input {
					padding:.25rem 0 .25rem 1.25rem;

						&[type=text] {
							font-size: 1.25rem;
						}

						&::placeholder {
							font-weight: normal;
						}
				}

				i, span {
					font-size: .9rem;
				}
		 }

		 .links-row {

				.links-btn {
			  	@include grid-column(6);

							&.links-list {
								@include grid-column(12);

								 a {
									 display: block;
									 margin-bottom: .5rem;
								 }
							}

						  .button-rect {
								max-width: 77%;
								font-size: 1.25rem;
								padding: .5rem;
							}

				}

			}
	}

}//Modal Search




#ModalStaff {
	@include grid-column-row();


	&.reveal {
	border-radius: 0;
	@include mui-fade($state: in, $duration: 0.5s);
	@include grid-column(7);
	@include grid-column-position(center);

	  .staff-img {
		 @include grid-column(6);

		  img {
		 	padding:0 1.25rem 1.25rem;
	  	}
	 }

	 .info {
		 	@include grid-column(5);


				 span {
					 text-transform: uppercase;
					 display: block;
					 color: $gray;
					 font-weight: bold;
					 font-size: 0.7rem;
					 letter-spacing: .0125rem;
				 }

				 .staff-proj, .staff-prog, .staff-expertise {
					 margin-bottom: 0.8125rem;
					 font-size: 1rem;
				 }

				 .staff-expertise {
					 max-width: 88%;
					 line-height:1.5;
				 }
	 }

	 h2, .staff-title {
		 font-family: $header-font-family;
	 }

	 .staff-title {
		 font-size: 1.25rem;
	 }

	 .summary-p {
     clear: both;
		 padding: 0 1.5rem 0 0.9375rem;
	 }

	 .button-round {
		 margin-left: 0.9375rem;
	 }

 }//end .reveal

 @include breakpoint(medium only) {
	 &.reveal {
		 @include grid-column(12);
		 @include grid-column-position(center);
	 }

 }

 @include breakpoint(small down) {

	 &.reveal {
		 @include grid-column(12);
		 top: 0 !important;
	   border: none;

			 .info, .staff-img {
					@include grid-column(12, 0);
			  }

				.summary-p {
					padding: 0;
				}

				.staff-img {
					img {
						padding: 0 0 .75rem;
					}
				}

				.button-round {
					margin-left: 0;
				}
	 }
 }

}//end #ModalStaff
