
// Pagination (multiple pages)
// --------------------------------------------------
.pagination, #bp-article-content ul.pagination {
  display: inline-block;
  padding: 0;

  li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 4px;
    margin: 0;

    a {
      font-size: 1.5rem;
      text-decoration: none;
      &:hover {
        background: none;
      }
    }

    &.active {
      background-color: $secondary-color;
      color: $white;
      a {
        color: $white
      }
    }

    &:hover:not(.active) {
      background-color: $background-gray;
    }

    .nav-icon {
      fill: $secondary-color;
      position: relative;
      top: 2px;
      width: 12px;
    }

  }//end li

  @include breakpoint(small down) {
    margin-left: .975rem;
    li {
      &:first-child{
        margin-left: 0;
      }
    }
  }
}