// Google Search results overrides
#___gcse_0 {
  h2 {
      font: {
          family: $body-font-family;
          size: 1.7rem;
          weight: 400;
      }
  }
  .gsc-control-cse {
      margin-bottom: 2rem;
      max-width: 100%;
      width: 650px;
  }
  .gsc-control-cse, .gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
      padding: 0;
  }
  .gsc-control-cse .gs-result .gs-title {
      font-size: inherit;
      line-height: 1;
  }
  .gsc-webResult .gsc-result {
      padding: 1rem 0 .8rem;
  }
  .gs-webResult.gs-result a.gs-title, .gs-webResult.gs-result a.gs-title b, 
  .gs-imageResult a.gs-title, .gs-imageResult a.gs-title b {
      color: #005AA0;
      display: inline-block;
      font: {
          family: $body-font-family;
          size: 1.25rem;
      }
      line-height: 1.3em;
      text-decoration: none;
      text-transform: capitalize;
      &:hover {
          text-decoration: underline;
      }
  }
  .gs-webResult.gs-result a.gs-title:hover b {
      text-decoration: underline !important;
  }
  .gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
      color: $secondary-color;
      font-size: .875rem;
      padding-bottom: .2rem;
  }
  .gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
      font-size: .875rem;
  }
  .gsc-table-cell-thumbnail.gsc-thumbnail {
      display: none;
  }
  .gcsc-find-more-on-google-magnifier {
      fill: $black;
  }
  .gcsc-find-more-on-google {
      color: $medium-gray;
  }
  .gsc-results {
      .gsc-cursor-box {
          .gsc-cursor-page, .gsc-cursor-current-page {
              color: $blue;
              font-size: .875rem;
          }
      }
  }
}