
section {
  @include grid-column-row();
  padding-top: 3%;
  padding-bottom: 4%;

          &:first-child {
            padding-top: 0;
          }

          &.zero-padding-btm {
            padding-bottom: 0;
          }

          &.zero-padding-top {
            padding-top: 0;
          }

          &.zero-padding-btm-mobile {

            @include breakpoint(small down) {
            padding-bottom: 0;
            }

          }

          &.zero-padding-top-mobile {

            @include breakpoint(small down) {
            padding-top: 0;
            }
          }

          &.grid {
            padding-top: 0;
          }

          &.col-two {


              >div {
                @include grid-column(6);

                h4 {
                  color: $dark-gray;
                }

                &.video-player {
                  clear: none;
                }

              }

              &.graphic {
                padding-left: 0;
                padding-right: 0;

                &.ten-col-grid {
                @include grid-row;
                @include grid-column(10);
                @include grid-column-position(center);

                      @include breakpoint(medium only) {
                        @include grid-column(12);

                          h2 {
                            font-size: 2.25rem;
                          }
                      }

                      @include breakpoint(small down) {
                          @include grid-column(12, 0);
                      }
                }


                span {
                  color: $medium-gray;
                  font-size: 1.25rem;
                  margin-top: .5rem;
                }

                &.orange {

                  span {
                    color: $primary-color;
                  }

                }

                &.blue {
                  span {
                    color: $blue;
                  }
                }

                &.green {
                  span {
                    color: $secondary-color;
                  }
                }

                h2 {
                  font-size: 2.5rem;
                  margin-bottom: .75rem !important;
                }

                p {
                  max-width: 520px;
                }


                img {
                  display: block;

                  &.alignright {
                  margin: 0;
                  padding-right: 0;
                  }

                  &.margin-top-added {
                    margin-top: 1rem;

                      @include breakpoint(small down) {
                          margin-bottom: 1rem;
                      }

                  }
                }


                &.text-right {

                    h2, h3 {
                      text-align: right !important;
                    }

                    .button-round, p {
                      float: right;
                    }

                    >div {
                      &:first-child {
                        @include grid-column-position(6);
                      }

                      &:last-child {
                        @include grid-column-position(-6);
                      }

                      @include breakpoint(small down) {

                        &:first-child, &:last-child {
                          @include grid-column-position(0);
                          @include grid-column(12, 0);
                        }

                      }

                    }



                }


              }//end graphic


              &.left-text-col {
                  padding-left: 0;
                  padding-right: 0;

                 div {
                   padding-left: 0;
                   padding-right: 0;

                     &:nth-child(1) {
                     padding-right: 40px;
                    }
                 }
              }

              //styles for small breakpoints
              @include breakpoint(small down) {
                >div {
                  @include grid-column(12, 0);

                   * {
                     text-align: left !important;
                   }
                }
              }

          }//end col-two

          &.col-four {
            @include grid-column(10, 0);
            @include grid-column-position(center);

              >div {
                @include grid-column(3);

                //styles for medium breakpoints
                @include breakpoint(medium down) {
                    @include grid-column(6);
                    min-height:250px;
                    max-width: 80%;

                     * {
                       text-align: left !important;
                     }
                 }

                  //styles for small breakpoints
                  @include breakpoint(small down) {
                      @include grid-column(12);
                      min-height:initial;
                      max-width: 100%;
                  }
              }

          }//end col-four

          &.button-row, &.background-image {

              > a {
              @extend .button-round;
              }

          }

          &.blue {
             h1, h2, h3, h4, span {
               color: $blue;
             }
          }

          &.green {
            h1, h2, h3, h4, span {
              color: $secondary-color;
            }
          }

          &.orange {
            h1, h2, h3, h4, span {
              color: $primary-color;
            }
          }

          &.white {
            h1, h2, h3, h4, p, span, .caption {
              color: $white;
            }
          }

          &.text-right, &.text-left, &.text-center {

                      h2 {
                        font-size: 2.625rem;
                        margin-bottom: 1.15rem !important;

                         span {
                           display: block;
                           font-size: 1.25rem;
                           margin-bottom: .3rem;
                           margin-top: .3rem;
                         }
                      }

                      &.campaign-text {
                        h2 {
                          margin-bottom: .5rem;
                        }
                      }
          }

          &.text-right {
            @include grid-column(12);
            @include grid-column-position(center);

              h2,h3, p {
                text-align: right;
              }

              &.background-image {
                  > div:nth-child(2)  {

                    > div {
                      @extend .background-image-right-side;
                    }

                  }
              }

              > p {
                @extend .right-side;
              }

          }//end text-right

          &.text-left {
            @include grid-column(12);
            @include grid-column-position(center);

              h2,h3, p {
                text-align: left;
              }

          }//end text-left

          &.text-center {
            @include grid-column(12);
            @include grid-column-position(center);

                  &.full-width {
                    padding: 0;
                    margin: 0;
                    max-width: 100%;

                      h2 {
                        margin-bottom: .5rem;
                      }

                       > p {
                         width: auto;
                         float: none;
                         text-align: center;
                         font-size: 1.25rem;
                       }

                       &.padding-btm {
                         margin-bottom: 4%;
                       }

                       .ngy2_container {
                         margin-bottom: .975rem;
                       }


                  }

                  .slideshow-1 {

                    @include breakpoint(small down) {
                       ul.slick-dots {
                         text-align: center !important;
                       }
                    }
                  }

          }//end text-center

          &.campaign-text  {

            h1, h2, h3, h4, p, span, .caption {
              text-align: left !important;
            }

            h2 {
              font-size: 1.5rem;
            }

            p {
              font-size: 1.25rem;
            }

            button {
              font-size: 1.125rem;
            }

            @include breakpoint(medium only) {

            }

            @include breakpoint(small down) {
              p {
               font-size: 1rem;
              }

              span {
                display: inline;
              }
            }

          }

          &.content-center {
            @include flex-grid-row(null, expand, null, true, false, 0);

             > div {
                 @extend .eight-col-text-container;
                 @include grid-column-position(center);

                 .text-left {
                   @include grid-column(4);
                   color: $blue;
                   text-align: left;

                     #introductory-video, #introductory-video span, p {
                       text-align: left;
                     }

                     #introductory-video {
                       font-size: 1.75rem;
                     }
                 }

                 .media-right {
                   @include grid-column(8);

                     .video-player.medium {
                       width: 100%;
                       max-width: 100%;

                       small {
                        padding: .25rem;
                        text-align: left !important;
                       }
                     }
                 }

                 @include breakpoint(small down) {

                      .media-right, .text-left {
                        @include grid-column(12);

                      }

                      .text-left {
                        #introductory-video, #introductory-video span, p {
                          text-align: center;
                        }

                        #introductory-video {
                          margin: 5px 0;
                        }
                      }

                      .media-right {
                        .video-player.medium {
                          margin-top: 0;
                        }
                      }
                 }
             } //end div

              &.gray-background {
                background-color: $background-gray;
              }

              @include breakpoint(small down) {
                padding-top: 3%;
                padding-bottom: 3%;

                  .video-player {
                    small {
                      color: $black !important;
                      padding: .25rem .75rem;
                    }
                  }
              }

          }//end content-center

          //Background images
          &.background-image {
            background-size: cover !important;
            background-position: top, center;
            position: relative;
            max-width: none;
            min-height: $background-image-min-height;
            padding-bottom: 4%;
            padding-top: 3%;

               &.first {

                .section-overlay {
                  @include hide-for(large);
                  background-color: rgba(0, 0, 0, 0.3);
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                }

              }

              &.shorter {
                height: 84.49612403100775vh;
                min-height: inherit;
              }

              > div:nth-child(2) {
                @extend .ten-col-text-container;


                    > div {
                      @extend .six-col-text-container;
                    }//end > div

              }


              .caption {
                position: absolute;
                right: 2%;
                bottom: 2%;
                display: block;
                @extend .caption-style;
              }


              &.wide {
                > div:nth-child(2) {
                  @extend .ten-col-text-container;

                    > div {
                        @extend .eight-col-text-container;
                    }//end > div

                    .slick-3 {
                       padding: 0;
                    }

                }
              }

               &.last {
                 margin-bottom: 0;
               }

               &.first {
                 margin-bottom: 0;
                 position: relative;

                  h2 {
                    font-size: 1.8rem;
                    text-align: center;

                    span {
                      font-size: 1.8rem;
                      display: block;
                      margin-top: 0.75rem;
                    }
                  }


                  > div:nth-child(2) > div {
                    max-width: 500px;
                    margin-top: 10%;

                    button {
                      text-align: center;
                      display: block;
                      margin-top: 8%;
                    }

                  }

                  &.campaign-text {
                    button {
                      margin-top: 0 !important;
                    }
                  }

               }//end first

          }//end background-image

          &.color-background {
            @include flex-grid-row(null, expand, null, true, false, 0);
            min-height: 60vh;
            background-color: $background-gray;
            padding: 3% 0;

              &.no-height {
                min-height: unset;

                 @include breakpoint(small down) {

                    .button-round {
                     padding: .5rem 1.75rem;
                    }
                 }
              }

              &.zero-padding-btm {
                padding-bottom: 0;
              }

              &.zero-padding-top {
                padding-top: 0;
              }

              &.darker {
                background-color: $gray;
              }

              .div-across {
                margin: 0 auto;

                .margin-right {
                  margin-right: 1.875rem;

                    @include breakpoint(small down) {
                      margin-right: 0;
                    }
                }

                .margin-left {
                  margin-left: 1.875rem;

                  @include breakpoint(small down) {
                    margin-left: 0;
                  }
                }

                .social {
                  float: left;
                  width: 47%;
                  margin-right: 0;
                  margin-left: 0;

                      .video-player {
                        margin: 0;
                        padding: 0;
                        max-width:100%;
                        width: 100%;

                          .video-container {
                             position: relative;
                             padding-bottom: 100%; /* aspect ratio 1:1 */
                             padding-top: 0;
                             height: 0;
                             overflow: hidden;

                             iframe {
                               position: absolute;
                               top: 0;
                               left: 0;
                               width: 100%;
                               height: 100%;
                             }
                           }
                     }



                  @include breakpoint(small down) {
                      margin-right: 0;
                      width: 100%;
                      //float: none;
                      //margin-bottom: 1.875rem;
                   }

                }//end social


                p {
                  text-align: center;
                  margin: 0 auto 1.5rem !important;
                  max-width: 800px !important;
                  line-height: 1.2 !important;

                     @include breakpoint(small down) {
                       margin: 0 auto !important;
                     }
                }

                .first {
                  margin-right: .5rem;
                }

                .inline-two-col {
                  @include clearfix;

                   .right-col {
                      @extend .float-right;
                   }

                   .left-col {
                     @extend .float-left;
                     margin-left: 1.75rem;

                      &.social {
                        margin-left: 0;
                      }
                   }
                }

                @include breakpoint(medium only) {
                  padding: 0 1.875rem;

                  .inline-two-col {

                    .left-col {
                     width: 40%;
                    }

                  }

                }

                @include breakpoint(small down) {

                  .inline-two-col {

                    .video-player {
                      width: 100%;
                      float: none !important;
                    }

                    .right-col, .left-col {
                      float: none !important;
                      margin: 0 auto;

             					 h6 {
             						 text-align:center !important;
             					 }
                    }

                    p {
                      text-align: left;
                    }
                  }

                }
              }


              &.col-one {

                >div {
                  @include grid-column(10);
                  @include grid-column-position(center);

                    >div {
                      @include grid-column(6);

                    }

                    &.wider-inner-grid {
                      >div {
                        @include grid-column(12);
                      }

                      p {
                        text-align: center;
                        max-width: 100% !important;
                      }

                      @include breakpoint(medium down) {
                        @include grid-column(12);
                      }

                      @include breakpoint(small down) {
                        p.events-button {
                          width: 100%;
                          text-align: center !important;
                        }
                      }
                    }//end
                }//end main div

              }

              &.col-two {

                >div {
                  @include grid-column(10, 0);
                  @include grid-column-position(center);

                    h2 {
                      text-align: center !important;
                      margin-bottom: 1.5rem;

                      &.tribe-events-title {
                        text-align: left !important;
                        margin-bottom: .25rem;

                      }

                      span {
                        display: inline;
                        font-size: 2.625rem;
                      }
                    }

                   >div {

                        &.col-wide {
                         @include grid-column(7);
                        }

                        &.col-narrow {
                         @include grid-column(5);
                        }


                        h4 {
                          color: $dark-gray;
                        }

                        .video-player.large {
                          clear: none;
                          margin-bottom: 0;
                        }
                    }
                }
              }

              &.col-three {
                      >div {
                        @include grid-column(4);
                      }
              }

              &.centered-col-4 {
                 >div {
                  @include grid-column(6);
                  @include grid-column-position(center);

                     h4 {
                       text-align: center;
                     }

                      //styles for medium breakpoints
                      @include breakpoint(medium down) {
                        @include grid-column(8);
                        @include grid-column-position(center);
                      }

                      //styles for small breakpoints
                      @include breakpoint(small down) {
                        @include grid-column(10);
                        @include grid-column-position(center);

                        h4 {
                          font-size: 1.125rem;
                        }
                      }

                }
              }


              &.callout-quote {

                >div {
                  @include grid-column(7);
                  @include grid-column-position(center);

                    p {
                      font-size: 1.375rem !important;
                      max-width: 100% !important;
                      text-align: center !important;
                      font-weight: 500 !important;
                      line-height: 1.4 !important;
                      margin-bottom: 0 !important;
                      font-family: $header-font-family !important;
                    }

                    blockquote p {
                      font-size: 1.625rem !important;
                      line-height: 1.3 !important;

                      //styles for small breakpoints
                      @include breakpoint(small down) {
                        font-size: 1.438rem !important;
                      }

                    }

                     //styles for medium breakpoints
               		   @include breakpoint(medium down) {
                       @include grid-column(10);
                       @include grid-column-position(center);
                     }

                      //styles for small breakpoints
                      @include breakpoint(small down) {
                          @include grid-column(12);
                          @include grid-column-position(center);

                            p {
                              font-size: 1.125rem !important;
                            }
                      }

                }
              }

          }

          &.button-row {
             @include flex-grid-row(null, expand, null, true, false, 0);
             text-align: center;
             padding: 0;
             margin-bottom: 0;

               div.green-style {
                border-right: 1px solid $rule-gray;
                background-color: $background-gray;

                   @include breakpoint(small down) {
                     border-right: none;
                  }
                }



               p, h4 {
                 margin: 0;
               }

               h4 {
                 color: $dark-gray;
                 font-family: $body-font-family;
                 font-weight: 600;
                 line-height: 1.2;
               }

               p {
                 margin-bottom: 0.25rem;
                 line-height: 1.4;
               }

               .button-round {
                 &.margin-top {
                   margin-top: 4px;
                 }
               }

               &.cta-style {
                background-color: $medium-gray;
                @include grid-column(12, 0);
                @include grid-column-position(center);

                 > div {
                   @include grid-column(6, 0);
                   @include grid-column-position(center);
                   padding-top: 4%;
                   padding-bottom: 4%;

                    h1, h2, h3, h4, h5, h6, p, span, small {
                      color: $white !important;
                    }

                    h2 {
                      margin-bottom: .75rem;
                    }

                    p {
                      max-width: 100% !important;
                    }

                    .button-round {
                      background-color: $primary-color;
                      border: 1px solid rgba($white,.5);
                      margin-top: .75rem;
                      margin-bottom: .75rem;

                          &:hover, &:focus { 
                            @include button-hover;
                          }
                          &:focus {
                              outline-color: $white;
                          }
                    }

                    &.icon-button-style {
                        h2 {
                          margin-bottom: 0.5rem !important;
                        }

                        p {
                          margin-bottom: 1rem !important;
                        }

                        p, p a {
                          font-family: $body-font-family !important;
                        }

                        a.button-round {
                          padding: .65rem 2rem;
                        }

                        i {
                          font-size: 1.75rem;
                          margin-right: .3125rem;
                        }

                        @include breakpoint(small down) {
                           p {
                             margin-bottom: .5rem !important;

                              a, i {
                                font-size: 1.125rem;
                              }

                           }
                        }
                    }
                 }


                &.photo-credits {
                  @extend .photo-credits-section;
                }//end photo-credits styles


               }

               &.three-plain {

                   > div {
                     @include grid-column(4, 0);
                     padding: 0.9375rem;
                     border-right: 1px solid $rule-gray;
                   }

               }

               &.three-green {

                   > div {
                     @include grid-column(4, 0);
                     padding: 0.9375rem;
                     @extend .primary;
                     background-color: $secondary-color !important;
                     border-right: 1px solid $rule-gray;

                      h4, p {
                      color: $white !important;
                      }
                   }

               }

               &.five {
                  @include flex-grid-row(null, expand, null, true, false, 0);
                  @include menu-base;
                  @include menu-direction(horizontal);
                  background-color: #80ac34;
                  min-height: 10vh;

                    >div {
                      width: 20%;

                             a {
                            width: 200px;
                            margin: 7.5vh;
                            padding: .25rem .75rem;
                            margin: 5vh auto;
                            border: 1px solid $white
                            }


                            h4, p {
                            color: $white !important;
                            }

                            &:nth-child(5) {
                              border-right: none;
                            }

                   }

               }

               &.three {
                  > div {
                    @extend .btn;
                  }

                  &.green {

                    > div {

                      &:nth-child(2), &:nth-child(3) {
                        background-color: $secondary-color !important;

                      h4 {
                        margin-bottom: .25rem;
                      }

                      p {
                        margin-bottom: 0.75rem !important;
                        line-height: 1.4 !important;
                      }

                       a.button-round {
                         margin: 10px auto 0;
                         display: inline-block;
                         text-align: center;

                          &:hover, &:focus {
                            @include button-hover-secondary;
                          }
                       }
                    }
                    }
                  }
               }

               &.two {
                 //@include grid-column(10);
                 //@include grid-column-position(center);

                 > div {
                   @include grid-column(6, 0);
                   padding: 0.9375rem;
                   background-color: $primary-color;

                     &:first-child {
                       border-right:  1px solid $light-gray;
                     }

                     p, a {
                       color: $white !important;
                     }

                     a.button-round {
                       background-color: $primary-color;
                       border: 1px solid $white;

                          &:hover {
                            background-color: $primary-darker !important;
                          }
                     }
                 }
               }

           }




          .visual-offset-left {
            @include show-for(large);
            @include grid-column(2, 0);
            @include grid-column-position(-10);

               .button-round {
                 margin-top: 15px;
                 width:98%;
                 padding: .25rem 0;
                 text-align: center;
               }
          }

          .video-player {
            margin: 0 auto;

            small {
              padding-bottom: 0.3125rem;
              margin-top: 0.3125rem;
            }

          }

          @include breakpoint(medium down) {
            padding-top: 8%;
            padding-bottom: 9%;

            &.background-image {
              background-size: unset;
              height: auto;
              padding: 0;
              margin-bottom: 0;

              &.no-image-medium {
                background-image: none !important;

                  >div:nth-child(2)>div .video-player {
                    small {
                      color: $dark-gray;

                      a {
                        color: $secondary-color;
                      }

                    }
                  }

                  .caption {
                      display: none;
                  }

              }

              h3 {
                margin-bottom: 0;
              }

              &.text-left {
                background-position: right top;
              }

              &.text-right {
                background-position: left top;
              }

              &.text-left, &.text-right {

                  h2,h3, p {
                  text-align: center;
                  }
              }


              &.last {
                padding-bottom: 3%;
              }

              &.first {

                .caption {
                  bottom: initial;
                  top: 100%;
                  margin-top: 10px;
                }

                >div:nth-child(2)>div {
                  margin-top: 10%;
                  margin-bottom: 10%;
                  max-width: 80%;

                  button {
                    margin-top: 3%;
                  }

                  h2 {
                    font-size: 1.375rem;

                      span {
                      font-size: 1.375rem;
                      display: inline;
                      }
                  }
                }

                &.button-row.cta-style {

                  &.cta-style {

    								>div {
    								@include grid-column(10);
    								@include grid-column-position(center);

    								   h2 {
    										 font-size: 2rem;
    									 }
    								}

    							}

                }
              }//end first at medium breakpoint

              >div:nth-child(2)>div {
                margin-top: 1.75rem;
                margin-bottom: 1.75rem;
                max-width: 100%;
              }

            }//end background-image for medium viewports

            &.text-left, &.text-right, &.text-center {

              h2, h3, p, span {
                text-align: center;
              }

              h4 {

                text-align: center;

                &.article-item-header {
                  text-align: left;
                }
              }

              &.col-two.graphic {
                h2, h3, h4, p, span, .button-round {
                  float: none;
                  text-align: left !important;
                }
              }

              >p {
                margin-bottom: 1rem !important;
                text-align: center !important;
              }


              h2 {
                margin-bottom: 0.4375rem;

                span {
                  display: block;
                  margin-bottom: .475rem;
                  margin-top: .4375rem;
                }
              }
            }//end text blxok positioning for medium viewports

            &.button-row {

              h4 {
                margin-bottom: .5rem;
              }

              p {
                font-size: .9rem;
                line-height: 1.2;
                margin-bottom: .5rem;
              }

              &.five {
                @include grid-column(12);
                display: block;
                flex-wrap: wrap;
                background-color: $background-gray;
                padding: .75rem 0;

                >div {
                    @include grid-column(12);
                    border-right: none;
                    //border-bottom: 1px solid $secondary-tint;

                    .button-round {
                      margin: .25rem auto;
                      width: 260px;
                    }
                }
              }

            }

            &.color-background {

                &.col-one {
                  >div {
                      @include grid-column(8);
                      @include grid-column-position(center);

                      >p {
                        @include grid-column(4);
                      }
                  }

                }

               &.col-two {

                 >div {
                   @include grid-column(12);
                   @include grid-column-position(center);

                     >div {

                         &.col-wide, &.col-narrow {
                          @include grid-column(12);
                         }

                         &.col-narrow {
                           >div {
                             @include grid-column(4);

                             h4 {
                               padding-bottom: .25rem !important;
                             }

                             &:first-child {
                               padding-left: 0;
                             }
                           }
                         }
                      }

                       h2 {

                         span {
                           text-align: center !important;
                           font-size: 1.25rem;
                           display:block;
                         }
                       }

                       p {
                         text-align: left !important;
                       }

                 }

               }//end col-two

               &.buttons-min-width {
                 @include grid-column(12);
                 display: block;
                 flex-wrap: wrap;

                 >div {
                     @include grid-column(12);
                     border-right: none;
                 }
               }

            }//end color-background


          }//end medium breakpoint

          @include breakpoint(small down) {

              &.text-left, &.text-center, &.text-right {
                 h2 {
                  font-size: 1.875rem;

                  span {
                    font-size: 1.125rem;
                  }
                 }

                  h2, h3, h4, h5, h6, p {
                    margin-left: 0.625rem;
                    margin-right: 0.625rem;
                  }

                  &.col-two.graphic {
                    h2, h2 span, h3, h4, h5, h6, p, span {
                        text-align: center !important;
                    }

                    h2 {
                      font-size: 1.625rem;

                      span {
                        font-size: 1.108rem;
                      }
                    }
                  }
              }

              &.button-row {
                display: inherit;

                  &.three {

                      >div {
                        padding: .9375rem;
                        height: 180px;

                        &.reduced-height {
                          height: 100px;

                            .button-round {
                              margin-top: 0;
                            }

                        }

                        &:first-child {
                          // height: 140px;
                             height: auto;

                          //  &.green-style {
                          //    height: auto;
                          //  }
                        }

                        .button-round {
                          max-width: 88% !important;
                          padding: .25rem 1.125rem !important;
                          margin-top: .5rem;
                        }

                      }

                  }

                  &.cta-style {

                    >div {
                    @include grid-column(12);
                    @include grid-column-position(center);
                    padding: 10% 0;

                       h2 {
                         font-size: 1.5rem;
                         margin-bottom: .5rem;
                       }
                    }

                  }

              }

              &.color-background {

                 &.col-two {
                    >div>div.col-narrow>div {
                      @include grid-column(12,0);
                    }
                   }
              }


          }//end small breakpoint



          &.section-padding {
            @include grid-column(12);
          }

  // Added for AA&D campaign
  &.single-col-center { 
    border-bottom: 1px solid #d4d4d4; 
    padding: 2.75rem 2rem 2rem !important; 
    h2 {
      color: #b31b1b !important; 
      font-size: 1.25rem; 
      font-weight: bold; 
      margin-bottom: 0.2em !important; 
    } 
    h3 {
      font-size: 1.5rem !important;
      margin-bottom: .2em !important;
    }
    p { 
      font-size: 1.25rem !important; 
      margin: 0 auto 1rem !important;
      max-width: 900px !important; 
      text-align: center 
    } 
    .button-round { 
      background-color: #b31b1b !important; 
      border-radius: 0 !important; 
      &:hover {
        background-color: #df1e12 !important;
      }
    }
    .article-list {
      >ul { 
        max-width: 600px !important; 
        margin: auto !important; 
        li { 
          padding: 0 1px !important; 
        }
      }
      h4.article-item-header {
        font-size: 1.25rem !important;
        span {
          font-size: .8rem !important;
        }
      }
    }
  }
  &.single-col-intro-image { 
    border-bottom: 1px solid #d4d4d4; 
    padding: 2.75rem 2rem 2rem !important; 
    h2 {
      font-size: 1.75rem !important;
    }
    .photo.medium { 
      max-width: 460px !important; 
    }
  }
  &.single-col-content {
    h2 {
      font-size: 1.75rem !important;
    }
    p {
      margin-left: auto !important;
      margin-right: auto !important;
      max-width: 720px !important;
    }
  }

}//end section


// .2-col-articles-right {

//    .visual-offset-left {
//      @include grid-column(2, 0);
//      @include grid-column-position(-10);
//    }
// }
