
//Sidebar displays
.offset-sidebar, .no-offset-sidebar {
  background-color: $gray;
  padding: 15px;
  border-bottom: none;

      h4 {

        @extend .detailed-style;
      }

     .photo {

           &.small, &.medium, &.large {

              &.alignleft {
                clear: left;
              }

              &.aligncenter {
                clear: both;
              }

              &.alignright {
                clear: right;
              }
           }

           &.small {

             &.alignright {
           		 margin-right: 5px;
           	 }

             &.aligncenter {
           		margin-left: 0;
           		height: inherit;
           		max-width: 100%;
           		padding: 0;
           	 }

             &.alignleft {
           		 padding: 0;
           		 margin: 0;
           		 margin-right:30px;
           		 max-width: 40%;
           	 }


           }
     }

     img {
   		width: 100%;
   		height: 100%;

        &.align-left, &.aligncenter, &.alignright {
          padding: 0;
          margin: 0;
        }

        &.alignleft, &.alignright {
          width: 40%;
        }

        &.alignleft {
          margin-right:30px;
          margin-top: 10px;
        }

        .article-item h4 {
         text-transform: none;
         border-bottom: none;
        }
     }

     ul {
       padding-left: 10px;
       margin-left: 10px;

       li {
         line-height: 1.6;
       }
     }


}

.offset-sidebar {
  margin: 15px 0 30px 30px;
  min-width: 37%;
  max-width: 37%;
  height: auto;
  border-bottom: 3px solid #eee;
  float: right;
	clear: right;

    &.wide {
    max-width: 50%;
    min-width: 50%;
    }

    &.impact-side {
      margin: 0;
      margin-top: -2rem;
      padding-top: 0;
      background-color: #fff !important;
      border-bottom: none;

       h4 {
         color: $dark-gray;
         text-transform: none;
         border-bottom: none;
         font-weight: normal;
       }

       h3 {
         text-align: left;
         margin-bottom: 0.625rem 0  0.9375rem;
       }

      h5 {
      font-size: 1.125rem;
      text-transform: uppercase;
      color: $primary-color;
      border-bottom: 1px solid $primary-tint;
      padding-bottom: 0.25rem;
      }

       br {
         display: none;
       }

       .button-rectangle {
         @extend .button;
         border-radius: 0;
         font-size: 1.5rem;
         padding: .5em 3em;
      }
    }

    &.wider {
      max-width: 54%;
      min-width: 54%;
    }

	 img {
	    padding: 0;
	    margin: 0;
	    width: 100%;
	    height: 100%;
	    padding-bottom: 15px;
	  }

	  small {
		  padding: 0;
		  margin: 0;
		  padding-bottom:15px;
	  }

    .jp-flat-audio {
      width: 100%;
      max-width: 100%;
    }

    .audio-caption {
       width: 88%;
       max-width: 88%;
    }

    @include breakpoint(medium down) {
      &.impact-side {
        max-width: 100%;
        width: 100%;
        padding: 0;
        height: auto;
        margin-top: 0;

        .article-list {
          margin-top: 2%;
        }
      }
    }

    @include breakpoint(small down) {
     max-width: 100%;
     width: 100%;
     padding: 15px;
     height: auto;

     &.wide {
       max-width: 100%;
       width: 100%;
       padding: 0;
       height: auto;
     }

     &.impact-side {
       width: 100%;
       padding: 15px;

     }

   	 .jp-flat-audio, .audio-caption {
   	   width: 90%;
   	   margin: 10px auto;
   	 }

   }

}

//no-offset-sidebar
.no-offset-sidebar {
	max-width: 580px;
	margin-bottom: 30px;
	clear: left;

	&.narrow-the-width {
		max-width: 420px !important;
	}

  &.cta-style {
      max-width: 100%;
      background-color: $medium-gray !important;


      h1, h2, h3, h4, h5, h6, p, span, small {
        color: $white !important;
        text-align: center !important;
      }

      h2 {
        margin-bottom: .75rem;
      }

      p {
        max-width: 100% !important;
      }

      .button-round {
        background-color: $primary-color;
        margin-top: .75rem;
        margin-bottom: .75rem;

            &:hover {
              background-color: $primary-darker !important;
            }
      }
  }//end .cta-style
}

//widget stylesheet
.sidebar {

    .widget {

        h3 {
          @extend .detailed-style;
          text-align: left;
        }
    }
}
