/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    &.center {
	        @extend .section-rule;
    }

    ul li {
	    border: 0;
	    padding: 0;
    }
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 30px;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;

    }
    img {
        display: block;
    }

    a {
     display: block;
     padding:0 0 30px;
     text-align: center;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


/* This is where my custom styles start. */
/* Slick Slider */
.slider {
	//margin-top: 0;
	background-color: #fff;
	background: url('../images/ajax-loader.gif') top center no-repeat;
	height: 32px;


	& * {
	  visibility: hidden;
	}


    a.species-name {
    padding: 0 20px !important;
    line-height: 1.1;
    font-size: 16px;
    line-height: 1.3;
	}

    &.gray-bg {
        .slick-slide {
            background-color: $light-gray;
        }
    }
	&.slick-slider {
    position: relative;
    display: block;
    height: auto;
    margin-bottom: 30px;

		.annotation-txt {
            @extend .annotation;
            height: 100%;
            
            .article-item-header {
                margin-bottom: 0;
                color: $black;
                text-align: left;
                text-decoration: underline;
                text-decoration-color: $secondary-tint;
            }


			span.copyrightInfo {
				display: block;
				vertical-align: top;
			}
		}


		&.slick-initialized {
			height: auto;
			background-image: none;


			& * {
			visibility: visible;
			}
		}


		.slick-slide {

			 a {
		     display: block;
		     padding:0;
             text-align: center;
             text-decoration: none;
                 &:hover {
                     .article-item-header {
                         text-decoration: underline;
                         text-decoration-color: $secondary-color;
                         color: $secondary-darker;
                     }
                     
                 }

				&.button.see-more {
				  display: block;
				  margin: 15px auto 5px;
				  text-align: center;
			      width: 38%;
			      padding: 8px 12px;

			        &:hover {
				       color: $light-gray;
			        }
				}

		     }
		}

		&.slick-1 {

			.annotation-txt {
				padding: 0 15px;
			}

			.slick-slide { 
				height: auto !important;
			}
		}


		&.slick-4 {
		 margin-bottom: 0;
		}


		.slick-list {
		    position: relative;
		    overflow: hidden;
		    display: block;
		    margin: 0;
		    padding: 0;
		    &:focus {
		        outline: none;
		    }
		    .slick-loading & {
		        background: white url(./ajax-loader.gif) center center no-repeat;
		    }
		    &.dragging {
		        cursor: pointer;
		        cursor: hand;
            }

			.slick-track {
			    position: relative;
			    left: 0;
			    top: 0;
                display: flex;
                align-items: stretch;
			    zoom: 1;

			    &:before,
			    &:after {
			        content: "";
			        display: table;
			    }
			    &:after {
			        clear: both;
			    }
			    .slick-loading & {
			        visibility: hidden;
			    }

				.slick-slide {
                    //@extend .border-right;
          			margin-right: 1px;
                    display: block;
                    height: auto !important;
                    .slide {
                        height: auto !important;
                    }

					img {
					  width: 100%;
					}

          .active {
            border-bottom: 2px solid $secondary-color;

            @include breakpoint(small down) {
              border: none;
              background-color: $secondary-color;
              a {
                color: $white;
              }
            }
          }

				}
			}

		}


		.slick-slide  {
			a {
        padding:0;
			}
		}


		/* Dots */
		.slick-dots {
	    position: relative;
	    bottom: 0;
	    list-style: none;
	    display: block;
	    text-align: center;
	    padding: 0px;
	    width: auto;
	    height: 0;

	    li {
	        position: relative;
	        display: inline-block;
	        height: 10px;
	        width: 10px;
	        margin: 0px 5px;
	        padding: 0px;
	        cursor: pointer;
	        button {
	            border: 0;
	            background: transparent;
	            display: block;
	            height: 10px;
	            width: 12px;
	            line-height: 0;
	            font-size: 0;
	            color: transparent;
	            padding: 5px;
	            cursor: pointer;
	            &:before {
	                position: absolute;
	                top: 0;
                  left: 0;
                  content: " ";
	                width: 10px;
	                height: 10px;
	                font-family: "slick";
	                text-align: center;
                  background-color: $gray;
                  border-radius: 50%;
                  opacity: .75;
	                -webkit-font-smoothing: antialiased;
	                -moz-osx-font-smoothing: grayscale;
	            }
	        }
	        &.slick-active button:before {
                color: $secondary-color;
                width: 12px;
                height: 12px;
	            opacity: 1;
                top: -1px;
                left: -1px;
	        }
	    }

	}//end slick dots

    @include breakpoint(medium) {
      margin-bottom: 0;
    }

  }//end-&slick-slider

	&.slick-modal {
		display: inline-block;
		text-align: center;

	}

}//end slider

/* Carousel Controls */
.slick-prev, .slick-next {
    z-index: 100;
    height: 100px;
    width: 50px;

    &:before {
        font-size: 33px;
        line-height: 33px;
        color: $secondary-color;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
        font-weight: 900;
        opacity: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

    }


	/* medium down */
	@include breakpoint(medium down) {

		height: 44px;
		width: 35px;
	}

	/* small and down */
	@include breakpoint(small down) {
		height: 35px;
		width: 35px;

		&:before {
   			 font-size: 36px;
   			 line-height: 36px;
		}

	}
}

.slick-prev {
    left: 0;

    /* medium only */
	@include breakpoint(medium down) {
	  left: 8px;
	}
}

.slick-next {
	right: 0;

     /* medium only */
	@include breakpoint(medium down) {
	  right: 8px;
	}

}

.slick-3 {
 padding: 0 50px;

	.slick-prev, .slick-next {
	 top: 42%;


       &:before {
         font-weight: 100;
         font-size: 30px;
         line-height: 30px;
       }
	}

     /* medium down */
     @include breakpoint(medium down) {

       .slick-prev, .slick-next {
          top: 50%;
        }
     }


     /* small down */
     @include breakpoint(small down) {
       padding: 0;
     }

}//end slick-3

.slick-4 {
	.slick-prev, .slick-next {
	 top: 42%;
	}

}


.slick-5 {
 padding: 0 50px;

	&.slick-slider {
	margin-bottom: 0;

		.slick-dots {
			bottom: 1.25em;

		}

		.species-name {
			line-height: 1.3;

			span {
				display: block;
				color: $medium-gray;
				font-size: .9rem;

				&:hover {
					color: $anchor-color-gray-hover;
				}
			}
		}

		/* medium only */
		@include breakpoint(medium only) {
			.slick-next {
			    right: 5px
			}
		}

	}

	.slick-prev, .slick-next {
	 top: 34%;
	 padding: 0;
	}

	.slick-prev {
	 right: auto;
	 left: 4px;
    }


    /* small down */
    @include breakpoint(small down) {
        padding: 0;
    }

}
//end carousel controls


//Slick Slide
.slick-slide {
    height: 100%;
    min-height: 1px;

    .video-wrap {
	    @extend .video-icon;
    }

    img {
        display: block;
        &.slick-loading {
            background: white url(./ajax-loader.gif) center center no-repeat;
            padding-bottom: 100%;
        }
    }
    display: none;
    &.dragging img {
        pointer-events: none;
    }
    .slick-initialized & {
        display: block;
    }
    .slick-loading & {
        visibility: hidden;
    }
    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}//end slick slide

//Carousel One
.carousel-one {
	background-color: $background-gray;
	padding: 15px 15px 5px;

	button {
		padding: 0;
		margin: 0;
	}

	h5 {
		text-align: center;
		text-transform: capitalize;
		margin-bottom: 10px;
	}



	img {
		margin-bottom: 0;
	}

	.slick-next, .slick-prev {
		top: 38%;
		padding: 0;
		width: 25px;
		height: 25px;
	}

	.slick-prev {
		left: 4px;
	}

	.slick-next {
		right: 12px;
	}

	.slider.slick-slider {
		 .slick-list .slick-track .slick-slide {
			 border: none;

			 span, a {
				 text-align: center;
			 }

			 a {
				 padding-bottom: 0;

				 span {
					text-align: center;

				 }
			}
		 }

		.annotation-txt {

			span {
			 text-align: center;
			 display: block;
			}

			a {
				display: block;
			}
		}
	}


	.slider.slick-slider {
		background-color: $background-gray;
		border: none;

		.slick-track .slick-slide {
			border: none;

			a {
				background-color: $background-gray;
				padding-bottom: 30px;
				line-height: 1.4;

				span {
					text-align: center;
					margin-bottom: 5px;
				}
			}
		}


		.slick-dots {
			bottom: 10px;
		}
	}


	/* medium only */
    @include breakpoint(medium only) {
	    .slider.slick-slider {

	        .slick-prev {
		     left: 6px;
		    }

		    .slick-next {
			  right: 12px;
		    }
	    }
	}

	/* small down */
    @include breakpoint(small down) {
	    .slider.slick-slider {

			.slick-next, .slick-prev {
				width: 35px;
				height: 35px;
			}

	        .slick-prev {
		     left: 4px;
		    }

		    .slick-next {
			  right: 10px;
		    }

		    .slick-dots{
			    bottom: -8px;
		    }

	    }
	}

}//end carousel-one

//Styles for narrower-width Carousel
.narrower-width {
    @include grid-column(10, 0);
    @include grid-column-position(-2);
    padding-left: 30px;
    padding-right: 30px;

    &.right {
      @include grid-column-position(2);
      padding-right: 0;
    }

    &.max-3 {
      padding-left: 0;
    }

    &.slick-3.slider {
      margin-top: 0;
      padding-right: 45px;

          .slick-next {
            right:2px;

            &:before {
              margin-left: 0;
            }
          }

          .slick-prev {
            left:-13px;
          }

          .slick-slide {
                border-right: none;

                a {
                border: none;
               }

                &:last-child {
                  margin-right: 0;
                }
          }


          .slick-next, .slick-prev {
            &:before {
                color: $secondary-color;
                transition: color 0.5s ease;
            }
            &:hover {
                &:before {
                    color: $link-hover;
                }
            }
          }


        .annotation-txt {
          @extend .annotation;
        }
   }

   @include breakpoint(medium down) {
     width: grid-column(12 of 12);
     @include grid-col-pos(0);
     padding: 0;

        &.slick-3.slider {
          padding-left: 45px;

          .slick-prev {
            left:3px;
          }
        }

        &.right {
          @include grid-column-position(0);
        }
    }

    @include breakpoint(small down) {



         &.slick-3.slider {
           padding-left: 0;
           padding-right: 0;
         }
     }

}//end narrower-width

// bird crisis carousel
.slideshow-1 {
	.slider.slick-slider {
		.slick-list { 
			.slick-track {
				.slick-slide {
					height: auto !important;
				}
			}
		}
		.carousel-img-container {
			height: 0;
			padding-bottom: 101%;
			position: relative;
			img {
				left: 0;
				position: absolute;
				top: 0;
			}
		}
	}
}