#bp-article-content {
	.social-share {
		@extend .clearfix;
		margin-bottom: 30px;

		.social-icons {
			float: left;

			a {
				color: $button-background;

						&:hover {
						 border: none;
		 				 @extend .background-ease;
					  }
			}

			@include breakpoint(small down) {
				margin-bottom: 	0.625rem;
				margin-left: 0.9375rem;
			}

		}

	.comment-box {
		float: left;
		margin-left: 4px;
		background-color: $button-background;
		height: 22px;
	  border-radius: 4px;
	  padding: 0 7px;
	  margin-top: 0;
	  display: block;

	    a i.fa-comment, a span {
		    color: #fff;
	    }

	}

	a {
		 i {
			 font-size: 1.5rem;
			 margin-right: 2px;
		 }

		 &.commentsAnchor {
			 display: inline-block;
			 min-width: 48px;
			 position: relative;

					span {
						position: absolute;
						top:-2px;
						left:20px;
					}
		 }

		 i.fa-comment {
			 font-size: 1rem;
			 line-height: 1.0;
			 margin-top: 0;

					&:before {
						position: absolute;
						top:2px;
						left:0;
					}
	     }
	}

	@include breakpoint(small down) {
		margin-bottom: 0;
	}

}//end social-share

}
