
.subnav-wrapper {
	position: relative;
	margin: 0 0 1.75rem;

	//subnav reset
		h4, div, .row, ul, li, a, .navbar-nav>li>a, .nav>li>a {
			margin: 0;
			padding: 0;
		}

	 .row {
		float: left;
	 }

	 h4 {
        background: none;
        border: 0;
        display: block;
        font-size: .8rem;
        font-family: $body-font-family;
        padding: 0;
        margin-right: 1.25rem;
        font-weight: bold;
        color: $medium-gray;
        text-transform: uppercase;
	 }

	.slider.slick-slider {

	 .slick-slide {
		 margin-right: 15px!important;

			a {
				padding: .5rem 0 0 .5rem;
                color: $dark-gray;

				&:first-child {
					padding-left: 0;
				}
			}
                    
        @include breakpoint(medium) {
            .slide {
                border-bottom: 2px solid transparent;
                &:hover {
                    border-bottom-color: #587624;
                }
            }
        }
    }
}//end slick styles

 @include breakpoint(small down) {
	 margin-top: 1rem;
	 margin-bottom: 0;

	 .slider.slick-slider {
		 margin: 10px;

		 .slide {
			 margin: 0;
			 text-align: center;
			 margin-right: 5px!important;
			 padding: 0;
			 border: 1px solid $card-border;
			 border-radius: 4px;

			    a:first-child {
						padding: .5rem;
					}
		 }

		 .slick-slide {

					&.active {
						a {
							color: $white;
						}
                    }

		 }
	 }

	 h4 {
		 margin-left: 15px;

	 }
 }//end small breakpoint

}//end subnav-wrapper
