// -- BIRD CRISIS OVERRIDES -- //
.bring-birds-back { 
  #bp-article-content {
    .full-bleed.top-banner {
      height: 0 !important;
      overflow: hidden !important;
      position: relative;
      padding-bottom: 52.2%;
      video {
        height: auto !important;
      }
      .mute-button-banner, .bannerScroll {
        display: none !important;
      }
    }
    @include breakpoint(small down) {
      video {
        display: none !important; 
      }
    }
  }
}
// end overrides

//Sets Our Video Player Styles
.video-player {
    margin: 30px auto;
    width: 100%;
    float: right!important;
	  clear: both;

	.video-container {
		  position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 0;
	    height: 0;
	    overflow: hidden;

      &.spectogram {
        padding-bottom: 40%;
      }

      &.trend-maps {
        padding-bottom: 66.66%;
      }

			iframe {
			  position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
			}
	}//end video-container


	 small {
		display: block;
	  color: #333;
	  margin: 0;
	  padding: 0;
	  margin-top: 15px;
	  padding-bottom: 10px;

        a {
          text-decoration: underline;
        }
	 }

   &.small, &.medium, &.large, &.wide {
     margin-top: 0;
   }

   &.small {
     max-width: 37%;
     margin-left: 30px;
   }

   &.medium {
     	max-width: 55.65%;
      height: auto;
      margin-left: 30px;
   }

   &.large {
     	max-width: 100%;
      margin-bottom: 30px;
   }

   &.wide {
      margin-left: calc(50% - (512px));
      margin-right: calc(50% - (512px));
      max-width: none;
      width: 1024px;
      @media (max-width: 1100px) {
        margin-left: calc(50% - 48vw);
        margin-right: calc(50% - 48vw);
        width: 96vw;
      }
   }

   @include breakpoint(small down) {

      &.small, &.medium, &.large {
        max-width: 100%;
        width: 100%;
        padding: 0;
      }
   }

}//end video-player
