.banner-wrap {
	  height: $banner-height;
	  background-color: $dark-gray;
	  text-align: center;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  position: relative;

    .banner {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      display: table;

      .banner-content {
        display: table-cell;
        vertical-align: middle;

        .banner-text {
          @include grid-row;
          @include grid-column(4,0);
          @include grid-column-position(1);

            &.light {
              color: $white;
            }

						&.dark {
							color: $black;
						}



						@include breakpoint(medium down) {
							@include grid-column(5, 0);

							 h2 {
								 font-size: 1rem;
							 }

						}

						@include breakpoint(small down) {
							@include grid-column(5, 0);

							 h2 {
								 font-size: 0.625rem;
							 }

						}
        }

        .caption {
          position: absolute;
            font-weight: 400;
            text-shadow: 0 .1em .1em rgba(0,0,0,.4);
            display: block;
            border-radius: 5px;
            padding: 5px 10px;
            left: 12%;
            bottom: 0%;
            font-size: 	0.5rem;
            color: $caption-gray;
            z-index: 1000;

            a {
              font-size: 0.5rem;
              color: $caption-gray;

                &:hover {
                  color: $primary-color;
                }
            }

						@include breakpoint(medium down) {
							font-size: 6px;
						}

        }

      }//end banner-content

    }//end banner

}//end banner-wrap


.full-bleed  {
	position: relative;
	clear:both;
	background-position: center center;
	background-size: cover;
	margin:15px 0;

	  .text-overlay-wrapper  {
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  top: 0;
		  left: 0;
		  bottom: 0;
		  right: 0;
		  text-align: center;
      display: flex;
      align-items: center;
		  z-index: 0;

		    .text-overlay-middle {
			  display: table-cell;
			  vertical-align: middle;
        z-index: 500;
        width: 100%;

				  .text-article-display {
				  display: block;
				  max-width: 840px;
				  margin: 0 auto;
				  text-rendering: optimizeLegibility;
				  font-family: $body-font-family;
				  color: #fff;
				  text-shadow: 0 .02em .02em rgba(0,0,0,.2);
				  text-align: center;
				  padding: 10px;
				  max-width: 64%;
				  border-radius: 7px;
				  z-index:500;
                  @include breakpoint(medium) {
                      background-color: rgba(0, 0, 0, 0.65);
                      border-radius: 5px;
                      padding: 1rem 1.5rem !important;
                  }
                  &:after {
                      clear: both;
                      content: " ";
                      display: table;
                  }


				        .text-overlay {
                            font-weight: 200;
                            line-height: 1.2;
                            margin-bottom: 8px;

                        h2, h3, h5 {
                            font-family: $body-font-family;
                            font-weight: 400;
                        }

									.btns-download {
										  img:hover {
												transition: background-color 0.5s ease;
												opacity: .8;
												border-radius: 4px;
											}

											@include breakpoint(medium down) {
												 img {
													 width: 50%;
													 height: 50%;
												 }
											}

											@include breakpoint(small down) {
												margin: 0 auto;
												text-align: center;
												display: inline-block;
												max-width: 278px;

												 a {
													 float: none;
													 text-align: center;
												 }

												 img {
													 width: 47%;
													 height: 47%;

													  &.second-btn {
															float: right;
															margin-right: 0;
														}
												 }
											}
									}

				        }

					    &.video {
						    text-align: center !important;
							margin: 0 auto !important;

							.text-overlay {
								font-weight: 100;
								font-size: 24px;
							}
					    }

				        .bannerTitle {
						  		font-size: 28px;
						  		font-weight: 400;
                  line-height: 1.3;
                  margin-bottom: .5rem !important;
									text-shadow: 0 .02em .02em rgba(0,0,0,.2);
				        }


						.img-full-feature, {
						  width: 100%;
						  position: absolute;
						  top: 0;
						  left: 0;
						  bottom: 0;
						  right: 0;
						  display: block;
						  text-align: center;
						  z-index: 100;

					    }

				  }

			      .mute-button-banner {
							@include show-for(medium);
		           color: white;
		           display: block;
		           background-color: rgba(0,0,0,.3);
		           border-radius: 5px;
		           padding: 5px 10px;
		           cursor: pointer;
		           position: absolute;
		           bottom: 2%;
		           left: 0;
		           z-index: 500;

				     &:before {
					 content: "\f028";
					 padding-right: 5px;
					 font-family: FontAwesome;
					 }

			      }


				  .mute-button.mute {
				        &:before {
						content: "\f026";
						padding-right: 8px;
						font-family: FontAwesome;
						}

					}


			      small {
				      font-size: 16px;
			      }


			}

	   }


       .caption {
            position: absolute;
            display: block;
            right: 2%;
            bottom: 2%;
            z-index: 1000;
            @extend .caption-style;
      }

	  .article-banner-wrapper {
		  	margin-bottom: 30px;
		  	background-size: cover;
		  	background-repeat: no-repeat;
	  }

	  // Top banner gets slightly different calculation and style
	  &.top-banner {
        margin: 0 0 30px;

				.section-overlay {
					@include hide-for(medium);
					background-color: rgba(0, 0, 0, 0.4);
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}

		  .text-overlay-wrapper {
			  .text-overlay-middle {
				  .text-article-display {
			  	    text-align: left;
			  	    margin-left: 0;
			  	    // margin-top: -10%;
			  	    max-width: 40%;

							.text-overlay {
									button[name=play-large] {
										text-align: center;
	    							display: block;
	    							margin-top: 5%;
									}

									#pledge-for-birds {
										font-size: 2.625rem;
										text-align: left;
									}

									p.campaign {
										font-weight: normal;
										font-size: 1.25rem;
										//line-height: 1.2;
										//margin-top: 0.875rem;
										//margin-bottom: 0.875rem;
									}

									button {
										font-size: 1.125rem;
									}

							}//end text-overlay
			  	  }
		      }

		  }

			@include breakpoint(medium down) {

                        .caption {
                            right: 0;
                        }

                        .text-overlay-wrapper {
                                .text-overlay-middle {

								  .text-article-display {
										 margin-top: -6px;
										 max-width: 40%;

										 h1 {
											 font-size: 24px;
											 margin-bottom: 0.9375rem !important;
										 }
								   }
							  }
							}

			}//end medium breakpoint

			@include breakpoint(small down) {
				height: 350px !important;

				    .article-banner-wrapper {
							background-position: 100% 0!important;
							height: 100% !important;
						}

						&.dark {
							 .bannerTitle {
								 color: $white;
							 }
						}

						&.youtube-banner {
							height: auto;

							.article-banner-wrapper {
								background-position: 50% 50%!important;
							}

						}

						.text-overlay-wrapper {

							 .text-overlay-middle {

									.text-article-display {
										 margin-top: -10px;
										 padding: 0 0.9375rem !important;
										 max-width: 100% !important;
									 }
								}
							}

			}//end small breakpoint
	  }

	  &.top-banner.youtube-banner {

			.video-banner-wrapper {
			    margin-right: 0;
			    margin-left: 0;
			    background: -webkit-linear-gradient(#000,#101010);
			    background: -o-linear-gradient(#000,#101010);
			    background: -moz-linear-gradient(#000,#101010);
			    background: linear-gradient(#000,#101010);
			    display: block;


					.video-wrapper {
					   margin-bottom: 30px;
					   padding-left: 0;
					   padding-right: 0;

					}


					.video-wrapper.video-container {
					    position: relative;
					    padding-bottom: 56.25%;
					    padding-top: 0;
					    height: 0;
					    overflow: hidden;
					}


			}

      .text-overlay-wrapper {

							.text-overlay-middle {

										.text-article-display {
									    text-align: left;
									    margin: 0;
									    max-width: 40%;

										  .play-banner {
											   color: $white;
											   display: block;
											   font-size: 68px;
											   @extend .hvr-fade;
										  }
										}
						}
			}


		  @include breakpoint(medium down) {

			.text-overlay-wrapper .text-overlay-middle .text-article-display {
				text-align: left;
				margin: 0;
				max-width:100%;
				margin-top: 1rem;

				      .text-overlay {
								margin-bottom: 0;
							}

	            .banner_video_button {
		            text-align: center;
								  span {
							         font-size: 58px;
							         color: $white;
								  }
	            }

        }

		 }
	  }

	  &.top-banner.light .text-overlay-wrapper .text-overlay-middle .text-article-display .text-overlay h5, &.top-banner.light .text-overlay-wrapper .text-overlay-middle .bannerScroll {
		  	color: $white;
			  text-shadow: 0 0.02em 0.02em rgba(0,0,0,0.2);


			       @include breakpoint(small down) {
	             color: $dark-gray;
			         text-shadow:  none;
			         font-weight: 200;
			         line-height: 1.3;
			        }
	  }

	  &.top-banner.dark .text-overlay-wrapper .text-overlay-middle .text-article-display, &.top-banner.dark .text-overlay-wrapper .text-overlay-middle .bannerScroll {
			color: $dark-gray;
			text-shadow: 0 .02em .02em rgba(0, 0, 0, 0.2);
	  }

		&.top-banner.light .text-overlay-wrapper .text-overlay-middle .bannerScroll {
			font-size: 2.5rem;
		}

/*@include breakpoint(small down) {
			  position: static;
			  height: auto !important;
			  margin: 0;
			  padding: 0;
				margin-top: 0.9375rem;

				&.top-banner {
			  margin-bottom: 0;

				  .text-overlay-wrapper {
						margin-bottom: 0;
						padding-bottom: 0;

							.text-overlay-middle .text-article-display {
										text-align: center;
										border-bottom: 1px solid #ccc;
										border-radius: 0;
										padding-bottom: 1.25rem!important;

										h1 {
											font-size: 1.75rem;
										}

										.text-overlay {
											text-shadow: none;
											font-size: 1rem;
										}
								}
					}
			}


			 .text-overlay-wrapper {
				 position:  static;
				 display: block;
			   padding-bottom: 15px;
			   margin-bottom: 10px;

				 .text-overlay-middle {
				  display: block;
				  position: static;

					  .text-article-display {
					    position: static;
					    display: block;
					    max-width: 100%;
					    color: black;
					    font-size: 14px;
					    font-weight: 500;
					    text-shadow: none;
					    background: none;
					    padding: 0 15px;
					    margin: 0;

					      .text-overlay {
						      font-size: 20px;
						  }
					   }

					   .caption {
					    position: static;
					    display: block;
					    text-shadow: 0 .01em .01em rgba(240,240,240,.1);
					    padding-right: 15px;
					    margin: 0;
					    font-size: 0.875rem;
					    color: $dark-gray;
					    background: none;

					    span {
					    color: $dark-gray;
					    font-weight: 400;
					    }
				      }

				      small {
					      font-size: 16px;
				      }

				 }

			 }

			 &.top-banner {
			   .text-overlay-wrapper {

					 .text-overlay-middle {
						 padding: 0 15px;

						.text-article-display {
							margin: 0;
							padding: 0;
							max-width: 100%;

							 .bannerTitle {
								 font-size: 28px;
								 font-weight: 100;
							 }
					    }

			   		   .caption {
								 margin: 5px 0;
								 padding: 0;
								 text-align: right;
								 text-shadow: none;
								 background-color: initial;
								 color: $black;
					   }
					 }
				   }
			 }


			  .article-banner-wrapper {
				  	margin-bottom: 2px;

				  	@include breakpoint(small down) {
					  margin-bottom: 0;
				  	}
			  }

			  //fall back styles
			  .banner-video-full-feature {
				display: none;
			  }

			  .img-full-feature {
			   background-position: center center;
               background-size: cover;
			  }

	  }*///end small breakpoint

}//end full bleed
