
button[name="play"] {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 1px solid $white;
  border-radius: 100%;
  margin: auto;
  cursor: pointer;
  -webkit-transition: all .1s ease-in-out; /* Safari */
  transition: all .1s ease-in-out;


     @include breakpoint(medium down) {
       width:  45px;
       height: 45px;
     }

     &:hover {
     transform: scale(1.1);
     }
}

button[name="play"]:focus {
  outline: 0;
  border: 1px solid hsl(210, 58%, 69%);
  box-shadow: 0 0 0 3px hsla(210, 76%, 57%, 0.5);
  transition: border 0.5s ease;
}

button[name="play"]::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 1px;
  left: 3px;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent white;

    @include breakpoint(medium down) {
      border-width: 10px 0 10px 16px;
      left: 2px;
    }
}



//Large button styles
button[name="play-large"] {
  width: 70px;
  height: 70px;
  background: transparent;
  border: 1px solid $white;
  border-radius: 100%;
  margin: auto;
  cursor: pointer;
  -webkit-transition: all .1s ease-in-out; /* Safari */
  transition: all .1s ease-in-out;


     @include breakpoint(medium down) {
       width:  45px;
       height: 45px;
     }

     &:hover {
     transform: scale(1.1);
     }
}

button[name="play-large"]:focus {
  outline: 0;
  border: 1px solid hsl(210, 58%, 69%);
  box-shadow: 0 0 0 3px hsla(210, 76%, 57%, 0.5);
  transition: border 0.5s ease;
}

button[name="play-large"]::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 1px;
  left: 3px;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent white;

    @include breakpoint(medium down) {
      border-width: 10px 0 10px 16px;
      left: 2px;
    }
}


.button-style {
  background-color: $primary-color;
	border-radius: 0.75rem;
    transition: background-ease;
    &:focus {
        outline: none;
    }
}
