
img {
	max-width: 100%;

  // In column images without caption style
  &.alignleft {
    float: left;
    margin: 0.3125rem 0.9375rem 0.3125rem 0;
  }

  &.alignright {
    float: right;
    clear: right;
    margin:0.9375rem 0 0.9375rem 0.9375rem;
    padding-right: 15px;
  }

}

//Photo Presentations
.photo {
	height: auto;
	margin-bottom: 30px;
  float: right;
	clear: right;

	 img {
	    padding: 0;
	    margin: 0;
	    width: 100%;
	    height: auto;
	    padding-bottom: 0.625rem;
	  }

	  small {
		  padding: 0;
		  margin: 0;
			display: block;
			line-height: 1.4;
			padding-bottom: 0.5rem;
	  }

    &.small {
      max-width: 30%;
    }

    &.medium {
      max-width: 50%;
    }

    &.large {
      	max-width: 100%;
				width: 100%;
    }

    &.small, &.medium {
      margin-left: 30px;
      height: auto;
    }

    &.two-up {
      float: none!important;
      @extend .clearfix;
      width: 100%;
			padding-bottom: 0.3125rem;

      .left {
        float: left!important;
        max-width: 48%;
        margin-right: 2%;
      }

      .right {
        float: right !important;
        max-width: 48%;
      }
    }

    &.alignleft, .align-left.small, .align-left.medium {
      float: left;
      clear: left;
      margin:15px 30px 15px 0;
      padding-right: 15px;
    }

    @include breakpoint(medium down) {

        	 &.medium {
        		  max-width: 55.65%;
        	 }

    }

    @include breakpoint(small down) {
				margin-bottom: 15px;

           &.small, &.medium, &.large {
             max-width: 100%;
             width: 100%;
             padding: 0;
             height: auto;
						 margin-top: 0.9375rem;
           }

           &.two-up {
						 margin-top: 0.9375rem;
						 padding-bottom: 0;

              .left, .right {
       		    float: none !important;
       		    max-width: 100%;
       		    width: 100%;
              }

          }
    }
}
