---

---

<div>

		<!-- Banner Section -->
		<div class="banner-wrap" style="background: url('{{root}}assets/img/owl-banner.jpg') top center no-repeat; background-size: cover;">
			<div class="banner">
					<div class="banner-content">
						<div  class="banner-text light">
								<h1>We believe in the beauty and power of birds to spark curiosity and reveal new knowledge.<br />
		Together, we can galvanize action to protect our planet.</h1>

								  <button name="play"></button>

						</div>

						<div class="caption">
							Caption text would go here
						</div>
					</div>
			</div>
		</div>


</div>
