<div class="col-1">
		     <div class="grid">

					 <div class="search-form-style">
			        <form class="staff-search-form">
								<label for='header-search'><span class='hide'>Search</span></label>
								<i class="icon-search"></i>
								<input type="text" class="docs-search tt-input" data-docs-search=""
								placeholder="Search species, people, or keywords" autocomplete="off"
								spellcheck="false" dir="auto" style="position: relative; vertical-align: top;
								background-color: transparent;">
			        </form>
						</div>

				 </div>
</div>
