<div class="staff-directory">

	<div id="MyContainer" class="toggle-switcher browse-group-results" data-toggler=".hide-it">

		<div class="back-bar toggle">
			<button class="toggle-switch btn-groups" data-toggle="MyContainer"><i class="icon-chevron-left" aria-hidden="true"></i>All Lab Programs</button>
			<button class="toggle-switch btn-list" data-toggle="MyContainer">Search<i class="icon-chevron-right" aria-hidden="true"></i></button>

		</div>

		<section class="browse-group-container">

			<div class="content-left-sidebar taxonomy" id="panel" >
          <main class="group-results">
            {{> staff-content}}
          </main>
					<aside class="group-list">
						{{> program-list}}
					</aside>
		    </div>


		</section>

	</div>


</div>
