
<div class="col-2 aside-right">
  <div class="grid">
        <aside>
          <h1 class="page-title">Staff Directory</h1>
          <ul class="program-list">
             <lh>Staff by program</lh>
             <li><a href="#" class="is-active">Program Directors</a></li>
             <li><a href="#">Administration & Business Operations</a></li>
             <li><a href="#">Bioacoustics Research Program</a></li>
             <li><a href="#">Bird Population Studies</a></li>
             <li><a href="#">Citizen Science Program</a></li>
             <li><a href="#">Communications</a></li>
             <li><a href="#">Conservation Media</a></li>
             <li><a href="#">Conservation Science</a></li>
             <li><a href="#">Development and Philanthropy</a></li>
             <li><a href="#">Education Program</a></li>
             <li><a href="#">Evolutionary Biology</a></li>
             <li><a href="#">Information Science</a></li>
             <li><a href="#">Macaulay Library</a></li>
             <li><a href="#">Museum of Vertebrates</a></li>
          </ul>
        </aside>
        <main>
           <div class="staff-search-form">
             <i class="icon-search"></i>
             <input type="search" name="search" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search Staff by Name, Project">
           </div>
          
           <div class="article-list borderless-cards no-excerpt">
             <ul>
                 {{#repeat 13}}
                   <li class="article-item">
                     <div class="article-item-media content-article">
                       <a href="#">
                         <img src="https://via.placeholder.com/396x297">
                         <span class="media-icon"></span>
                       </a>
                     </div>
                     <div class="article-item-body">
                       <h4 class="article-item-header">
                         <a href="#">John Fitzpatrick</a>
                       </h4>
                       <p class="article-excerpt">
                         <i>Lab Director</i>
                       </p>
                     </div>
                  </li>
                {{/repeat}}
            </ul>
          </div>
        </main>
  </div>
</div>
