<div class="wrap content col-1 clearfix">
  <section class="grid col-two staff" id="bp-article-content">

          <!--Column One-->
          <div>
              <h1>Shayna Muller</h1>
              <div><p class="staff-title">Content Manager</p></div>
              <div>
                <h4>Expertise</h4>
                <p>Filmmaking • Animation • Natural History Interpretation</p>
                <h4>Bio</h4>
                <p>I produce educational and instructional videos for the Cornell Lab’s eLearning
                   website, Bird Academy. I have the joy of working with knowledgeable instructors
                    and high-quality media to create videos that both educate and inspire. From
                    animated promotions to studio-produced lectures, we’re constantly pushing to
                    find new ways of communicating our passion for birds and the environment.</p>
                <p>I’ve found that my passions in life can be boiled down into three categories:
                   nature, education, and art. From hiking in the woods with my family to searching
                    for insects in the field, my love for nature only grew as I got older. Teachers
                     in my life sparked a desire within me to share and communicate my excitement
                      for learning with others. Art has served as my outlet for creative expression,
                       helped me to study scientific detail through sketching, and has proven to be
                        my most effective tool in communicating science. In my career, I aim to combine
                         these passions to create educational media that inspires others to learn about
                          and care for the natural world. I’m fortunate to work for an organization that
                           shares these ideals.</p>
                 <h4>Education</h4>
                 <p>M.A., Film and Video, American University B.S., Natural History and Interpretation,
                   SUNY College of Environmental Science and Forestry</p>
                 <h4>Spark Moment</h4>
                 <p>I love insects. I fell for them while studying to partake in a Science Olympiad event
                    for which I created my own “field guide.” I drew examples of each order, took detailed
                     notes, and became completely fascinated by them. Since then, I’ve taken courses in
                      entomology, have started an insect collection, and even had Madagascar hissing
                       cockroaches as pets.</p>
              </div>
        </div>
        <!--Column Two-->
        <div class="sidebar-col">
          <img src="{{root}}assets/img/ShaynaMuller4x3C.jpg">
        </div>
        <!--Contact data table -->
        <div class="staff-card side">
          <div class="two-span">
            <div class="staff-prog"><span>Program</span> Education</div>
            <div class="staff-proj"><span>Projects</span> Bird Academy</div>
         </div>
         <div class="two-span">
            <div><span>Office </span>607-254-1140</div>
            <div><span>Mobile </span>111-222-3333</div>
         </div>
        <div><span>Email </span>smm522@cornell.edu</div>
        <div><span>Website </span>
               <a href="#">Here could be a longer title for a website link</a>
               <!--<a href="https://www.nationalgeographic.com/">https://www.nationalgeographic.com</a>-->
        </div>
        <!--Social Row -->
        <div class="social-row">
             <span>Connect</span>
             <ul>
                 <li><a href="https://facebook.com"><i class="icon-facebook-square"></i></a></li>
                 <li><a href="https://instagram.com"><i class="icon-instagram"></i></a></li>
                 <li><a href="https://linkedin.com"><i class="icon-linkedin-square"></i></a></li>
                 <li><a href="https://twitter.com"><i class="icon-twitter-square"></i></a></li>
             </ul>
        </div>
    </div>
  </section>


</div>
