<section class="background-image text-left white first" style="background-image: url('{{root}}assets/img/owl-banner.jpg');">
      <div class="section-overlay"></div>
      <div>
          <div>
            <h2>We believe in the beauty and power of birds to spark curiosity and reveal new knowledge.
                Together, we can galvanize action to protect our planet.
            </h2>
            <button name="play"></button>
          </div>
      </div>
      <div class="caption">
        Caption text would go here
      </div>
</section>

<section class="background-image text-left blue" style="background-image: url('{{root}}assets/img/Dunlin.jpg');">
      <div class="section-overlay"></div>
      <div>
            <div>
              <h2><span>We reveal how nature works</span>Science & Innovation</h2>
              <p>A thriving hub for scientific discovery and technological innovation, the Cornell Lab brings together scientists, students, and people from all walks of life in the quest to generate new knowledge and conserve our shared natural world.</p>

              <div class="video-player large"><div class=" video-container vimeo"><iframe src='https://player.vimeo.com/video/306270711?title=1&amp;byline=1&amp;portrait=1&amp;color=' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><small>eBird <a href="https://ebird.org/science/status-and-trends">Status and Trend models</a> are enabling new ways of viewing birds across continental scales.</small></div>
              <!--<div class="video-player"><div class="video-container"><iframe class="ytplayer" id="ytplayer-LjQtRr4CKcc" name="LjQtRr4CKcc" data-autoplay="0" data-controls="1" data-playsinline="0" data-rel="0" data-showinfo="1" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/LjQtRr4CKcc?autoplay=0&amp;controls=1&amp;end&amp;list&amp;playsinline=0&amp;rel=0&amp;showinfo=1&amp;start&amp;modestbranding=1&amp;wmode=opaque&amp;enablejsapi=1&amp;origin=http%3A%2F%2Fwww.birdpress.test&amp;widgetid=1"></iframe></div><small>testing out caption text for youtube</small></div>-->
              <a href="#" class="button-round">Read More</a>
            </div>
      </div>
</section>

<section class="text-right blue">
      <h2><span>What you can do</span>Citizen Science and Lifelong Learning</h2>
      <p>Begin your journey here. Pick a project to match your interests.</p>

      <!-- start slick style -->
      <div class="slider slick-3 narrower-width">
              {{#repeat 6}}
               <div class="slide">
        			    	<a href="id-media-browser.html"><img src="https://via.placeholder.com/400x300">
                      <span></span>
                    </a>
        						<div class="annotation-txt">
                      <div>eBird</div>
                      <h4>Track your sightings, contribute to new maps and insights</h4>
        						</div>
                </div>
               {{/repeat}}
      </div><!--end slick-->
</section>

<section class="background-image text-right green " style="background-image: url('{{root}}assets/img/education.jpg');">
      <div class="section-overlay"></div>
      <div>
          <div>
            <h2><span>We open doors to the natural world</span>Education</h2>
            <p>We open the doors to inquiry and learning, starting with the earliest ages and lasting a lifetime. We’re dedicated to inspiring and teaching lifelong learners and new generations of science and conservation leaders.</p>
            <div class="video-player"><div class="video-container"><iframe class="ytplayer" id="ytplayer-LjQtRr4CKcc" name="LjQtRr4CKcc" data-autoplay="0" data-controls="1" data-playsinline="0" data-rel="0" data-showinfo="1" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/LjQtRr4CKcc?autoplay=0&amp;controls=1&amp;end&amp;list&amp;playsinline=0&amp;rel=0&amp;showinfo=1&amp;start&amp;modestbranding=1&amp;wmode=opaque&amp;enablejsapi=1&amp;origin=http%3A%2F%2Fwww.birdpress.test&amp;widgetid=1"></iframe></div><small>testing out caption text for youtube</small></div>
            <a href="#" class="button-round">Read More</a>
          </div>
      </div>
</section>

<section class="background-image wide last text-left orange" style="background-image: url('{{root}}assets/img/grouse.jpg');">
      <div class="section-overlay"></div>
      <div>
            <div>
              <h2><span>We transform knowledge to action</span>Conservation</h2>
              <p>In service to the natural world, we work with communities around the globe to inspire, inform, and advance conservation. Using scientific data and insights, we seek solutions for a healthy and sustainable planet where humans and wildlife can thrive.</p>
              <h3>See your Impact</h3>

              <!-- start slick style -->
              <div id="testslick" class="slick slick-3">
                       <div class="slide">
                            <a href="id-media-browser.html"><img src="https://via.placeholder.com/400x300">
                              <span></span>
                            </a>
                            <div class="annotation-txt">
                              <div>Elephant Listening Project</div>
                              <h4>How we use sound to help protect elephants from poaching. How we use sound to help protect elephants from poaching</h4>
                						</div>
                        </div>
                        <div class="slide">
                             <a href="id-media-browser.html"><img src="https://via.placeholder.com/400x300">
                               <span></span>
                             </a>
                             <div class="annotation-txt">
                               <div>Elephant Listening Project</div>
                               <h4>How we use sound to help protect elephants from poaching</h4>
                             </div>
                         </div>
                         <div class="slide">
                              <a href="id-media-browser.html"><img src="https://via.placeholder.com/400x300">
                                <span></span>
                              </a>
                              <div class="annotation-txt">
                                <div>Elephant Listening Project</div>
                                <h4>How we use sound to help protect elephants from poaching</h4>
                             </div>
                          </div>
              </div><!--end slick-->
            </div>

      </div>
</section>

<section>
  <div class="video-player large"><div class=" video-container vimeo"><iframe src='https://player.vimeo.com/video/306270711?title=1&amp;byline=1&amp;portrait=1&amp;color=' width='400' height='225' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><small>eBird <a href="https://ebird.org/science/status-and-trends">Status and Trend models</a> are enabling new ways of viewing birds across continental scales.</small></div>
</section>

<section class="text-center centered-col-4 color-background no-height">
  <div>
   <h4>Don't Miss a thing! Join our email list</h4>
   <!--[if lte IE 8]>
   <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
   <![endif]-->
   <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
   <script>
     hbspt.forms.create({
   	portalId: "95627",
   	formId: "ee3402b4-bebe-48ff-870f-7e51695b366d"
   });
   </script>
  </div>
</section>
