<div class="header-content main-nav" data-equalizer>

		<div class="hide-for-medium float-left">
						<a class="button topics" data-toggle="offCanvasLeft1">
							<i class="icon-bars" aria-hidden="true"></i>
						</a>
		</div>

		<div class="hide-for-medium float-left">
				<a class="button search" data-open="ModalSearch">
					<i class="icon-search" aria-hidden="true"></i>
				</a>
		</div>

		<!-- Lab Logo -->
		<div class="logo">
				<div class="logo-bg clearfix" role="logo">
					<a href="http://www.birds.cornell.edu/" rel="parent" title="the Cornell Lab of Ornithology"></a>
					<object type="image/svg+xml" data="assets/img/CLO-SVG-logo.svg" class="svg-logo">The Cornell Lab of Ornithology</object>
				</div>
		</div>

		<div class="hide-for-medium float-right">
			<a class="button join" >
				Join Us
			</a>
		</div>

    <!-- Main navigation -->
		<div class="website-nav-container">
			<nav class="website-nav" role="navigation">
				<ul  class="dropdown menu" data-dropdown-menu>
					<li>
						<a href="#" >About</a>
						<ul class="menu show-for-medium">
							<li><a href="#"> About A</a></li>
						  <li><a href="#"> About B</a></li>
							<li><a href="staff-directory.html"> Staff</a></li>
							<li><a href="#"> About B</a></li>
							<li><a href="#"> About B</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Get Involved</a>
						<ul class="menu show-for-medium">
							<li><a href="#"> GI A</a></li>
							<li><a href="#"> GI B</a></li>
							<li><a href="test.html"> Testing slick</a></li>
						</ul>
					</li>
					<li>
						<a href="#" >Give</a>
						<ul class="menu show-for-medium">
							<li><a href="#">Give A</a></li>
							<li><a href="#">Give B</a></li>
						</ul>
					</li>
				  <li>
						<a href="#">Birds</a>
						<ul class="menu show-for-medium">
							<li><a href="#">Birds A</a></li>
							<li><a href="#">Birds B</a></li>
						</ul>
					</li>
					<li>
						<a class="search" data-open="ModalSearch"><i class="icon-search" aria-hidden="true"></i></a>
					</li>
				</ul>
			</nav>
		</div>

</div>

<!-- Search Modal -->
<div class="reveal" id="ModalSearch" aria-labelledby="ModalSearch" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
		<div class="links-container">
				 <!-- Search Form -->
		     <div>
					 <div class="menu search-area">
			        <div class="staff-search-form" role="search">
								 <label for='header-search'><span class='hide'>Search</span></label>
								 <i class="icon-search"></i><input type="text" class="docs-search tt-input" data-docs-search="" placeholder="Search species, people, or keywords" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;">
			        </div>
						</div>
				 </div>

				 <!-- Button Row -->
				 <div class="links-row">
							<div class="links-btn">
									<span>Bird ID help,  Bird Guide</span>
									<a class="button-rect" href="#">All About Birds</a>
							</div>
							<div class="links-btn">
								<span>Find birds near you</span>
								<a class="button-rect" href="#">eBird</a>
							</div>
							<div class=" links-btn links-list">
								  <span>Quick Links</span>
										<div class="two-span">
											<div><a href="#">Visit Us</a></div>
											<div><a href="#">Members</a></div>
										</div>
										<div class="two-span">
											<div><a href="#">Staff Directory</a></div>
											<div><a href="#">Students</a></div>
										</div>
							</div>
				</div>

			  <a class="close-button" data-close aria-label="Close Accessible Modal" >
			    <span aria-hidden="true">&times;</span>
			  </a>

	</div><!--end links-container-->
</div>
