<div class="staff-search-form">
  <i class="icon-search"></i>
  <input type="search" name="search" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search Staff by Name, Project">
</div>

<div class="article-list borderless-cards no-excerpt">
  <ul>
      {{#repeat 13}}
        <li class="article-item">
          <div class="article-item-media content-article">
            <a class="staff-modal" data-open="ModalStaff">
              <img src="https://via.placeholder.com/400x300">
              <span class="media-icon"></span>
            </a>
          </div>
          <div class="article-item-body">
            <h4 class="article-item-header">
              <a class="staff-modal" data-open="ModalStaff">John Fitzpatrick</a>
            </h4>
            <p class="article-excerpt">
              <i>Lab Director</i>
            </p>
          </div>
       </li>
     {{/repeat}}
 </ul>
</div>

<!-- Staff Modal -->
<div class="reveal" id="ModalStaff" aria-labelledby="ModalStaff" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">

  <div>
     <div class="staff-img"><img src="{{root}}assets/img/ShaynaMuller4x3C.jpg"></div>
     <div class="info">
       <h1>Shayna Muller</h1>
       <p class="staff-title">Content Manager</p>
       <div class="staff-prog"><span>Program</span> Education</div>
       <div class="staff-proj"><span>Projects</span> Bird Academy</div>
       <div class="staff-expertise"><span>Expertise</span> Filmmaking • Animation
         • Natural History Interpretation</div>
     </div>
  </div>

  <div>
    <p class="summary-p">I produce educational and instructional videos for the Cornell Lab’s eLearning website,
    Bird Academy. I have the joy of working with knowledgeable instructors and high-quality
    media to create videos that both educate and inspire. From animated promotions to
    studio-produced lectures, we’re constantly pushing to find new ways of communicating
    our passion for birds and the environment.</p>
    <a href="#" class="button-round">See Full Bio</a>
  </div>

  <a class="close-button" data-close aria-label="Close Accessible Modal" >
    <span aria-hidden="true">&times;</span>
  </a>
</div>
