<div class="tiny-bar">

            <nav class="header-content" role="navigation">
              <div class="tiny-menu-container">
                    <ul class="menu">
                      <li><a href="#">Visitors</a></li>
                      <li><a href="#">Students</a></li>
                      <li><a href="#">Scientists</a></li>
                      <li><a href="#">Educators</a></li>
                      <li><a href="#">Members</a></li>
                      <li><a href="#">Contact Us</a></li>
                      <li class="join"><a href="#">Join Us</a></li>
                    </ul>
                </div>
            </nav>

</div>
