
// COLORS
$primary-color: #c5541c;
$secondary-color: #587624;
$button-hover: darken($primary-color, 8%);
$button-hover-secondary: darken($secondary-color, 6%);
$rule-gray: #d4d4d4;
$red: #e12e05;

// Screen sizes
$large: 1200px;
$medium: 1024px;
$small: 768px;
$xsmall: 520px;

// MIXINS
@mixin header-h2 {
  color: $primary-color;
  font: {
    family: "Noto Serif",serif;
    size: 1.5rem;
  }
  position: relative;
  margin: 0 0 1rem;
  padding: .6rem 0;
  text-align: center;
}

@mixin button-hover {
  background-color: $button-hover;
  color: #fff;
  transition: background-color 0.5s ease;
}

@mixin header-h3 {    
  display: block;
  font: {
    family: "Source Sans Pro",sans-serif;
    size: 1.25rem;
    weight: normal;
  }
  margin-bottom: 1rem;
  text-align: center;
}

@mixin hidden-field {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@mixin large-radio {
  .en__field__element--radio {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .en__field__item, .en__field__element {
    padding: 0 .1rem;
  }
  .en__field {
    text-align: center;
  }
  .en__field__label {
    display: block;
    width: auto;
  }
  input[type=radio] {
    @include hidden-field;
  }
  .en__field__label--item {
    border: 1px solid $secondary-color;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 1.125rem;
    padding: .5rem 2rem;
    transition: all .3s ease-out;
  }
  input[type=radio]:checked+label,
  input[type=radio]:focus+label,
  .en__field__label--item:hover {
    border-color: $secondary-color;
    background-color: $secondary-color;
    color: #fff;
  }
  input[type=radio]:checked:focus+label {
    border-color: $primary-color;
  }
  input[type=radio]:focus+label {
    background-color: $button-hover-secondary;
  }
  .en__field--radio {
    .en__field__item {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: .5rem .2rem;
    }
  }
}

/**  TEMPLATE **/

body {
  background-color: #f3f7fb;
  font-family: "Source Sans Pro",sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-family: "Noto Serif",serif;
}

#main-content-wrapper {
  max-width: 57.25rem;
  margin: 0 auto;
  width: 100%;
}

#main-content {
  color:#000000;    
  background-color: #fff;
  padding: 0;
  @media (min-width: 41.25em) {
    margin: 2.1875rem;
    margin-top: 2.1875rem;
    margin-right: 2.1875rem;
    margin-bottom: 2.1875rem;
    margin-left: 2.1875rem;
    border-radius: 0.4375rem;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
  }
  * {
    box-sizing: border-box;
  }
  a {
    color: #4f6a20;
  }
  @media (max-width: $xsmall) {
    .en__component--column:not(.hero) {
      padding: 0 1rem 1rem !important;
    }
  }
  a:focus, button:focus, label:focus {
    outline: {
      width: 2px;
      style: dotted;
      color: rgba($primary-color,.8);
      offset: 1px;
    } 
  }
  input:focus, select:focus, textarea:focus {
    outline: {
        width: 2px;
        style: solid;
        color: rgba($primary-color,.8);
        offset: -1px;
    } 
  }

  // Errors
  .en__errorHeader {
    color: $red;
    padding: 0 2rem;
  }
  .en__errorList {
    margin-left: 1.25rem;
    padding: 0 2rem;
    li {
      margin: 1rem 0;
    }
  }
}

#main-content-inner {
  padding: 0;
  margin: 0 auto;
}

strong {
  font-weight: bold !important;
}

.en__mandatory label.en__field__label:not(.en__field__label--item)::after {
 content: "*";
 color: $red;
}

/** Hide Fix **/
.en__hidden {
  display: none !important;
}

/** Fixes the column issue **/
.en__component--row.en__component--advrow {
  display: flex;
  flex-wrap: wrap;
  .en__component--column{
    min-width: inherit !important;
  }
}

.en__component--column{
  min-width: inherit !important;
}    

.en__component--column {
  padding: 0 1.875rem;
}

.en__component--column.hero {
  padding: 0;
}

/* Fix for radio with other box - doesn't hide properly */
/* Added 02/07/2020 CHP */
.en__field__item.en__field__item--other.en__field__item--hidden {
  display: none !important;
}

/** logo **/
.logo {
  .logo-bg {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    padding: .5em 0 0;
    width: 350px;
    a {
      height: 70px;
      display: block;
      max-width: 100%;
      position: absolute;
      text-align: center;
      width: 350px;
      z-index: 1;
    }
    .svg-logo {
      transition: all .1s ease-in-out;
      display: block;
      height: 70px;
      width: 350px;
      margin-left: -12px;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* footer display style */
.footer {
  margin: 0;
  background-color: #efefef;
  padding: 1rem;
  div {
    margin: 0 auto;
    text-align:center;
  }
  ul.menu-list {
    list-style-type: none;
    li {
      display:inline;
      margin-right: 15px;
      &:last-child {
        margin-right:0;
      }
      a {
        font-size: .9rem;
      }
    }
  }
  .icon-CULogo  {
    margin: .5rem auto;
    a img  {
      width:200px;
      height: auto;
    }
  }
  small {
      font-size: .75rem;
      color: #555;
      margin-top: 5px;
  }
}

/* hero banner with image styles */
.hero {
  padding: 0;
  margin: 0;
  width: auto;
  overflow: hidden;
  position: relative;
  .banner-text {
    box-sizing: border-box;
    padding: 1rem;
  }
  h1 {
    margin-top: 0;
    padding: 0;
  }
  p {
    font-size: 1.125em;
  }
  .caption {
    background-color: rgba(#000, .5);
    border-radius: 3px;
    bottom: 5px;
    color: #fff;
    font-size: 0.688em;
    line-height: 1em;
    padding: 2px 8px;
    position: absolute;
    right: 5px;
  }
  .en__component--copyblock {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .en__component--imageblock {
    position: relative;
    z-index: 0;
    img {
      display: block;
    }
  }
  &.video {
    height: 0 !important;
    padding-bottom: 56% !important;
  }
  @media (min-width: $xsmall) {
    height: 350px;
    // .en__component--copyblock {
    //   height: 100%;
    // }
    &.ui-sortable {
      .en__component--copyblock {
        height: 85%;
        top: 15%;
      }
      .banner-text {
        padding-top: 0;
      }
    }
    .banner-text {
      border-radius: 5px;
      color: #000;
      left: 2rem;
      min-width: 220px;
      position: relative;
      top: 2rem;
      width: 40%;
    }
    &.dark {
      .banner-text {
        background-color: rgba(#000, .5);
        color: #fff;
      }
    }
    &.light {
      .banner-text {
        background-color: rgba(#fff, .5);
        color: #000;
      }
    }
    .caption {
      bottom: 5px;
      top: auto;
    }
    .en__component--imageblock {
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute !important;
      top: 0;
      width: 100%;
      z-index: 1;
      img {
        height: 350px !important;
        min-height: 100%;
        width: auto !important;
        object-fit: cover;
      }
    }
  }
  .player {
    height: 0;
    padding-bottom: 56%;
    position: relative;
    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  @media (min-width: $xsmall) and (max-width: $small)  {
    height: 250px;
    .en__component--imageblock {
      img {
        height: 300px !important;
        width: auto !important;
      }
    }
    .banner-text {
      left: 1rem;
      top: 1rem;
    }
  }
  @media (max-width: $small) {
    h1 {
      font-size: 26px;
      margin-bottom: 10px;
    } 
    p {
      font-size: 14px;
      margin-top: 0;
    }
    // .player {
    //   height: 0;
    //   padding-bottom: 250px;
    // }
    &.video {
      .caption {
        bottom: 5px;
        max-width: 96%;
      }
    }
  }
  @media (max-width: $xsmall) {
    padding: 0 !important;
    .banner-text {
      // background-color: $light-gray;
      background-color: rgba(0,0,0,.6);
      color: #fff;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      text-align: center;
    }
    .caption {
      background: none;
      padding: 0;
      text-align: right;
    }
    .en__component--imageblock {
      img {
        height: auto !important;
        width: 100% !important;
      }
    }
  }
}

.en__component--advcolumn:not(.hero) {
  h1 {
    @include header-h2;
  }
}

/* premium gift display styles */
  .en_pgList {
      display: flex;
      flex-wrap: wrap;
      position: relative;
  }
  
  .en_pg {
     flex-grow: 0;
     flex-shrink: 0;
     flex-basis: 50%;
     box-sizing: border-box;
     min-width: inherit !important;
     width: auto;
     padding: 0 1.875rem;
     position: static;
  }

  hr.section-hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 2rem 0 1rem;
  }

/**  FORMS **/

// Global
form {
  .en__component--row {
    position: relative;
    &:not(:first-of-type) {
      padding: 1rem 0;
    }
    &:not(:first-of-type):not(:last-of-type) {
      &:before {
        content: " ";
        border-top: 1px solid #eee;
        display: block;
        left: 3%;
        position: absolute;
        bottom: 0;
        width: 94%;
      }
    }
  }
  .en__errorList ~ .en__component--row {
    padding: 0 !important;
  }
}
.en__field {
  input[type=text], select, textarea {
    background-color: #fff;
    border: 1px solid $rule-gray;
    border-radius: .25rem;
    font: {
      family: "Source Sans Pro",sans-serif;
      size: 1rem;
    }
    height: 2.55rem;
    padding: .4rem .5rem;
    width: 100%;
  }
  .en__field__label {
    display: inline-block;
    width: auto;
  }
  .en__field__item {
    display: block;
    padding: 0;
  }
  .en__field__element {
    display: block;
  }
  .en__field__error {
    color: $red;
    font-size: .9rem;
    order: 3;
    padding-top: .2rem;
  }
  &.en__field--validationFailed {
    input[type=text], select, textarea {
      border-color: $red;
    }
  }
}

// Check boxes
.en__field--checkbox {
  .en__field__item {
    align-items: flex-start;
    display: flex !important;
    text-align: left;
  }
  input {
    margin: .2rem;
    flex: 0 0 auto;
  }
  label {
    margin: 0 0 0 .5rem;
    p {
      margin: 0;
    }
  }
}
	
// Headers
.en__component--copyblock {
  h2 {
    @include header-h2;
  }
  h3 {
    @include header-h3;
  }
}

// Donation Details
.giving-amount {
  text-align: center;
  // Giving Type
  .en__field--recurrpay {
    > .en__field__label {
      @include header-h2;
    }
    .en__field__element--radio {
      .en__field__label {
        font-size: 1.25rem;
      }
    }
  }
  .en__field--recurrpay, .en__field--donationAmt {
    @include large-radio;
  }
  // Dollar Amount
  .en__field--donationAmt {
    > .en__field__label {
      @include hidden-field;
      // font-size: 1.25rem;
    }
    .en__field__item {
      padding-bottom: .5rem;
    }
  }
}

// Gift Options
.en__component--premiumgiftblock {
  border: none !important;
  .en__pgHeader {
    border: none;
    background: transparent;
    margin-bottom: 2rem;
    padding: 0;
    text-align: center;
  }
  .en__pgList {
    align-items: stretch;
    display: flex;
    justify-content: space-around;
    .en__pg {
      border: none;
      display: flex;
      justify-content: center;
      &:not(:last-child) {
        .en__pg__body {
          align-items: flex-start;
        }
        .en__pg__select {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 3;
        }
        .en__pg__display {
          // order: 2;
          width: 40%;
          padding-right: .2rem;
        }
        .en__pg__select {
          padding: 1rem;
        }
        .en__pg__detail {
          // order: 1;
          padding: 1rem;
          width: 59%;
          h2 {
            font-size: 1.375rem;
            line-height: 1.2;
            margin: 0 0 .8rem;
          }
        }
        input[type=radio] {
          height: 100%;
          opacity: 0;
          width: 100%;
        }
      }
      &:last-child {
        flex-basis: 100%;
        width: 100%;
        .en__pg__body {
          border: none;
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          width: 100%;
        }
        .en__pg__display {
          display: none;
        }
        .en__pg__select {
          padding: 1rem;
        }
        .en__pg__detail {
          padding: 1rem 1rem 1rem 0;
        }
      }
      &.en__pg--selected {
        .en__pg__body {
          border-color: $secondary-color;
        }
      }
    }
    .en__pg__body {
      border: 1px solid $rule-gray;
      border-radius: .25rem;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      position: relative;
      padding: 0;
    }
    .en__pg__detail {
      padding: 0 1rem 1rem;
    }
  }
  .en__pg__display {
    padding: 1rem;
    width: 100%;
  }
  .en__pg__image {
    display: block !important;
    height: auto;
    margin: auto;
    max-height: 200px;
    max-width: 100%;
    outline: none !important;
    position: relative;
  }
  .en__pg__imageSelector {
    display: none;
  }
  @media (min-width: $small) {
    .en__pgList {
      flex-direction: column;
    }
  }
  @media (min-width: $small) {
    .en__pgList {
        flex-direction: row;
        flex-wrap: wrap;
      .en__pg {
          flex-basis: 46%;
          width: 46%;
      }
    }
  } 
  @media (min-width: $xsmall) {
    .en__pgList {
      .en__pg__body {
        max-width: 100%;
        width: 100%;
      }
    }
  }
  @media (max-width: $small) {
    .en__pgList {
      flex-direction: column;
    }
  }
}

// Monthly Giving
.giving-monthly {
  .en__component--premiumgiftblock {
    .en__pgList {
      .en__pg {
        .en__pg__select {
          @include hidden-field;
        }
        input[type=radio] {
          display: none;
        }
        &.en__pg--selected {
          .en__pg__body {
            border-color: $rule-gray;
          }
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
}

// Living Bird Digital Checkbox
.en__field--living-bird-digital {
  > .en__field__label {
    @include header-h3;
  }
  // .en__field__item {
  //   justify-content: center;
  // }
}
.en__field--living-bird-digital.en__field--checkbox,
.en__field--no-thank-you-gift.en__field--checkbox {
  .en__field__item {
    justify-content: center;
  }
}

// Contact Information
.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .en__field {
    display: flex;
    flex-basis: 49%;
    flex-direction: column;
    &.en__field--title {
      flex-basis: 20%;
      width: 20%;
      select {
        min-width: 0;
      }
    }
    &.en__field--firstName, &.en__field--lastName {
      flex-basis: 38%;
    }
    &.en__field--emailAddress, &.en__field--country, &.en__field--phoneNumber {
      flex-basis: 100%;
    }
    &.en__field--city, &.en__field--city-town, &.en__field--region, &.en__field--province, &.en__field--postcode {
      flex-basis: 32%;
    }
  }
  @media (max-width: $small) {
    .en__field {
      flex-basis: 100% !important;
      width: 100% !important;
    }
  }
}
// Billing Information
.billing-info {
  input[readonly] {
    background-color: #efefef;
    color: #555;
    &:focus {
      outline: none;
    }
  }
}
.payment-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &.paypal {
    justify-content: space-around;
  }
  .en__field {
    display: flex;
    flex-basis: 49%;
    flex-direction: column;
    &.en__field--payment-choices {
      flex-basis: 100%;
    }
  }
  .en__field--payment-choices {
    align-items: center;
    display: flex;
    @include large-radio;
    > .en__field__label {
      font-size: 1.25rem;
    }
    .en__field__item {
      padding: .5rem .2rem;
    }
  }
  input[readonly], textarea[readonly] {
    border: none !important;
    padding: 0 !important;
    height: auto;
    text-align: center;
    @media (max-width: $xsmall) {
      height: 4rem;
    }
  }
  .en__field--checkbox {
    > .en__field__label {
      font-size: 1.125rem;
      margin-bottom: .5rem;
    }
    .en__field__element--checkbox {
      label {
        text-align: center;
        margin: 0;
        width: 100%;
      }
      input[type=checkbox] {
        display: none;
      }
    }
  }
  .en__field--NOT_TAGGED_10 {
    flex-basis: 100% !important;
    text-align: center;
  }
  @media (max-width: $small) {
    .en__field {
      flex-basis: 100% !important;
      width: 100% !important;
    }
  }
  .en__field__element--splitselect {
    display: flex;
    justify-content: space-between;
    > .en__field__item {
      flex-basis: 48%;
    }
  }
}

#donation-total-amount {
  font: {
    size: 1.5rem;
    weight: bold;
  }
  text-align: center;
  @media (max-width: $small) { 
    font-size: 1.375rem;
  }
}

// Comodo 
.comodo {
  text-align: center;
  img {
    justify-self: auto;
    width: 80px;
  }
  #tl_popupSECEV {
    z-index: 9999 !important;
  }
  @media (min-width: $xsmall) {
    position: absolute;
    right: 0;
    top: -56px;
  }
  @media (max-width: $xsmall) {
    margin-top: -1rem;
  }
}

// Total Amount
.en__field--total-one-time-charge-text, .en__field--total-monthly-charge-text {
  flex-basis: 100% !important;
  flex-direction: row !important;
  font: {
    size: 1.25rem;
    weight: bold;
  }
  justify-content: center;
  .en__field__element--text {
    display: flex;
    padding: 6px;
    input {
      font: {
        size: inherit;
        weight: bold;
      }
      height: auto !important;
      max-width: 100px;
      text-align: left !important;
      width: auto;
      &:focus {
        outline: none !important;
      }
    }
    &:before {
      content: "$";
      display: inline-block;
    }
  }
  @media (max-width: $xsmall) {
    label {
      max-width: 250px;
    }
    input {
      font-size: 2.5rem !important;
    }
    .en__field__element--text {
      &:before {
        font-size: 2.25rem;
        margin-top: .15rem;
      }
    }
  }
}

// Preferences
.bottom {
  text-align: center;
  .en__component--formblock {
    display: inline-block;
  }
  .en__field--checkbox {
    margin: 18px 0;
    padding: 0;
  }
}

// // E-mail Opt-in
// .en__field--email-opt-in {
//   padding: 1.125em 0;
//   text-align: center;
//   > .en__field__label {
//     @include header-h3;
//   }
//   .en__field__item {
//     display: flex;
//     justify-content: center;
//   }
// }

// Recaptcha
.en__captcha {
  padding: 1.125em 0;
  .g-recaptcha {
    > div {
      margin: auto;
    }
  }
}

// Submit
.en__submit {
  text-align: center;
  button {
    background: $primary-color;
    border: none;
    border-radius: 3rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.25rem;
    padding: .5rem 2.75rem;
    width: auto;
    &:hover {
      @include button-hover;
    }
  }
} 

// Thank you
#details {
  .cell {
    display: flex;
    h3 {
      flex-basis: 30%;
      min-width: 200px;
      text-align: left;
    }
  }
}

.shareButtons {
  text-align: center;
  img {
    height: auto;
    width: 200px;
  }
}


@media print { 
  * {
    background: none;
  }
  #main-content {
    box-shadow: none;
    margin: 0;
    h1.introduction {
      margin-top: 0;
    }
    #socialShare, #GTMDataLayer, #legal, .menu-list {
      display: none;
    }
  }
}
@page { size: portrait; }