/**  TEMPLATE **/
body {
  background-color: #f3f7fb;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-family: "Noto Serif", serif;
}

#main-content-wrapper {
  max-width: 57.25rem;
  margin: 0 auto;
  width: 100%;
}

#main-content {
  color: #000000;
  background-color: #fff;
  padding: 0;
}
@media (min-width: 41.25em) {
  #main-content {
    margin: 2.1875rem;
    margin-top: 2.1875rem;
    margin-right: 2.1875rem;
    margin-bottom: 2.1875rem;
    margin-left: 2.1875rem;
    border-radius: 0.4375rem;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
}
#main-content * {
  box-sizing: border-box;
}
#main-content a {
  color: #4f6a20;
}
@media (max-width: 520px) {
  #main-content .en__component--column:not(.hero) {
    padding: 0 1rem 1rem !important;
  }
}
#main-content a:focus, #main-content button:focus, #main-content label:focus {
  outline-width: 2px;
  outline-style: dotted;
  outline-color: rgba(197, 84, 28, 0.8);
  outline-offset: 1px;
}
#main-content input:focus, #main-content select:focus, #main-content textarea:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: rgba(197, 84, 28, 0.8);
  outline-offset: -1px;
}
#main-content .en__errorHeader {
  color: #e12e05;
  padding: 0 2rem;
}
#main-content .en__errorList {
  margin-left: 1.25rem;
  padding: 0 2rem;
}
#main-content .en__errorList li {
  margin: 1rem 0;
}

#main-content-inner {
  padding: 0;
  margin: 0 auto;
}

strong {
  font-weight: bold !important;
}

.en__mandatory label.en__field__label:not(.en__field__label--item)::after {
  content: "*";
  color: #e12e05;
}

/** Hide Fix **/
.en__hidden {
  display: none !important;
}

/** Fixes the column issue **/
.en__component--row.en__component--advrow {
  display: flex;
  flex-wrap: wrap;
}
.en__component--row.en__component--advrow .en__component--column {
  min-width: inherit !important;
}

.en__component--column {
  min-width: inherit !important;
}

.en__component--column {
  padding: 0 1.875rem;
}

.en__component--column.hero {
  padding: 0;
}

/* Fix for radio with other box - doesn't hide properly */
/* Added 02/07/2020 CHP */
.en__field__item.en__field__item--other.en__field__item--hidden {
  display: none !important;
}

/** logo **/
.logo .logo-bg {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 0.5em 0 0;
  width: 350px;
}
.logo .logo-bg a {
  height: 70px;
  display: block;
  max-width: 100%;
  position: absolute;
  text-align: center;
  width: 350px;
  z-index: 1;
}
.logo .logo-bg .svg-logo {
  transition: all 0.1s ease-in-out;
  display: block;
  height: 70px;
  width: 350px;
  margin-left: -12px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* footer display style */
.footer {
  margin: 0;
  background-color: #efefef;
  padding: 1rem;
}
.footer div {
  margin: 0 auto;
  text-align: center;
}
.footer ul.menu-list {
  list-style-type: none;
}
.footer ul.menu-list li {
  display: inline;
  margin-right: 15px;
}
.footer ul.menu-list li:last-child {
  margin-right: 0;
}
.footer ul.menu-list li a {
  font-size: 0.9rem;
}
.footer .icon-CULogo {
  margin: 0.5rem auto;
}
.footer .icon-CULogo a img {
  width: 200px;
  height: auto;
}
.footer small {
  font-size: 0.75rem;
  color: #555;
  margin-top: 5px;
}

/* hero banner with image styles */
.hero {
  padding: 0;
  margin: 0;
  width: auto;
  overflow: hidden;
  position: relative;
}
.hero .banner-text {
  box-sizing: border-box;
  padding: 1rem;
}
.hero h1 {
  margin-top: 0;
  padding: 0;
}
.hero p {
  font-size: 1.125em;
}
.hero .caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  bottom: 5px;
  color: #fff;
  font-size: 0.688em;
  line-height: 1em;
  padding: 2px 8px;
  position: absolute;
  right: 5px;
}
.hero .en__component--copyblock {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.hero .en__component--imageblock {
  position: relative;
  z-index: 0;
}
.hero .en__component--imageblock img {
  display: block;
}
.hero.video {
  height: 0 !important;
  padding-bottom: 56% !important;
}
@media (min-width: 520px) {
  .hero {
    height: 350px;
  }
  .hero.ui-sortable .en__component--copyblock {
    height: 85%;
    top: 15%;
  }
  .hero.ui-sortable .banner-text {
    padding-top: 0;
  }
  .hero .banner-text {
    border-radius: 5px;
    color: #000;
    left: 2rem;
    min-width: 220px;
    position: relative;
    top: 2rem;
    width: 40%;
  }
  .hero.dark .banner-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  .hero.light .banner-text {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
  }
  .hero .caption {
    bottom: 5px;
    top: auto;
  }
  .hero .en__component--imageblock {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .hero .en__component--imageblock img {
    height: 350px !important;
    min-height: 100%;
    width: auto !important;
    object-fit: cover;
  }
}
.hero .player {
  height: 0;
  padding-bottom: 56%;
  position: relative;
}
.hero .player iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (min-width: 520px) and (max-width: 768px) {
  .hero {
    height: 250px;
  }
  .hero .en__component--imageblock img {
    height: 300px !important;
    width: auto !important;
  }
  .hero .banner-text {
    left: 1rem;
    top: 1rem;
  }
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .hero p {
    font-size: 14px;
    margin-top: 0;
  }
  .hero.video .caption {
    bottom: 5px;
    max-width: 96%;
  }
}
@media (max-width: 520px) {
  .hero {
    padding: 0 !important;
  }
  .hero .banner-text {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
  }
  .hero .caption {
    background: none;
    padding: 0;
    text-align: right;
  }
  .hero .en__component--imageblock img {
    height: auto !important;
    width: 100% !important;
  }
}

.en__component--advcolumn:not(.hero) h1 {
  color: #c5541c;
  font-family: "Noto Serif", serif;
  font-size: 1.5rem;
  position: relative;
  margin: 0 0 1rem;
  padding: 0.6rem 0;
  text-align: center;
}

/* premium gift display styles */
.en_pgList {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.en_pg {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  box-sizing: border-box;
  min-width: inherit !important;
  width: auto;
  padding: 0 1.875rem;
  position: static;
}

hr.section-hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 2rem 0 1rem;
}

/**  FORMS **/
form .en__component--row {
  position: relative;
}
form .en__component--row:not(:first-of-type) {
  padding: 1rem 0;
}
form .en__component--row:not(:first-of-type):not(:last-of-type):before {
  content: " ";
  border-top: 1px solid #eee;
  display: block;
  left: 3%;
  position: absolute;
  bottom: 0;
  width: 94%;
}
form .en__errorList ~ .en__component--row {
  padding: 0 !important;
}

.en__field input[type=text], .en__field select, .en__field textarea {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0.25rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  height: 2.55rem;
  padding: 0.4rem 0.5rem;
  width: 100%;
}
.en__field .en__field__label {
  display: inline-block;
  width: auto;
}
.en__field .en__field__item {
  display: block;
  padding: 0;
}
.en__field .en__field__element {
  display: block;
}
.en__field .en__field__error {
  color: #e12e05;
  font-size: 0.9rem;
  order: 3;
  padding-top: 0.2rem;
}
.en__field.en__field--validationFailed input[type=text], .en__field.en__field--validationFailed select, .en__field.en__field--validationFailed textarea {
  border-color: #e12e05;
}

.en__field--checkbox .en__field__item {
  align-items: flex-start;
  display: flex !important;
  text-align: left;
}
.en__field--checkbox input {
  margin: 0.2rem;
  flex: 0 0 auto;
}
.en__field--checkbox label {
  margin: 0 0 0 0.5rem;
}
.en__field--checkbox label p {
  margin: 0;
}

.en__component--copyblock h2 {
  color: #c5541c;
  font-family: "Noto Serif", serif;
  font-size: 1.5rem;
  position: relative;
  margin: 0 0 1rem;
  padding: 0.6rem 0;
  text-align: center;
}
.en__component--copyblock h3 {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 1rem;
  text-align: center;
}

.giving-amount {
  text-align: center;
}
.giving-amount .en__field--recurrpay > .en__field__label {
  color: #c5541c;
  font-family: "Noto Serif", serif;
  font-size: 1.5rem;
  position: relative;
  margin: 0 0 1rem;
  padding: 0.6rem 0;
  text-align: center;
}
.giving-amount .en__field--recurrpay .en__field__element--radio .en__field__label {
  font-size: 1.25rem;
}
.giving-amount .en__field--recurrpay .en__field__element--radio, .giving-amount .en__field--donationAmt .en__field__element--radio {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.giving-amount .en__field--recurrpay .en__field__item, .giving-amount .en__field--recurrpay .en__field__element, .giving-amount .en__field--donationAmt .en__field__item, .giving-amount .en__field--donationAmt .en__field__element {
  padding: 0 0.1rem;
}
.giving-amount .en__field--recurrpay .en__field, .giving-amount .en__field--donationAmt .en__field {
  text-align: center;
}
.giving-amount .en__field--recurrpay .en__field__label, .giving-amount .en__field--donationAmt .en__field__label {
  display: block;
  width: auto;
}
.giving-amount .en__field--recurrpay input[type=radio], .giving-amount .en__field--donationAmt input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.giving-amount .en__field--recurrpay .en__field__label--item, .giving-amount .en__field--donationAmt .en__field__label--item {
  border: 1px solid #587624;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-out;
}
.giving-amount .en__field--recurrpay input[type=radio]:checked + label,
.giving-amount .en__field--recurrpay input[type=radio]:focus + label,
.giving-amount .en__field--recurrpay .en__field__label--item:hover, .giving-amount .en__field--donationAmt input[type=radio]:checked + label,
.giving-amount .en__field--donationAmt input[type=radio]:focus + label,
.giving-amount .en__field--donationAmt .en__field__label--item:hover {
  border-color: #587624;
  background-color: #587624;
  color: #fff;
}
.giving-amount .en__field--recurrpay input[type=radio]:checked:focus + label, .giving-amount .en__field--donationAmt input[type=radio]:checked:focus + label {
  border-color: #c5541c;
}
.giving-amount .en__field--recurrpay input[type=radio]:focus + label, .giving-amount .en__field--donationAmt input[type=radio]:focus + label {
  background-color: #475f1d;
}
.giving-amount .en__field--recurrpay .en__field--radio .en__field__item, .giving-amount .en__field--donationAmt .en__field--radio .en__field__item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.2rem;
}
.giving-amount .en__field--donationAmt > .en__field__label {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.giving-amount .en__field--donationAmt .en__field__item {
  padding-bottom: 0.5rem;
}

.en__component--premiumgiftblock {
  border: none !important;
}
.en__component--premiumgiftblock .en__pgHeader {
  border: none;
  background: transparent;
  margin-bottom: 2rem;
  padding: 0;
  text-align: center;
}
.en__component--premiumgiftblock .en__pgList {
  align-items: stretch;
  display: flex;
  justify-content: space-around;
}
.en__component--premiumgiftblock .en__pgList .en__pg {
  border: none;
  display: flex;
  justify-content: center;
}
.en__component--premiumgiftblock .en__pgList .en__pg:not(:last-child) .en__pg__body {
  align-items: flex-start;
}
.en__component--premiumgiftblock .en__pgList .en__pg:not(:last-child) .en__pg__select {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
.en__component--premiumgiftblock .en__pgList .en__pg:not(:last-child) .en__pg__display {
  width: 40%;
  padding-right: 0.2rem;
}
.en__component--premiumgiftblock .en__pgList .en__pg:not(:last-child) .en__pg__select {
  padding: 1rem;
}
.en__component--premiumgiftblock .en__pgList .en__pg:not(:last-child) .en__pg__detail {
  padding: 1rem;
  width: 59%;
}
.en__component--premiumgiftblock .en__pgList .en__pg:not(:last-child) .en__pg__detail h2 {
  font-size: 1.375rem;
  line-height: 1.2;
  margin: 0 0 0.8rem;
}
.en__component--premiumgiftblock .en__pgList .en__pg:not(:last-child) input[type=radio] {
  height: 100%;
  opacity: 0;
  width: 100%;
}
.en__component--premiumgiftblock .en__pgList .en__pg:last-child {
  flex-basis: 100%;
  width: 100%;
}
.en__component--premiumgiftblock .en__pgList .en__pg:last-child .en__pg__body {
  border: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}
.en__component--premiumgiftblock .en__pgList .en__pg:last-child .en__pg__display {
  display: none;
}
.en__component--premiumgiftblock .en__pgList .en__pg:last-child .en__pg__select {
  padding: 1rem;
}
.en__component--premiumgiftblock .en__pgList .en__pg:last-child .en__pg__detail {
  padding: 1rem 1rem 1rem 0;
}
.en__component--premiumgiftblock .en__pgList .en__pg.en__pg--selected .en__pg__body {
  border-color: #587624;
}
.en__component--premiumgiftblock .en__pgList .en__pg__body {
  border: 1px solid #d4d4d4;
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  position: relative;
  padding: 0;
}
.en__component--premiumgiftblock .en__pgList .en__pg__detail {
  padding: 0 1rem 1rem;
}
.en__component--premiumgiftblock .en__pg__display {
  padding: 1rem;
  width: 100%;
}
.en__component--premiumgiftblock .en__pg__image {
  display: block !important;
  height: auto;
  margin: auto;
  max-height: 200px;
  max-width: 100%;
  outline: none !important;
  position: relative;
}
.en__component--premiumgiftblock .en__pg__imageSelector {
  display: none;
}
@media (min-width: 768px) {
  .en__component--premiumgiftblock .en__pgList {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .en__component--premiumgiftblock .en__pgList {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .en__component--premiumgiftblock .en__pgList .en__pg {
    flex-basis: 46%;
    width: 46%;
  }
}
@media (min-width: 520px) {
  .en__component--premiumgiftblock .en__pgList .en__pg__body {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .en__component--premiumgiftblock .en__pgList {
    flex-direction: column;
  }
}

.giving-monthly .en__component--premiumgiftblock .en__pgList .en__pg .en__pg__select {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.giving-monthly .en__component--premiumgiftblock .en__pgList .en__pg input[type=radio] {
  display: none;
}
.giving-monthly .en__component--premiumgiftblock .en__pgList .en__pg.en__pg--selected .en__pg__body {
  border-color: #d4d4d4;
}
.giving-monthly .en__component--premiumgiftblock .en__pgList .en__pg:last-child {
  display: none;
}

.en__field--living-bird-digital > .en__field__label {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 1rem;
  text-align: center;
}

.en__field--living-bird-digital.en__field--checkbox .en__field__item,
.en__field--no-thank-you-gift.en__field--checkbox .en__field__item {
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-info .en__field {
  display: flex;
  flex-basis: 49%;
  flex-direction: column;
}
.contact-info .en__field.en__field--title {
  flex-basis: 20%;
  width: 20%;
}
.contact-info .en__field.en__field--title select {
  min-width: 0;
}
.contact-info .en__field.en__field--firstName, .contact-info .en__field.en__field--lastName {
  flex-basis: 38%;
}
.contact-info .en__field.en__field--emailAddress, .contact-info .en__field.en__field--country, .contact-info .en__field.en__field--phoneNumber {
  flex-basis: 100%;
}
.contact-info .en__field.en__field--city, .contact-info .en__field.en__field--city-town, .contact-info .en__field.en__field--region, .contact-info .en__field.en__field--province, .contact-info .en__field.en__field--postcode {
  flex-basis: 32%;
}
@media (max-width: 768px) {
  .contact-info .en__field {
    flex-basis: 100% !important;
    width: 100% !important;
  }
}

.billing-info input[readonly] {
  background-color: #efefef;
  color: #555;
}
.billing-info input[readonly]:focus {
  outline: none;
}

.payment-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.payment-info.paypal {
  justify-content: space-around;
}
.payment-info .en__field {
  display: flex;
  flex-basis: 49%;
  flex-direction: column;
}
.payment-info .en__field.en__field--payment-choices {
  flex-basis: 100%;
}
.payment-info .en__field--payment-choices {
  align-items: center;
  display: flex;
}
.payment-info .en__field--payment-choices .en__field__element--radio {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.payment-info .en__field--payment-choices .en__field__item, .payment-info .en__field--payment-choices .en__field__element {
  padding: 0 0.1rem;
}
.payment-info .en__field--payment-choices .en__field {
  text-align: center;
}
.payment-info .en__field--payment-choices .en__field__label {
  display: block;
  width: auto;
}
.payment-info .en__field--payment-choices input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.payment-info .en__field--payment-choices .en__field__label--item {
  border: 1px solid #587624;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-out;
}
.payment-info .en__field--payment-choices input[type=radio]:checked + label,
.payment-info .en__field--payment-choices input[type=radio]:focus + label,
.payment-info .en__field--payment-choices .en__field__label--item:hover {
  border-color: #587624;
  background-color: #587624;
  color: #fff;
}
.payment-info .en__field--payment-choices input[type=radio]:checked:focus + label {
  border-color: #c5541c;
}
.payment-info .en__field--payment-choices input[type=radio]:focus + label {
  background-color: #475f1d;
}
.payment-info .en__field--payment-choices .en__field--radio .en__field__item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.2rem;
}
.payment-info .en__field--payment-choices > .en__field__label {
  font-size: 1.25rem;
}
.payment-info .en__field--payment-choices .en__field__item {
  padding: 0.5rem 0.2rem;
}
.payment-info input[readonly], .payment-info textarea[readonly] {
  border: none !important;
  padding: 0 !important;
  height: auto;
  text-align: center;
}
@media (max-width: 520px) {
  .payment-info input[readonly], .payment-info textarea[readonly] {
    height: 4rem;
  }
}
.payment-info .en__field--checkbox > .en__field__label {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.payment-info .en__field--checkbox .en__field__element--checkbox label {
  text-align: center;
  margin: 0;
  width: 100%;
}
.payment-info .en__field--checkbox .en__field__element--checkbox input[type=checkbox] {
  display: none;
}
.payment-info .en__field--NOT_TAGGED_10 {
  flex-basis: 100% !important;
  text-align: center;
}
@media (max-width: 768px) {
  .payment-info .en__field {
    flex-basis: 100% !important;
    width: 100% !important;
  }
}
.payment-info .en__field__element--splitselect {
  display: flex;
  justify-content: space-between;
}
.payment-info .en__field__element--splitselect > .en__field__item {
  flex-basis: 48%;
}

#donation-total-amount {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 768px) {
  #donation-total-amount {
    font-size: 1.375rem;
  }
}

.comodo {
  text-align: center;
}
.comodo img {
  justify-self: auto;
  width: 80px;
}
.comodo #tl_popupSECEV {
  z-index: 9999 !important;
}
@media (min-width: 520px) {
  .comodo {
    position: absolute;
    right: 0;
    top: -56px;
  }
}
@media (max-width: 520px) {
  .comodo {
    margin-top: -1rem;
  }
}

.en__field--total-one-time-charge-text, .en__field--total-monthly-charge-text {
  flex-basis: 100% !important;
  flex-direction: row !important;
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: center;
}
.en__field--total-one-time-charge-text .en__field__element--text, .en__field--total-monthly-charge-text .en__field__element--text {
  display: flex;
  padding: 6px;
}
.en__field--total-one-time-charge-text .en__field__element--text input, .en__field--total-monthly-charge-text .en__field__element--text input {
  font-size: inherit;
  font-weight: bold;
  height: auto !important;
  max-width: 100px;
  text-align: left !important;
  width: auto;
}
.en__field--total-one-time-charge-text .en__field__element--text input:focus, .en__field--total-monthly-charge-text .en__field__element--text input:focus {
  outline: none !important;
}
.en__field--total-one-time-charge-text .en__field__element--text:before, .en__field--total-monthly-charge-text .en__field__element--text:before {
  content: "$";
  display: inline-block;
}
@media (max-width: 520px) {
  .en__field--total-one-time-charge-text label, .en__field--total-monthly-charge-text label {
    max-width: 250px;
  }
  .en__field--total-one-time-charge-text input, .en__field--total-monthly-charge-text input {
    font-size: 2.5rem !important;
  }
  .en__field--total-one-time-charge-text .en__field__element--text:before, .en__field--total-monthly-charge-text .en__field__element--text:before {
    font-size: 2.25rem;
    margin-top: 0.15rem;
  }
}

.bottom {
  text-align: center;
}
.bottom .en__component--formblock {
  display: inline-block;
}
.bottom .en__field--checkbox {
  margin: 18px 0;
  padding: 0;
}

.en__captcha {
  padding: 1.125em 0;
}
.en__captcha .g-recaptcha > div {
  margin: auto;
}

.en__submit {
  text-align: center;
}
.en__submit button {
  background: #c5541c;
  border: none;
  border-radius: 3rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.5rem 2.75rem;
  width: auto;
}
.en__submit button:hover {
  background-color: #a14517;
  color: #fff;
  transition: background-color 0.5s ease;
}

#details .cell {
  display: flex;
}
#details .cell h3 {
  flex-basis: 30%;
  min-width: 200px;
  text-align: left;
}

.shareButtons {
  text-align: center;
}
.shareButtons img {
  height: auto;
  width: 200px;
}

@media print {
  * {
    background: none;
  }

  #main-content {
    box-shadow: none;
    margin: 0;
  }
  #main-content h1.introduction {
    margin-top: 0;
  }
  #main-content #socialShare, #main-content #GTMDataLayer, #main-content #legal, #main-content .menu-list {
    display: none;
  }
}
@page {
  size: portrait;
}

/*# sourceMappingURL=forms.css.map */
