{{!-- This is the base layout for my project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Redesign Static Pages</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  </head>
  <body>

    <!-- Off Canvas Nav-->
	  <nav class="off-canvas position-left" id="offCanvasLeft1" data-off-canvas>

	    <!-- Menu -->
	    <ul class="vertical menu">
		    <li><a href="#" class="close-button" aria-label="Close menu" data-close><span aria-hidden="true">&times;</span></a></li>
	      <li><a href="#">One</a></li>
	      <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
	      <li><a href="#">Four</a></li>
        <li><a href="#">Five</a></li>
        <li><a href="#">Six</a></li>
	    </ul>
    </nav>

    <! This div is my off-canvas page content wrapper -->
    <div class="off-canvas-content" data-off-canvas-content>

	    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
      <header>
          {{> tiny-bar}}
	    	  {{> logo-nav}}
      </header>

	    	{{> body}}


		    {{> footer}}

    </div>

  <script src="{{root}}assets/js/app.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="{{root}}assets/jplayer/jplayer/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="{{root}}assets/jplayer/jplayer/flat.audio.min.js"></script>
	<script type="text/javascript" src="{{root}}assets/slick/slick.min.js"></script>




  <script>

        $(document).ready(function () {

			$('.slick-1').slick({
			  infinite: false,
			  arrows: true,
			  dots: true,
			  centerMode: true,
			  centerPadding: '0',
			  slidesToShow: 1,
			  initialSlide: 0,
			  //autoplay:true,
			  //autoplaySpeed: 1000,
			});


			$('.slick-3').slick({
			  infinite: false,
			  arrows: true,
			  dots: true,
			  slidesToShow: 3,
			  responsive: [
			    {
			      breakpoint: 1023,
			      settings: {
				    arrows: true
			      }
			    },
			    {
			      breakpoint: 666,
			      settings: {
				    infinite: false,
			        arrows: false,
			        centerMode: true,
			        centerPadding: '15px',
			        slidesToShow: 1
			      }
			    }
			  ]
			});

			$('.slick-4').slick({
			  infinite: false,
			  arrows: true,
			  dots: false,
			  //centerMode: true,
			  slidesToShow: 4,
			  responsive: [
			    {
			      breakpoint: 1023,
			      settings: {
				   // infinite: true,
				    arrows: true,
			       // centerMode: true,
			        //centerPadding: '30px',
			        slidesToShow: 3
			      }
			    },
			    {
			      breakpoint: 480,
			      settings: {
				    //infinite: true,
			        arrows: false,
			        centerMode: true,
			        centerPadding: '30px',
			        slidesToShow: 1
			      }
			    }
			  ]
			});

			$('.slick-5').slick({
			  infinite: false,
			  arrows: true,
			  dots: true,
			  //centerMode: true,
			  slidesToShow: 5,
			  //initialSlide: 2,
			  responsive: [
			    {
			      breakpoint: 1024,
			      settings: {
				    //infinite: true,
				    arrows: true,
			        //centerMode: true,
			        //centerPadding: '30px',
			        slidesToShow: 3
			      }
			    },
			    {
			      breakpoint: 480,
			      settings: {
				    //infinite: true,
			        arrows: false,
			        centerMode: true,
			        centerPadding: '30px',
			        slidesToShow: 1

			      }
			    }
			  ]
			});


			$('.slider-for').slick({
			  slidesToShow: 1,
			  slidesToScroll: 1,
			  dots: true,
			  arrows:  true,
			  asNavFor: '.slider-nav',
			  infinite: false,
responsive: [
			    {
			      breakpoint: 640,
			      settings: {
				    infinite: false,
			        arrows: true,
			        centerMode: true,
			        centerPadding: '30px',
			        slidesToShow: 1
			      }
			    }
			  ]
			});

			$('.slider-nav').slick({
			  slidesToShow: 5,
			  slidesToScroll: 1,
			  asNavFor: '.slider-for',
			  arrows: true,
			  infinite: false,
			  dots: false,
			  //centerMode: true,
			  focusOnSelect: true,
			  vertical: true,
			  verticalSwiping: true
			});


	     });



	</script>

  </body>
</html>
